@using CRM.Core
@using TOURDEMO.Utilities
@model tbl_ReviewTour
@{
    var detail = ViewBag.Detail as List<tbl_ReviewTourDetail>;
    int j = 1;
}

<div class="modal fade  bs-modal-lg" id="modal-edit-mark" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Đánh giá</h4>
            </div>
            @using (Html.BeginForm("Update", "ReviewTour"))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreatedDate)
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Tour</label>
                                    <div class="col-lg-9 col-md-9">
                                        <select class="form-control" id="edit-tour" name="TourId" style="width: 100%" >
                                            @foreach (var item in LoadData.TourList())
                                            {
                                                <option value="@item.Id" @(Model != null && Model.TourId == item.Id ? "selected" : "")>[@item.Code] @item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Khách hàng</label>
                                    <div class="col-lg-9 col-md-9">
                                        <select class="form-control" id="edit-customer" name="CustomerId" style="width: 100%">
                                            @foreach (var item in LoadData.CustomerList())
                                            {
                                                <option value="@item.Id" @(Model != null && Model.CustomerId == item.Id ? "selected" : "")>@item.FullName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                @if (detail.Count() > 0)
                                {
                                    foreach (var i in detail)
                                    {
                                        <div class="form-group clonedInputE" id="entryE@(j)">
                                            <label class="control-label col-lg-3 col-md-3">Dịch vụ</label>
                                            <div class="col-lg-4 col-md-4">
                                                <select class="form-control serviceE" id="edit-serviceE@(j)" name="DictionaryId@(j)" style="width: 100%">
                                                    @foreach (var item in LoadData.ServiceList())
                                                    {
                                                        <option value="@item.Id" @(i.DictionaryId == item.Id ? "selected" : "")>@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">Điểm</label>
                                            <div class="col-lg-3 col-md-3">
                                                <input type="number" class="form-control markE" name="Mark@(j)" value="@i.Mark" />
                                            </div>
                                        </div>
                                                    j++;
                                    }
                                <input type="hidden" name="countServiceE" id="countServiceE" value="@detail.Count()" />
                                }
                                else
                                {
                                <div class="form-group clonedInputE" id="entryE1">
                                    <label class="control-label col-lg-3 col-md-3">Dịch vụ</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control serviceE" id="edit-serviceE1" name="DictionaryId1" style="width: 100%">
                                            @foreach (var item in LoadData.ServiceList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Điểm</label>
                                    <div class="col-lg-3 col-md-3">
                                        <input type="number" class="form-control markE" name="Mark1" />
                                        <input type="hidden" name="countServiceE" id="countServiceE" value="1" />
                                    </div>
                                </div>
                                }
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3"></label>
                                    <div class="col-md-2">
                                        <button type="button" id="btnAddRE" class="btn btn-default">Thêm dịch vụ</button>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="button" id="btnDelE" class="btn btn-danger">Xóa dịch vụ</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Ghi chú</label>
                                    <div class="col-lg-9 col-md-9">
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "edit-note" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
