@using CRM.Core
@using TOURDEMO.Utilities

<style>
    .selectForm {
        background-color: #C4DDFD;
    }

    .dataFunc:hover {
        background: #ECF5FF;
    }
</style>
<div class="modal fade  bs-modal-lg" id="modal-setup-role" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thiết lập</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-7" style="height:540px; overflow:scroll" id="ModuleForm">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-filter"></i></span>
                                <input type="text" class="form-control" aria-describedby="sizing-addon3">
                            </div>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in LoadData.ModuleFormList())
                            {
                                <div class="dd-handle">
                                    <a data-toggle="collapse" class="collapsed" href="#collapseS@(i)">
                                        <i class="fa fa-plus"></i>&nbsp;<b>@item.Name</b>
                                    </a>
                                </div>
                                <div id="collapseS@(i)" class="panel-collapse collapse">
                                    @foreach (var it in item.tbl_Form)
                                    {
                                        <div class="dd-handle marginleft dataFunc" data-id="@it.Id"><a>@it.Name</a></div>
                                    }
                                </div>
                                    i++;
                            }
                        </div>
                        <div class="col-md-5">
                            <div class="title-permission">Quyền truy cập</div>
                            <div class="list-permission">
                                @{
                                    int ck = 1;
                                }
                                @foreach (var item in LoadData.ShowDataByList())
                                {
                                    if (ck == 1)
                                    {
                                        <input type="radio" value="@item.Id" checked name="StaffSetupRoleId" />
                                    }
                                    else
                                    {
                                        <input type="radio" value="@item.Id" name="StaffSetupRoleId" />
                                    }
                                    @Html.Raw(item.Name)
                                    <br />
                                    ck++;
                                }
                            </div>
                            <div class="title-permission">Thao tác</div>
                            <div class="list-permission" id="funcData"></div>
                            <input type="hidden" name="listItemIdFunc" value="" id="listItemIdFunc" />
                            <div style="margin-bottom: 20px" align="right">
                                @*<button type="button" id="btnLuuSetupRole" class="btn blue">Lưu</button>*@
                                <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
