@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities

@{
    ViewBag.Title = "Quản lý Phân quyền";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>QUẢN LÝ PHÂN QUYỀN</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" style="height:inherit" href="@Url.Action("Index", "PermissionManage")"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                {<button class="btn btn-primary" href="#modal-insert-grouprole" data-toggle="modal" id="btnAdd"><i class="fa fa-plus"></i>&nbsp;Thêm</button>}
                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                {<button class="btn btn-warning" @*href="#modal-edit-grouprole"*@ data-toggle="modal" id="btnEdit"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>}
                @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                {<button class="btn btn-danger" id="btnRemove"><i class="fa fa-remove"></i>&nbsp;Xóa</button>
                    <form action="@Url.Action("Delete", "PermissionManage")" method="post" style="position:absolute">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="listItemId" name="listItemId" />
                    </form>
                }
                @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                {<button class="btn green" @*href="#modal-add-user"*@ data-toggle="modal" id="btnAddUser"><i class="fa fa-user-plus"></i>&nbsp;Thêm người dùng</button>}
                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                {<button class="btn grey" @*href="#modal-setup-role"*@ data-toggle="modal" id="btnSetupRole"><i class="fa fa-cogs"></i>&nbsp;Thiết lập</button>}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="table-responsive table-custom-format">
                        <table class="table table-striped table-bordered table-hover table-addrow dataTable" id="tableDictionary">
                            <thead>
                                <tr>
                                    <th class="width24"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                                    </th>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Diễn giải</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="width24">
                                            <input type="checkbox" id="cb@(i)" value="@item.Id" name="cb" class="cbItem" onclick="CheckSelect()" />
                                        </td>
                                        <td  style="text-align: center">@i</td>
                                        <td>@item.Name</td>
                                        <td>@Html.Raw(item.Note)</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="tabbable-custom ">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#nguoidung" id="tabnguoidung" data-toggle="tab">Người dùng</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="nguoidung" data-id="nguoidung">
                                @Html.Action("_NguoiDung", "PermissionManage")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>

<div id="info-data-permission">
</div>

<div id="info-data-adduser">
</div>

@Html.Partial("_Partial_InsertRoleGroup", new tbl_Permissions())
@Html.Partial("_Partial_SetupRole")

@section scripts{
<script src="~/Content/ckeditor-basic/ckeditor.js"></script>
    <script src="~/Scripts/controller/permission.js"></script>
}