@model IEnumerable<CRM.Core.tbl_LiabilityPartner>
@{
    int i = 1;
}

@if (ViewBag.IsAdd != null && ViewBag.IsAdd)
{
    <a onclick="btnCreateLiabilityPartner()" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Thêm công nợ</a>
}
<br /><br />
<div class="table-scrollable table-custom-format">
    <table class="table table-striped table-bordered table-hover" id="table-history">
        <thead>
            <tr>
                <th>#</th>
                <th>STT</th>
                <th>Đối tác</th>
                <th>Hình thức thanh toán</th>
                <th>Giá trị dịch vụ</th>
                <th>Đã thanh toán</th>
                <th>Còn lại</th>
                <th>Loại tiền</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td>
                            @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                            {<a style="cursor: pointer" onclick="updateLiabilityPartner(@item.Id)"><i class="fa fa-pencil"></i>&nbsp;Sửa</a><br />}
                            @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                            {<a style="cursor: pointer" onclick="deleteLiabilityPartner(@item.Id)"><i class="fa fa-trash"></i>&nbsp;Xóa</a>}
                        </td>
                        <td  style="text-align: center">@i</td>
                        <td>@(item.tbl_Partner != null ? item.tbl_Partner.Name : "")</td>
                        <td>@(item.PaymentMethod == 1 ? "Tiền mặt" : item.PaymentMethod == 2 ? "Chuyển khoản" : item.PaymentMethod == 3 ? "Thẻ" : "Khác")</td>
                        <td>@string.Format("{0:0,0}", item.ServicePrice).Replace(',', '.')</td>
                        <td>@string.Format("{0:0,0}", item.FirstPayment + item.SecondPayment).Replace(',', '.')</td>
                        <td>@string.Format("{0:0,0}", item.TotalRemaining).Replace(',', '.')</td>
                        <td>@(item.tbl_DictionaryCurrencyType1 != null ? item.tbl_DictionaryCurrencyType1.Name : "")</td>
                        <td>@Html.Raw(item.Note)</td>
                    </tr>
                            i++;
                }
            }
        </tbody>
    </table>
</div>
