@model IEnumerable<CRM.Core.tbl_LiabilityCustomer>
@{
    int i = 1;
}
@if (ViewBag.IsAdd != null && ViewBag.IsAdd)
{
    <a style="cursor: pointer" class="btn btn-primary" onclick="btnCreateLiabilityCustomer()"><i class="fa fa-plus"></i>&nbsp;Thêm công nợ</a>
}
<br /><br />
<div class="table-scrollable table-custom-format">
    <table class="table table-striped table-bordered table-hover" id="table-history">
        <thead>
            <tr>
                <th>#</th>
                <th>STT</th>
                <th>Đợt 1</th>
                <th>Ngày</th>
                <th>Đợt 2</th>
                <th>Ngày</th>
                <th>Đợt 3</th>
                <th>Ngày</th>
                <th>Tổng giá trị HĐ</th>
                <th>Tổng tiền thanh lý</th>
                <th>Tổng tiền còn lại</th>
                <th>Đã thanh toán</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td>
                            @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                            {<a style="cursor: pointer" onclick="updateLiabilityCustomer(@item.Id)"><i class="fa fa-pencil"></i>&nbsp;Sửa</a><br />}
                            @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                            {<a style="cursor: pointer" onclick="deleteLiabilityCustomer(@item.Id)"><i class="fa fa-trash"></i>&nbsp;Xóa</a>}
                        </td>
                        <td  style="text-align: center">@i</td>
                        <td>@string.Format("{0:0,0}", item.FirstPrice).Replace(",", ".")</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", item.FirstDate)</td>
                        <td>@string.Format("{0:0,0}", item.SecondPrice).Replace(",", ".")</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", item.SecondDate)</td>
                        <td>@string.Format("{0:0,0}", item.ThirdPrice).Replace(",", ".")</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", item.ThirdDate)</td>
                        <td>@string.Format("{0:0,0}", item.TotalContract).Replace(",", ".")</td>
                        <td>@string.Format("{0:0,0}", item.TotalLiquidation).Replace(",", ".")</td>
                        <td>@string.Format("{0:0,0}", item.TotalRemaining).Replace(",", ".")</td>
                        <td>
                            <input type="checkbox" @(item.IsPayment == true ? "checked" : "") disabled="disabled" />
                        </td>
                        <td>@Html.Raw(item.Note)</td>
                    </tr>
                            i++;
                }
            }
        </tbody>
    </table>
</div>
