@{
    CRM_TTV.Models.speaker speaker = (CRM_TTV.Models.speaker)TempData["speaker"];
    if (Session["user"] == null)
    {
        Response.Redirect("/Account");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - CRM TTV</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <script>
        var host = location.host;
        if (location.host == "localhost") {
            host = location.host + ":" + location.port+"/";
        }
        console.log(host);
        var control = "";
    </script>
    <link rel="shortcut icon" href="~/Images/logo.png" />
    <link href="~/Content/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/website")
    <link href="~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    <!-- BEGIN HEADER -->
    @Html.Partial("_Partial_Header")
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @*<div class="page-sidebar-wrapper">
            <div id="dinamicMenu" class="page-sidebar navbar-collapse collapse">
            </div>
        </div>*@
        @Html.Partial("_Partial_Navigation")
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            @RenderBody()
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>
        @Html.Partial("_Partial_Notice")
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2017 &copy; CRM TTV

            <a href="#" title="CRM TTV" target="_blank">CRM TTV!</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <div id="popup-view-file"></div>

    <style>
        .page-sidebar .page-sidebar-menu>li>a>i
		{
		    margin-right: 5px; 
            font-size: 15px !important;
		}
    </style>



    <!-- END FOOTER -->
    @Html.Partial("_Partial_ChangePassword")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/website")
    <script src="~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/scriptTemplate.js"></script>
    @*<script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>*@
    <div id="loading" style="width: 200px">
        <div class="alert alert-block alert-danger fade in" align="center" style="height: 55px; padding: 8px 15px;">
            <button type="button" class="close" data-dismiss="alert"></button>
            @*<p><strong>Thông báo!</strong></p>
                <p>Lưu thành công</p>*@
        </div>
    </div>
    <script src="~/Content/assets/pages/scripts/ui-tree.js"></script>
    <script src="~/Content/assets/global/plugins/jstree/dist/jstree.min.js"></script>
    <script src="~/Content/assets/global/scripts/metronic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/SelectCheckbox.js"></script>
    <script src="~/Scripts/jquery.serializeToJSON.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-bottom-right",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>


    @if (speaker != null)
    {
        if (speaker.type == 1)
        {
            <script>
                toastr.success('@speaker.content', '@speaker.title');</script>
        }
        else if (speaker.type == 2)
        {
            <script>
                toastr.error'@speaker.content','@speaker.title');</script>
        }
        else
        {
            <script> toastr.warning('@speaker.content', '@speaker.title');</script>
        }
    }

   
    
    <script type="text/javascript">
        

        $(document).ready(function() {
            control = '@ViewContext.RouteData.Values["Controller"].ToString()';
            
        });
        var counter = 0;
        function moreFields() {
            counter++;
            var newFields = document.getElementById('readroot').cloneNode(true);
            newFields.id = 'field' + counter;
            newFields.style.display = 'block';
            var newField = document.getElementById('field' + counter).find('input:text, input:file, select, textarea')
                .each(function () {
                    for (var i = 0; i < newField.length; i++) {
                        var theName = newField[i].id
                        if (theName)
                            newField[i].id = theName + counter;
                    }
                });
            var insertHere = document.getElementById('writeroot');
            insertHere.parentNode.insertBefore(newFields, insertHere);
        }
    </script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
            var url = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);
            $('[href$="' + url + '"]').parents().addClass("open").css("display", "block");
        });
    </script>

    @*script của tbcategories*@
    <script>

        function clickSortASC(i) {
            var x = $("#sortasc" + i).parent().attr('id');
            window.location.replace(addURLParm($(location).attr('href'), 'order', x + '-ASC').toLowerCase());
        }

        function clickSortDESC(i) {
            var x = $("#sortdesc" + i).parent().attr('id');
            window.location.replace(addURLParm($(location).attr('href'), 'order', x + '-DESC').toLowerCase());
        }

        $("#btnSearch").click(function () {
            var options = {};
            options.url = "/" + $(this).attr('controller') + "/Search";
            options.type = "POST";
            options.data = $('#searchModel').find('select, textarea, input').serializeArray();
            options.success = function (msg) {
                location.reload(true);
                //toastr.success("Done!");
            };
            options.error = function () {
                toastr.error("Error while searching the records!");
            };
            $.ajax(options);

        });

        function viewPageInfo(p) {
            window.location.href = addURLParm($(location).attr('href'), 'page', p).toLowerCase();
        };

        function viewSizeInfo(z) {
            window.location.href = addURLParm($(location).attr('href'), 'size', z).toLowerCase();
        };

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        function addURLParm(myUrl, name, value) {
            var re = new RegExp("([?&]" + name + "=)[^&]+", "");

            function add(sep) {
                return myUrl += sep + name + "=" + encodeURIComponent(value);
            }

            function change() {
                return myUrl = myUrl.replace(re, "$1" + encodeURIComponent(value));
            }
            if (myUrl.indexOf("?") === -1) {
                return add("?");
            } else {
                if (re.test(myUrl)) {
                    return change();
                } else {
                    return add("&");
                }
            }
        }


        $(document).ready(function () {
            var page = getUrlVars()["page"];
            if (page != undefined) {
                $("#page-" + page).addClass("active");
            }
            else {
                $("#page-" + 1).addClass("active");
            }
            var size = getUrlVars()["size"];
            if (size != undefined) {
                $("#page-row").val(size)
            }

        });


        //chuẩn ko cần chỉnh
        $("#btnEdit").click(function (partialView) {
            var selectedIDs = $('input:checkbox:checked',"#rootList").map(function() {
                return $(this).attr('id');
            }).get();

            var options = {};
            options.url = "/" + $(this).attr('controller') + "/edit/" + selectedIDs;
            options.type = "GET";
            options.success = function (msg) {
                $("#modal").html(msg);

                $('.selectpicker').selectpicker({
                    liveSearch: true,
                    showSubtext: true
                });
            };
            options.error = function () {
                alert("Eror...!!!");
            };
            $.ajax(options);
        });


        //chuẩn ko cần chỉnh
        $("#btnCreate").click(function () {
            var options = {};
            options.url = "/" + $(this).attr('controller') + "/Create/";
            options.success = function (msg) {
                $("#modal").html(msg);

                $('.selectpicker').selectpicker({
                    liveSearch: true,
                    showSubtext: true
                });
            };
            options.error = function () {
                //$("#modal").html(msg);
                toastr.error("Đã có lỗi xẩy ra...!!!", "Error");
            };
            $.ajax(options);
        });

        function loadPartial(controller, action, display, params)
        {
            var url = "/" + controller + "/" + action;
            if (params != undefined) {
                if (params == 'getId') {
                    var selectedIDs = $('input:checkbox:checked',"#rootList").map(function() {
                        return $(this).attr('id');
                    }).get();
                    url = "/" + controller + "/" + action + "/" + selectedIDs;
                }
                else {
                    url = "/" + controller + "/" + action + "/" + params;
                }
            }

            var options = {};
            options.url = url;
            options.success = function (msg) {
                if (display != undefined) {

                    if (display.indexOf("url") != -1) {
                        location.href = display.replace('url:','');
                    }
                    else {
                        $("#" + display).html(msg);
                    }

                }
                else {
                    $("#modal").html(msg);
                }
            };
            options.error = function () {
                //$("#modal").html(msg);
                toastr.error("Đã có lỗi xẩy ra...!!!", "Error");
            };
            $.ajax(options);
        }


        function loadRole(controller, action)
        {
            var url = "/" + controller + "/" + action;

            var selectedIDs = $('input:checkbox:checked',"#rootList").map(function() {
                return $(this).attr('id');
            }).get();

            if ($(location).attr('pathname').indexOf('Roles') < 0) {
                selectedIDs = "user_" + selectedIDs;
            }

            var options = {};
            options.url = url;
            options.success = function (msg) {
                $("#modal").html(msg);

                // initiate layout and plugins
                $.getJSON(host + 'Roles/GetRoleType', function (jData) {
                    $.each(jData, function (index, item) {
                        $("#roles").append(
                            $("<option/>").val(item.ID).text(item.name)
                        );
                    });
                });
                //load jstree Data
                $.getJSON(host + 'Roles/FreeViewAll', function (jData) {
                    $('#tree_2').jstree({
                        'plugins': ["wholerow", "checkbox", "types"],
                        'core': {
                            "themes": {
                                "responsive": false
                            },
                            'data': jData
                        },
                        "types": {
                            "default": {
                                "icon": "fa fa-folder icon-state-warning icon-lg"
                            },
                            "file": {
                                "icon": "fa fa-file icon-state-warning icon-lg"
                            }
                        }
                    });
                });

                //checked checkbox jsTree
                $('#tree_2').on('ready.jstree', function() {
                    $.get(host + 'Roles/GetRole/' + selectedIDs, function (data) {
                        $("#tree_2").jstree("select_node", JSON.parse(data));
                    });
                    $("#tree_2").jstree("close_all");
                });

            };
            options.error = function () {
                //$("#modal").html(msg);
                toastr.error("Đã có lỗi xẩy ra...!!!", "Error");
            };
            $.ajax(options);
        }

        function SaveRoles() {
            //alert($('#tree_2').jstree(true).get_selected());
            var roles = $('#tree_2').jstree(true).get_selected();

            var selectedIDs = new Array();
            $("input:checkbox:checked", "#rootList").map(function () {
                selectedIDs.push($(this).attr('id'));
            });

            var idRoles = $('#roles option:selected').attr('value');
            if ($(location).attr('pathname').indexOf('Roles') >= 0) {
                idRoles = -1;
            }

            var options = {};
            options.url = "/Roles/AuthorizationRole/";
            options.type = "POST";
            options.data = {ids: selectedIDs, idRole: idRoles, role : JSON.stringify(roles)};
            options.dataType = "json";
            options.success = function (msg) {
                location.reload(true);
            };
            options.error = function () {
                toastr.error("Đã có lỗi xẩy ra...!!!", "Error");
            };
            $.ajax(options);
        }
        $('body').on('change',"#roles", function(){
            var id = $('#roles option:selected').attr('value');
            $('#tree_2').jstree("deselect_all");
            $.get(host + 'Roles/GetRole/' + id, function (data) {
                $("#tree_2").jstree("select_node", JSON.parse(data));
            });

        });

        $("#LogOff").click(function () {
            loadPartial("Account","LogOff","url:"+host+"Account");
        });


        //chuẩn ko cần chỉnh
        $("#btnRemove").click(function () {
            var selectedIDs = new Array();
            $("input:checkbox:checked", "#rootList").map(function () {
                selectedIDs.push($(this).attr('id'));
            });
            var options = {};
            options.url = "/" + $(this).attr('controller') + "/delete/";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                location.reload(true);
            };
            options.error = function () {
                toastr.error("Đã có lỗi xẩy ra...!!!", "Error");
            };
            $.ajax(options);

        });

        $('body').on('focus',".date-picker", function(){
            $(this).datepicker({
                yearRange: '1930:2099',
                changeMonth: true,
                changeYear: true,
                showAnim: 'bounce',
                dateFormat: "dd-mm-yyyy",
                autoclose: true,
                onSelect: function(dateText, inst) {
                    //alert($(this).val());
                }
            }).focus();
        });


        $('body').on('change',".FillDDL", function(){
            if ($(this).attr('id') == 'idEducation') {
                valueDDLChange('idEducation');
                valueDDLChange('idSpecialized');
            }
            if ($(this).attr('id') == 'idSpecialized') {
                valueDDLChange('idSpecialized');
            }

        });

        function valueDDLChange(id)
        {
            var sid = $('#'+ id).val();
            if (sid == "undefined") {
                sid = $('#'+ id).find("option:first-child").val();
            }

            var controller = $('#'+ id).attr('controller')
            var idChange = $('#'+ id).attr('controller').replace('tb', 'id');
            $.ajax({
                url: '/DDL/' + controller,
                type: "GET",
                data: { id: sid },
                success: function (data) {
                    $("#" + idChange).html(data);
                }
            });
        }

        //NOTE: Chỉ dành cho insert or update 2 form
        $("body").on("click","#submit", function(){
            //KHÔNG XÓA ĐOẠN CMN này
            //var data1 = $('#form1').serializeToJSON({ associativeArrays: false });
            //var data2 = JSON.stringify($("#form2").serializeArray());
            //Create(tbCategory tbCategory, string v2)

            //var data1 = $('#form1').serializeToJSON({ associativeArrays: false });
            //var data2 = $("#form2").serializeArray();
            //Create(tbCategory tbCategory, List<category> v2)

            var data = {
                __RequestVerificationToken: $("[name='__RequestVerificationToken']").val(),
                [$(this).attr('value')] : $('#form1').serializeToJSON({ associativeArrays: false }),
                "v2": $("#form2").serializeArray()
            };

            var selectedId;
            $("input:checkbox:checked", "#rootList").map(function () {
                selectedId = $(this).attr('id');
            });

            var url = "/" + $(this).attr('controller') + "/" + $(this).attr('action');
            if ($(this).attr('action') == "Edit") {
                url += "/" + selectedId;
            }
            var options = {};
            options.url = url;
            options.type = "POST";
            options.data = data;
            options.success = function (msg) {
                location.reload(true);
            };
            options.error = function () {
                toastr.error("Đã có lỗi xẩy ra...!!!", "Error");
            };

            $.ajax(options);
        });

    </script>
    <script>
        var curentID;
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            console.log(curentID);
            if (curentID != undefined) {
                var target = $(e.target).attr("href").replace('#',''); // activated tab
                control = '@ViewContext.RouteData.Values["Controller"].ToString()';
                loadPartial(control,target,target,curentID);
            }
            else {
                toastr.warning("Double Click vào bảng dữ liệu để xem chi tiết...!!!", "Warning");
            }
            
        });

        $(document).ready(function() {
            $("#rootList tr").dblclick(function(e) {
                var control = '@ViewContext.RouteData.Values["Controller"].ToString()';
                curentID = $(this).find("td input:first").attr('id');
                $('tr').not(this).removeClass('active');
                $(this).addClass("active");
                loadPartial(control,"Details","Details",curentID);
                //console.log(control +"/Details/"+  $(this).find("td input:first").attr('id'));
            });
        });
        // xem file pdf, word, excel
        function viewFile(id) {
            console.log(id);
            $("#popup-view-file").html("<div class='modal fade' id='modal-view-file' role='dialog'>" +
                "<div class='modal-dialog modal-lg'>" +
                    "<div class='modal-content'>" +
                        "<div class='modal-header'>" +
                            "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'><i class='fa fa-remove'></i></button>" +
                            "<h4 class='modal-title'>Xem online</h4>" +
                        "</div>" +
                        "<div class='modal-body'>" +
                            "<div id='content-file'>" +
                                "<iframe src='" + $("#txtLink" + id).val() + "' style='width: 100%; height: 450px'></iframe>" +
                            "</div>" +
                        "</div>" +
                        "<div class='modal-footer'>" +
                            "<a download href='" + $("#txtDownload" + id).val() + "' class='btn btn-primary'>Download</a>" +
                            "<button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>" +
                        "</div>" +
                    "</div>" +
                "</div>" +
            "</div>");
            $("#modal-view-file").modal("show");
            $("#content-file img").css("width", "100%");
        }
        // xem hình ảnh
        function viewImage(id) { 
            console.log(id);
            $("#popup-view-file").html("<div class='modal fade' id='modal-view-file' role='dialog'>" +
                "<div class='modal-dialog modal-lg'>" +
                    "<div class='modal-content'>" +
                        "<div class='modal-header'>" +
                            "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'><i class='fa fa-remove'></i></button>" +
                            "<h4 class='modal-title'>Xem online</h4>" +
                        "</div>" +
                        "<div class='modal-body'>" +
                            "<div id='content-file'>" +
                                "<img src='" + $("#txtLink" + id).val() + "' class='img-responsive' />" +
                            "</div>" +
                        "</div>" +
                        "<div class='modal-footer'>" +
                            "<a download href='" + $("#txtDownload" + id).val() + "' class='btn btn-primary'>Download</a>" +
                            "<button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>" +
                        "</div>" +
                    "</div>" +
                "</div>" +
            "</div>");
            $("#modal-view-file").modal("show");
            $("#content-file img").css("width", "100%");
        }
        // function thành công, thất bại
        
        function OnSuccess() {
            $("#modal-insert-contact").modal("hide");
            $("#modal-edit-contact").modal("hide");
            $("#modal-insert-file").modal("hide");
            $("#modal-edit-file").modal("hide");
            $("#modal").modal("hide");
            toastr.success("Đã lưu...!!!", "Success");
        }

        function OnFailure() {
            $("#modal-insert-contact").modal("hide");
            $("#modal-edit-contact").modal("hide");
            $("#modal-insert-file").modal("hide");
            $("#modal-edit-file").modal("hide");
            $("#modal").modal("hide");
            toastr.error("Đã có lỗi xảy ra...!!!", "Error");
        }

        //xóa model data sau khi đóng
        $('body').on('hidden.bs.modal', '.modal', function () {
            $("#modal").html("");
        });
    </script>
</body>
</html>
