@using TOURDEMO.Utilities
@model IEnumerable<TOURDEMO.Models.GuideListViewModel>
@{
    int i = 1;
    string domain = "https://view.officeapps.live.com/op/embed.aspx?src=" + Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
}

<div class="modal fade " id="modal-list-guide" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Danh sách hướng dẫn viên</h4>
            </div>
            <div class="modal-body">
                <div class="table-scrollable table-custom-format">
                    <div class="table-scrollable table-custom-format" id="table-document">
                        <table class="table table-striped table-bordered  table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ảnh HDV</th>
                                    <th>Họ tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Thẻ HDV</th>
                                    <th>Ngày đi</th>
                                    <th>Ngày về</th>
                                    <th>Tài liệu</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="odd gradeX" id="guide@(item.GuideId)">
                                            <td style="text-align: center">@i</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.Image))
                                                {
                                                    <img class="img-responsive" src="/Upload/file/@item.Image" style="width: 150px" />
                                                }
                                                else
                                                {
                                                    <img class="img-responsive" src="/Images/no-image.png" style="width: 150px" />
                                                }
                                            </td>
                                            <td>@item.Name</td>
                                            <td>@item.Birthday</td>
                                            <td>@item.CodeGuide</td>
                                            <td>@item.StartDate</td>
                                            <td>@item.EndDate</td>
                                            <td>
                                                @if (item.File.Count() > 0)
                                                {
                                                    foreach (var f in item.File.ToList())
                                                    {
                                                        string ext = Path.GetExtension(f.FileName);
                                                        ext = ext == null ? "" : ext.ToLower();
                                                        if (ext == ".pdf" || ext == ".jpg" || ext == ".png" || ext == ".txt")
                                                        {
                                                            <a target="_blank" href="/Upload/file/@f.FileName">@f.FileName</a>
                                                        }
                                                        else
                                                        {
                                                            <a target="_blank" href="@domain/Upload/file/@f.FileName">@f.FileName</a>
                                                        }
                                                        <br />
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
