@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model tbl_Customer

@if (Model != null)
{
    <div class="row">
        <div class="col-md-6">
			<p><b>Mã khách hàng:</b> @Model.Code</p>
            <p><b>Khách hàng:</b> @Model.FullName</p>
            <p><b>Mã số thuế:</b> @Model.TaxCode</p>
            <p><b>Điện thoại:</b> @Model.Phone</p>
            <p><b>Email:</b> @(Model.CompanyEmail == null ? Model.PersonalEmail : Model.CompanyEmail)</p>
            <p><b>Skype:</b> @Model.Skype</p>
            <p><b>Giám đốc:</b> @Model.Director</p>
            <p><b>Di động:</b> @Model.MobilePhone</p>
            <p><b>Ngày cập nhật:</b> @string.Format("{0:dd-MM-yyy}", Model.ModifiedDate)</p>
            <p><b>Diễn giải:</b> @Html.Raw(Model.Note)</p>
        </div>
        <div class="col-md-6">
            <p><b>Công ty:</b> @Model.OtherCompany</p>
            <p><b>CMND:</b> @Model.IdentityCard</p>
            @if (Model.PassportCard != null)
            {
                <p><b>Passport:</b> @Model.PassportCard</p>
                <p><b>Ngày cấp:</b> @string.Format("{0:dd-MM-yyyy}", Model.CreatedDatePassport)</p>
                <p><b>Nơi cấp:</b> @(Model.PassportTagId != null ? Model.tbl_TagsPassport.Tag : "")</p>
                <p><b>Ngày hiệu lực:</b> @string.Format("{0:dd-MM-yyyy}", Model.CreatedDatePassport)</p>
                <p><b>Ngày hết hạn:</b> @string.Format("{0:dd-MM-yyyy}", Model.ExpiredDatePassport)</p>
            }
            else
            {
                <p><b>Ngày cấp:</b> @string.Format("{0:dd-MM-yyyy}", Model.CreatedDateIdentity)</p>
                <p><b>Nơi cấp:</b> @(Model.tbl_TagsIdentity != null ? Model.tbl_TagsIdentity.Tag : "")</p>
            }
        </div>
    </div>
}

