@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model IEnumerable<TourListViewModel>
@{ int i = 1;}

@if (ViewBag.IsAdd != null && ViewBag.IsAdd)
{<a class="btn blue" onclick="btnCreateTour()"><i class="fa fa-plus"></i>&nbsp;Thêm</a>}
<br /><br />
<div class="table-scrollable table-custom-format">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>STT</th>
                <th>Code tour</th>
                <th>Tour</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Loại tour</th>
                <th>Trạng thái</th>
                <th>Thời hạn (số ngày)</th>
                <th>Số lượng khách</th>
                <th>Chi phí dự kiến</th>
                <th>Chi phí thực tế</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td>
                            @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                            {<a style="cursor: pointer" onclick="updateTour(@item.SingleTour.Id)"><i class="fa fa-pencil"></i>&nbsp;Sửa</a><br /> }
                            @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                            { <a style="cursor: pointer" onclick="deleteTour(@item.SingleTour.Id)"><i class="fa fa-trash"></i>&nbsp;Xóa</a><br /> }
                            @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                            { 
                                <a style="cursor: pointer" onclick="insertTourGuide(@item.SingleTour.Id)"><i class="fa fa-user-plus"></i>&nbsp;Hướng dẫn viên</a><br />
                                <a style="cursor: pointer" onclick="listTourGuide(@item.SingleTour.Id)"><i class="fa fa-list"></i>&nbsp;Danh sách HDV</a>
                            }
                        </td>
                        <td  style="text-align: center">@i</td>
                        <td>@item.SingleTour.Code</td>
                        <td>@item.SingleTour.Name</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", item.SingleTour.StartDate)</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", item.SingleTour.EndDate)</td>
                        <td>@item.TourType</td>
                        <td>@item.Status</td>
                        <td>@item.SingleTour.NumberDay</td>
                        <td>@item.SingleTour.NumberCustomer</td>
                        <td>@string.Format("{0:0,0}", item.CongNoDoiTac).Replace(",", ".")</td>
                        <td>@string.Format("{0:0,0}", item.CongNoKhachHang).Replace(",", ".")</td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>