@using CRM.Core
@using TOURDEMO.Utilities
@{
    ViewBag.Title = "Thống kê hợp đồng";
    int i = 0;
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>THỐNG KÊ HỢP ĐỒNG</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <div class="note note-info">
        @using (Html.BeginForm("ExportExcel", "ContractReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-3">
                    <label>Kỳ báo cáo</label>
                    <select class="form-control" id="ddlKyBaoCao" style="width: 100%" name="kybaocao">
                        @foreach (var item in LoadData.KyBaoCaoList())
                        {
                            <option value="@i">@item</option>
                            i++;
                        }
                    </select>
                </div>
                <div id="startEndDate">
                    @{
                        DateTime dateFrom = DateTime.Now.AddYears(-2);
                        DateTime dateTo = new DateTime(DateTime.Now.Year, 12, 31);
                    }
                    <div class="col-md-3">
                        <label>Từ ngày</label>
                        <input type="date" id="txtStartDate" value="@dateFrom.ToString("yyyy-MM-dd")" class="form-control" name="tungay" required />
                    </div>
                    <div class="col-md-3">
                        <label>Đến ngày</label>
                        <input type="date" id="txtEndDate" value="@dateTo.ToString("yyyy-MM-dd")" class=" form-control" name="denngay" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Nhân viên</label>
                    <select class="form-control" id="ddlNhanVien" style="width: 100%" name="nhanvien">
                        <option value="0">-- Tất cả --</option>
                        @foreach (var item in LoadData.StaffList())
                        {
                            <option value="@item.Id">@item.FullName</option>
                            i++;
                        }
                    </select>
                </div>
                <div class="col-md-12" style="margin-top: 10px">
                    <a class="btn btn-default" href="@Url.Action("Index", "ContractReport")"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                    <button class="btn btn-success" type="button" id="btnSearch"><i class="fa fa-search"></i>&nbsp;Tìm</button>
                    <button class="btn btn-primary" type="submit" id="export"><i class="icon-action-undo"></i>&nbsp;Export</button>
                    <input type="hidden" id="listItemId" name="listItemId" />
                </div>
            </div>
        }
    </div>
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-red"></i>
                        <span class="caption-subject bold uppercase font-red">Danh sách hợp đồng</span>
                    </div>
                </div>
                <div class="portlet-body" id="data-tour">
                    @Html.Action("_Partial_ListContractReport", "ContractReport")
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>

@section scripts{
    <script src="~/Scripts/controller/reportcontract.js"></script>
}
