@using CRM.Core
@using TOURDEMO.Utilities
@model IEnumerable<tbl_Task>
@{
    int i = 1;
}
<table class="table table-bordered table-hover dataTable" id="tableDictionary">
    <thead>
        <tr>
            <th class="width24"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th class="table-checkbox">
                <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
            </th>
            <th>STT</th>
            <th>Nhiệm vụ</th>
            <th>Người tạo</th>
            <th>Tình trạng</th>
            <th>Loại nhiệm vụ</th>
            <th>Code tour</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Thời hạn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="odd gradeX">
                <td class="width24">
                    <input type="checkbox" value="@item.Id" class="cbItem" name="cb" onclick="CheckSelect()" />
                </td>
                <td  style="text-align: center">@i</td>
                <td class="textalignleft" style="width: 150px">@item.Name</td>
                <td>@item.tbl_Staff.FullName</td>
                <td style="@(item.tbl_DictionaryTaskStatus != null ? "color: #fff; background-color: " + item.tbl_DictionaryTaskStatus.Note + "" : "")">@(item.tbl_DictionaryTaskStatus != null ? item.tbl_DictionaryTaskStatus.Name : "")</td>
                <td class="textalignleft">@(item.tbl_DictionaryTaskType != null ? item.tbl_DictionaryTaskType.Name : "")</td>
                <td>@item.CodeTour</td>
                <td class="textalignleft">@item.Email</td>
                <td>@item.Phone</td>
                <td>@(item.StartDate != null ? item.StartDate.Value.ToString("dd-MM-yyyy") : "")</td>
                <td>@(item.EndDate != null ? item.EndDate.Value.ToString("dd-MM-yyyy") : "")</td>
                <td>@item.Time @item.TimeType</td>
            </tr>
            i++;
        }
    </tbody>
</table>
