@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model IEnumerable<tbl_Task>
@{
    ViewBag.Title = "Quản lý Nhiệm vụ";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>DANH SÁCH NHIỆM VỤ</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <a class="btn btn-default" href="@Url.Action("Index", "TaskManage")"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                    @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                    {<button class="btn btn-primary" href="#modal-insert-task" data-toggle="modal" id="btnAdd"><i class="fa fa-plus"></i>&nbsp;Thêm</button>}
                    @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                    { <button class="btn btn-warning" id="btnEdit"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>}
                    @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                    {<button class="btn btn-danger" id="btnRemove" onclick="confirm('Bạn có chắc chắn muốn xóa?');"><i class="fa fa-remove"></i>&nbsp;Xóa</button>
                        <form action="@Url.Action("Delete", "TaskManage")" method="post" style="position:absolute">
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="listItemId" name="listItemId" />
                        </form>}
                    @if (ViewBag.IsAddGV != null && ViewBag.IsAddGV)
                    {<button class="btn green" href="#modal-assign-task" data-toggle="modal" id="btnAssign"><i class="fa fa-retweet"></i>&nbsp;Giao việc</button>}
                    @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                    {
                        <button class="btn red" href="#modal-work-task" data-toggle="modal" id="btnWork"><i class="fa fa-cogs"></i>&nbsp;Xử lý</button>
                        <button class="btn btn-info" id="btnFinish" onclick="confirm('Bạn có chắc chắn xác nhận hoàn thành nhiệm vụ này không?');"><i class="fa fa-check-square-o"></i>&nbsp;Hoàn thành</button>
                    }
                    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo"><i class="icon-book-open"></i>&nbsp;Ẩn/Hiện cột</button>
                </div>
            </div>
        </div>
    </div>
    <div class="note note-info">
        <div class="row">
            <div class="col-md-2" style="padding-right: 0">
                <input type="date" class="form-control datepicker FilterTask" id="tungay" />
            </div>
            <div class="col-md-2" style="padding-right: 0">
                <input type="date" class="form-control datepicker FilterTask" id="denngay" />
            </div>
            <div class="col-md-2" style="padding-right: 0">
                <select class="form-control FilterTask" id="loai">
                    <option value="0">Loại nhiệm vụ</option>
                    @foreach (var item in LoadData.TaskTypeList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-2" style="padding-right: 0">
                <select class="form-control FilterTask" id="status">
                    <option value="0">Tình trạng</option>
                    @foreach (var item in LoadData.TaskStatusList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-2" style="padding-right: 0">
                <select class="form-control FilterTask" id="mucdo">
                    <option value="0">Mức độ</option>
                    @foreach (var item in LoadData.TaskPriorityList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-2" style="padding-right: 0">

            </div>
        </div>
    </div>
    <div class="row collapse" id="demo">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body" id="data-customer">
                    <div class="row">
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="1" style="color: #333; font-weight: bold">STT</a></li>
                                <li><a class="toggle-vis" data-column="2" style="color: #333; font-weight: bold">Nhiệm vụ</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="3" style="color: #333; font-weight: bold">Người tạo</a></li>
                                <li><a class="toggle-vis" data-column="4" style="color: #333; font-weight: bold">Tình trạng</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="5" style="color: #333; font-weight: bold">Loại nhiệm vụ</a></li>
                                <li><a class="toggle-vis" data-column="6" style="color: #333; font-weight: bold">Code tour</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="7" style="color: #333; font-weight: bold">Email</a></li>
                                <li><a class="toggle-vis" data-column="8" style="color: #333; font-weight: bold">Điện thoại</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="9" style="color: #333; font-weight: bold">Ngày bắt đầu</a></li>
                                <li><a class="toggle-vis" data-column="10" style="color: #333; font-weight: bold">Ngày kết thúc</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="11" style="color: #333; font-weight: bold">Thời gian</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="table-scrollable table-custom-format" id="list-Task">

                        @Html.Action("_Partial_TaskList", "TaskManage")

                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="tabbable-custom ">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#thongtinchitiet" data-toggle="tab" id="tabthongtinchitiet">Chi tiết nhiệm vụ</a>
                            </li>
                            <li>
                                <a href="#nhatkyxuly" data-toggle="tab" id="tabnhatkyxuly">Nhật ký xử lý</a>
                            </li>
                            <li>
                                <a href="#lichhen" data-toggle="tab" id="tablichhen">Lịch hẹn</a>
                            </li>
                            <li>
                                <a href="#dsnhanviendanglamnv" data-toggle="tab" id="tabdsnhanviendanglamnv">DS nhân viên đang làm nhiệm vụ</a>
                            </li>
                            <li>
                                <a href="#tailieumau" data-toggle="tab" id="tabtailieumau">Tài liệu mẫu</a>
                            </li>
                            <li>
                                <a href="#ghichu" data-toggle="tab" id="tabghichu">Ghi chú</a>
                            </li>
                            <li>
                                <a href="#capnhatthaydoi" data-toggle="tab" id="tabcapnhatthaydoi">Cập nhật thay đổi</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="thongtinchitiet" data-id="thongtinchitiet">
                                @*Chi tiết nhiệm vụ*@
                                @Html.Action("_ThongTinChiTiet", "TaskTabInfo")
                            </div>
                            <div class="tab-pane" id="nhatkyxuly" data-id="nhatkyxuly">
                                @*Nhật ký xử lý*@
                                @Html.Action("_NhatKyXuLy", "TaskTabInfo")
                            </div>
                            <div class="tab-pane" id="lichhen" data-id="lichhen">
                                @*Lịch hẹn*@
                                @Html.Action("_LichHen", "TaskTabInfo")
                            </div>
                            <div class="tab-pane" id="dsnhanviendanglamnv" data-id="dsnhanviendanglamnv">
                                @*Danh sách nhân viên đang làm nhiệm vụ*@
                                @Html.Action("_DSNhanVienDangLamNhiemVu", "TaskTabInfo")
                            </div>
                            <div class="tab-pane" id="tailieumau" data-id="tailieumau">
                                @*Tài liệu*@
                                @Html.Action("_TaiLieuMau", "TaskTabInfo")
                            </div>
                            <div class="tab-pane" id="ghichu" data-id="ghichu">
                                @*Ghi chú*@
                                @Html.Action("_GhiChu", "TaskTabInfo")
                            </div>
                            <div class="tab-pane" id="capnhatthaydoi" data-id="capnhatthaydoi">
                                @*Cập nhật thay đổi*@
                                @Html.Action("_CapNhatThayDoi", "TaskTabInfo")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END PAGE BASE CONTENT -->
</div>

@Html.Partial("_Partial_InsertTask", new tbl_Task())
<div id="info-data-task"></div>

<!----- tab note ----->
@Html.Partial("~/Views/TaskOtherTab/_Partial_InsertNote.cshtml", new tbl_TaskNote())
<div id="info-data-note">
</div>

<!----- lịch hẹn ----->
@Html.Partial("~/Views/TaskOtherTab/_Partial_InsertAppointmentHistory.cshtml", new tbl_AppointmentHistory())
<div id="info-data-appoinment">
</div>

<!----- tab document ----->
@Html.Partial("~/Views/TaskOtherTab/_Partial_InsertDocument.cshtml", new tbl_DocumentFile())
<div id="info-data-doc">
</div>

@Html.Partial("_Partial_AssignTask", new tbl_TaskStaff())
@Html.Partial("_Partial_WorkTask", new tbl_TaskHandling())


@section scripts{
    <script src="~/Content/ckeditor-basic/ckeditor.js"></script>
    <script src="~/Scripts/controller/task.js"></script>
    <script>
        CKEDITOR.replace("Note");
        CKEDITOR.replace("insert-note-lichhen");
        CKEDITOR.replace("insert-document-note");
    </script>

    <script>
        function OnSuccess() {
            $('form').trigger("reset");
            CKupdate();
            $("#modal-insert-note").modal("hide");
            $("#modal-edit-note").modal("hide");

            $("#modal-insert-appointment").modal("hide");
            $("#modal-edit-appointment").modal("hide");

            $("#modal-insert-document").modal("hide");
            $("#modal-edit-document").modal("hide");
        }

        /** failure ajax form **/
        function OnFailure() {
            $('form').trigger("reset");
            CKupdate();
            alert("Lỗi, vui lòng kiểm tra lại!");
            $("#modal-insert-note").modal("hide");
            $("#modal-edit-note").modal("hide");

            $("#modal-insert-appointment").modal("hide");
            $("#modal-edit-appointment").modal("hide");

            $("#modal-insert-document").modal("hide");
            $("#modal-edit-document").modal("hide");
        }

        $("#insert-check-notify").click(function () {
            if (this.checked) {
                $("#insert-ngaynhac").removeAttr("disabled", "disabled");
            }
            else {
                $("#insert-ngaynhac").attr("disabled", "disabled");
            }
        });

        /*** Them ghi chu ***/
        function btnCreateNote() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhiệm vụ!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/TaskManage/GetIdTask',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#modal-insert-note").modal("show");
                    }
                });
            }
        }

        /*** Them lich hen ***/
        function btnCreateLichHen() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhiệm vụ!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/TaskManage/GetIdTask',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-tour-lichhen").select2();
                        $("#insert-program-lichhen").select2();
                        $("#insert-task-lichhen").select2();
                        $("#insert-status-lichhen").select2();
                        $("#insert-service-lichhen").select2();
                        $("#insert-partner-lichhen").select2();
                        $("#insert-type-lichhen").select2();
                        $("#insert-partner-lichhen").select2();
                        $("#insert-staff-customer").select2();
                        $("#insert-check-notify").click(function () {
                            if (this.checked) {
                                $("#insert-nhactruoc-lichhen").removeAttr("disabled", "disabled");
                                $("#insert-nhactruoc-lichhen").select2();
                            }
                            else {
                                $("#insert-nhactruoc-lichhen").attr("disabled", "disabled");
                            }
                        });

                        $("#insert-check-repeat").click(function () {
                            if (this.checked) {
                                $("#insert-laplai-lichhen").removeAttr("disabled", "disabled");
                                $("#insert-laplai-lichhen").select2();
                            }
                            else {
                                $("#insert-laplai-lichhen").attr("disabled", "disabled");
                            }
                        });

                        $('#insert-service-lichhen').change(function () {
                            $.getJSON('/CustomerOtherTab/LoadPartner/' + $('#insert-service-lichhen').val(), function (data) {
                                var items = '<option value=' + 0 + '>-- Chọn đối tác --</option>';
                                $.each(data, function (i, ward) {
                                    items += "<option value='" + ward.Value + "'>" + ward.Text + "</option>";
                                });
                                $('#insert-partner-lichhen').html(items);
                            });
                        });

                        $("#modal-insert-appointment").modal("show");
                    }
                });
            }
        }
        /** xóa lịch hẹn **/
        function deleteAppointment(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/TaskOtherTab/DeleteAppointment',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    alert("Xóa dữ liệu thành công!!!");
                    $("#lichhen").html(data);
                }
            });
        }
        /** cập nhật lịch hẹn **/
        function updateAppointment(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/TaskOtherTab/EditAppointment',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-appoinment").html(data);
                    $("#edit-tour-lichhen").select2();
                    $("#edit-program-lichhen").select2();
                    $("#edit-task-lichhen").select2();
                    $("#edit-status-lichhen").select2();
                    $("#edit-service-lichhen").select2();
                    $("#edit-partner-lichhen").select2();
                    $("#edit-type-lichhen").select2();
                    $("#edit-partner-lichhen").select2();
                    $("#edit-staff-customer").select2();
                    $("#edit-check-notify").click(function () {
                        if (this.checked) {
                            $("#edit-nhactruoc-lichhen").removeAttr("disabled", "disabled");
                            $("#edit-nhactruoc-lichhen").select2();
                        }
                        else {
                            $("#edit-nhactruoc-lichhen").attr("disabled", "disabled");
                        }
                    });

                    $("#edit-check-repeat").click(function () {
                        if (this.checked) {
                            $("#edit-laplai-lichhen").removeAttr("disabled", "disabled");
                            $("#edit-laplai-lichhen").select2();
                        }
                        else {
                            $("#edit-laplai-lichhen").attr("disabled", "disabled");
                        }
                    });

                    $('#edit-service-lichhen').change(function () {
                        $.getJSON('/CustomerOtherTab/LoadPartner/' + $('#edit-service-lichhen').val(), function (data) {
                            var items = '<option value=' + 0 + '>-- Chọn đối tác --</option>';
                            $.each(data, function (i, ward) {
                                items += "<option value='" + ward.Value + "'>" + ward.Text + "</option>";
                            });
                            $('#edit-partner-lichhen').html(items);
                        });
                    });

                    CKEDITOR.replace("edit-note-lichhen");
                    $("#modal-edit-appointment").modal("show");
                }
            });
        }

        /** xóa ghi chú **/
        function deleteNote(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/TaskOtherTab/DeleteNote',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    alert("Xóa dữ liệu thành công!!!");
                    $("#ghichu").html(data);
                }
            });
        }

        /** cập nhật ghi chú **/
        function updateNote(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/TaskOtherTab/EditNote',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-note").html(data);
                    CKEDITOR.replace("edit-note-task");
                    $("#modal-edit-note").modal("show");
                }
            });
        }

        /** xóa nhật ký **/
        function deleteHandling(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/TaskOtherTab/DeleteHandling',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    alert("Xóa dữ liệu thành công!!!");
                    $("#nhatkyxuly").html(data);
                }
            });
        }

        function btnCreateFile() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhiệm vụ!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/TaskManage/GetIdTask',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-document-type").select2();
                        $("#insert-tag-document").select2();
                        $("#modal-insert-document").modal("show");
                    }
                });
            }
        }

        $('#FileName').change(function () {
            var data = new FormData();
            data.append('FileName', $('#FileName')[0].files[0]);

            var ajaxRequest = $.ajax({
                type: "POST",
                url: 'TaskOtherTab/UploadFile',
                contentType: false,
                processData: false,
                data: data
            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Onsuccess
            });
        });

        /** xóa tài liệu **/
        function deleteDocument(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/TaskOtherTab/DeleteDocument',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    alert("Xóa dữ liệu thành công!!!");
                    $("#tailieumau").html(data);
                }
            });
        }

        /** cập nhật tài liệu **/
        function updateDocument(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/TaskOtherTab/EditInfoDocument',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-doc").html(data);
                    $("#edit-tag-document").select2();
                    $("#edit-document-type").select2();
                    CKEDITOR.replace("edit-document-note");
                    $("#modal-edit-document").modal("show");
                    /**** update in tab file của khách hàng ****/
                    $("#btnUpdateFile").click(function () {
                        var $this = $(this);
                        var $form = $("#frmUpdateFile");
                        var $parent = $form.parent();
                        var options = {
                            url: $form.attr("action"),
                            type: $form.attr("method"),
                            data: $form.serialize()
                        };

                        $.ajax(options).done(function (data) {
                            $("#modal-edit-document").modal("hide");
                            alert("Lưu dữ liệu thành công!");
                            $("#tailieumau").html(data);
                        });
                        return false;
                    });

                    /** upload file **/
                    $("#edit-file").change(function () {
                        var data = new FormData();
                        data.append('FileName', $('#edit-file')[0].files[0]);
                        var ajaxRequest = $.ajax({
                            type: "POST",
                            url: 'TaskOtherTab/UploadFile',
                            contentType: false,
                            processData: false,
                            data: data
                        });

                        ajaxRequest.done(function (xhr, textStatus) {
                            // Onsuccess
                        });
                    });
                }
            });
        }

        /** xóa tài liệu **/
        function deleteNVWork(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/TaskOtherTab/DeleteWork',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    alert("Xóa dữ liệu thành công!!!");
                    $("#dsnhanviendanglamnv").html(data);
                }
            });
        }
    </script>
}
