
@using TOURDEMO.Utilities
@using TOURDEMO.Models
@model CandidateViewModel

<div class="modal fade  bs-modal-lg" id="modal-insert-candidate" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> Thêm Ứng viên</h4>
            </div>
            @using (Html.BeginForm("Create", "CandidateManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="tabbable-custom" id="tab-insert-candidate">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#thongtincobanCandidate" data-toggle="tab">Thông tin cơ bản</a>
                                </li>
                               
                                <li>
                                    <a href="#thongtinUngtuyen" data-toggle="tab">Thông tin ứng tuyển</a>
                                </li>
                                
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="thongtincobanCandidate">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Code</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="text" class="form-control" required name="candidateDetail.Code" id="insert-code-candidate" value="@GenerateCode.CandidateCode()" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Họ tên</label>
                                                <div class="col-lg-2 col-md-2">
                                                    <select class="form-control" id="insert-nametype" name="" style="width: 100%">
                                                        @foreach (var item in LoadData.NameTypeList())
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.candidateDetail.FullName, new { @class = "form-control", })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ngày sinh</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.candidateDetail.Birthday, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @id = "insert-birthday" })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Nơi sinh</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-birthplace" name="candidateDetail.Birthplace" style="width: 100%">
                                                        @foreach (var item in LoadData.ProvinceList())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                                
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Giới tính</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input id="candidateDetail_Gender" name="candidateDetail.Gender" type="radio" value="0" checked="checked"> Nam
                                                    <input id="candidateDetail_Gender" name="candidateDetail.Gender" type="radio" value="1"> Nữ
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.candidateDetail.Address, new { @class = "form-control" })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Tỉnh/Thành phố</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" style="width: 100%" id="insert-address" name="SingleStaff.TagsId">
                                                        @foreach (var item in LoadData.ProvinceList())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                
                                                <label class="control-label col-lg-2 col-md-2">Điện thoại</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.candidateDetail.Phone, new { @class = "form-control" })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Email</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.candidateDetail.Email, new { @class = "form-control" })
                                                </div>
                                            </div>
                                           
                                            
                                            
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Số CMND</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.candidateDetail.IdentityCard, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ngày cấp</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="date" class="form-control" name="candidateDetail.CreatedDateIdentity" id="insert-identity" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Nơi cấp</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" style="width: 100%" id="insert-placeidentity" name="candidateDetail.IdentityTagId">
                                                        @foreach (var item in LoadData.ProvinceList())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane" id="thongtinUngtuyen">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ngày ứng tuyển</label>
                                                <div class="col-lg-5 col-md-5">
                                                    @Html.TextBoxFor(model => model.candidateDetail.ApplyDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @id = "insert-applydate" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Vị trí ứng tuyển</label>
                                                <div class="col-lg-5 col-md-5">
                                                    @Html.TextBoxFor(model => model.candidateDetail.InformationTechnology, new { @class = "form-control" })
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Nơi ứng tuyển</label>
                                                <div class="col-lg-5 col-md-5">
                                                    @Html.DropDownListFor(model => model.candidateDetail.HeadquarterId, LoadData.ListHeadQuarterItem() ,new { @class = "form-control" })
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">File CV</label>
                                                <div class="col-lg-5 col-md-5">
                                                    <input type="file" id="Image" name="Image" class="form-control" />
                                                </div>
                                               
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

