@model CRM_TTV.tbMenuAndForm

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbMenuAndForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.redirect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.redirect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jsonData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jsonData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.del)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.del)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbMenuAndForm2.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbMenuAndForm2.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
