@model IEnumerable<TOURDEMO.Models.LiabilitiesPartnerReportViewModel>
@{
    int i = 1;
}

<div class="table-scrollable table-custom-format" id="tableDictionary-Wrapper">
    <table class="table table-bordered table-hover dataTable" id="tableDictionary">
        <thead>
            <tr>
                <td class="width24"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table-checkbox">
                    <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                </th>
                <th>Code tour</th>
                <th>Tên tour</th>
                <th>Điểm đến</th>
                <th>Tên đối tác</th>
                <th>Dịch vụ</th>
                <th>Ngày khởi hành</th>
                <th>Tổng GT dịch vụ</th>
                <th>Tổng GT thanh toán</th>
                <th>Tổng GT còn lại</th>
                <th>Điều hành</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="width24">
                            <input type="checkbox" value="@item.Id" id="cb@(item.Id)" class="cbItem" name="cb" onclick="CheckSelect()" />
                        </td>
                        <td>@item.Code</td>
                        <td class="textalignleft">@item.Name</td>
                        <td class="textalignleft">@item.Tag</td>
                        <td class="textalignleft">@item.Partner</td>
                        <td class="textalignleft">@item.Service</td>
                        <td>@item.NgayKhoiHanh</td>
                        <td class="textalignright">@(item.TongGTDichVu == 0 ? "0" : string.Format("{0:0,0}", item.TongGTDichVu))</td>
                        <td class="textalignright">@(item.TongGTThanhToan == 0 ? "0" : string.Format("{0:0,0}", item.TongGTThanhToan))</td>
                        <td class="textalignright">@(item.TongGTConLai == 0 ? "0" : string.Format("{0:0,0}", item.TongGTConLai))</td>
                        <td>@item.NguoiDieuHanh</td>
                    </tr>
                    i++;
                }
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Tổng cộng:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="textalignright" style="padding-right: 5px">@string.Format("{0:0,0}", Model.Sum(p => p.TongGTDichVu))</td>
                <td class="textalignright" style="padding-right: 5px">@string.Format("{0:0,0}", Model.Sum(p => p.TongGTThanhToan))</td>
                <td class="textalignright" style="padding-right: 5px">@string.Format("{0:0,0}", Model.Sum(p => p.TongGTConLai))</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>