@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model CustomerViewModel

<div class="col-md-12" style="border: 1px solid #ccc; margin: 15px 0; padding: 15px; padding-bottom: 0;">
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Mã khách hàng</label>
        <div class="col-lg-10 col-md-10">
            <input type="text" name="SinglePersonal.Code" id="_customerPersonalCode" onblur="checkValidCustomerPersonal();" @*value="@GenerateCode.CustomerCode()"*@ class="form-control" @*readonly="readonly"*@ />
            <span class="existMessage" id="_customerPersonalSpan"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">
            Công ty
            <input type="checkbox" name="check-customer-company" id="check-customer-company" value="true" />
        </label>
        <div class="col-lg-10 col-md-10">
            <select class="form-control" id="customer-company" disabled style="width: 100%" name="SinglePersonal.ParentId">
                @foreach (var item in LoadData.CompanyList())
                {
                    <option value="@item.Id">@item.FullName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Họ tên</label>
        <div class="col-lg-2 col-md-2">
            <select class="form-control" id="customer-quydanh" style="width: 100%" name="SinglePersonal.NameTypeId">
                @foreach (var item in LoadData.NameTypeList())
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-lg-8 col-md-8">
            <input type="hidden" name="SinglePersonal.FullName" id="insert-personal-name" />
            <select id="insert-detail-personal" style="width: 100%" required>
                <option value="0">-- Chọn tên khách hàng cá nhân --</option>
                @foreach (var item in LoadData.PersonalList())
                {
                    <option value="@item.FullName">[@item.Code] @item.FullName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
        <div class="col-lg-4 col-md-4">
            @Html.TextBoxFor(model => model.SinglePersonal.Address, new { @class = "form-control" })
        </div>
        <div class="col-lg-6 col-md-6">
            <select class="form-control" multiple="multiple" style="width: 100%" id="insert-address-personal" name="SinglePersonal.TagsId">
                @foreach (var item in LoadData.DropdownlistLocation())
                {
                    <option value="@item.Id">@item.Tags</option>
                }
            </select>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Di động</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SinglePersonal.MobilePhone, new { @onblur= "CheckMobilePer();", @maxlength = "11", @placeholder = "Nhập 10 - 11 kí tự là số", onkeypress = "return isNumberKey(event);", @class = "form-control", id = "didong-canhan" })
                <span class="existMessage" id="_customerPerMobileSpan"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Điện thoại</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SinglePersonal.Phone, new { @onblur = "CheckPhonePer();", @maxlength = "11", @placeholder = "Nhập 10 - 11 kí tự là số", onkeypress = "return isNumberKey(event);", @class = "form-control", id = "dienthoai-canhan" })
                <span class="existMessage" id="_customerPerPhoneSpan"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Email</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SinglePersonal.PersonalEmail, new { @class = "form-control", id = "email-canhan" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Skype</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SinglePersonal.Skype, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Ngày sinh</label>
            <div class="col-lg-9 col-md-9">
                <input type="date" class="form-control" id="ngaysinh" name="SinglePersonal.Birthday" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Chức vụ</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SinglePersonal.Position, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Phòng ban</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SinglePersonal.Department, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Ngành nghề</label>
            <div class="col-lg-9 col-md-9">
                <select class="form-control" style="width: 100%" id="customer-nghenghiep-personal" name="SinglePersonal.CareerId">
                    @foreach (var item in LoadData.CareerList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Thẻ skyteam</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SinglePersonal.Skyteam, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Nhóm KH</label>
            <div class="col-lg-9 col-md-9">
                <select class="form-control" style="width: 100%" id="customer-nhomkh-personal" name="SinglePersonal.CustomerGroupId">
                    @foreach (var item in LoadData.CustomerGroupList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Nguồn đến</label>
            <div class="col-lg-9 col-md-9">
                <select class="form-control" style="width: 100%" id="customer-nguonden-personal" name="SinglePersonal.OriginId">
                    @foreach (var item in LoadData.OriginList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Số tài khoản</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SinglePersonal.AccountNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Mở tại NH</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SinglePersonal.Bank, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-12 col-md-12" style="text-align: left">Ghi chú</label>
            <div class="col-lg-12 col-md-12">
                @Html.TextAreaFor(model => model.SinglePersonal.Note, new { @class = "form-control", id = "insert-note-personal" })
            </div>
        </div>
    </div>
</div>
@*<div class="col-md-12">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-12 col-md-12">
                    <select class="form-control" style="width: 100%" id="customer-quanly-personal"  name="SinglePersonal.StaffManager">
                        <option>-- Chọn nhân viên quản lý của khách hàng này  --</option>
                        @foreach (var item in LoadData.StaffList())
                        {
                            <option value="@item.Id">@item.FullName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>*@
