@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model CustomerViewModel

<div class="col-md-6">
    <label><b>CMND</b></label>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Số CMND</label>
        <div class="col-lg-8 col-md-8">
            @Html.TextBoxFor(model => model.IdentityCard, new { @class = "form-control", id = "so-cmnd" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Ngày cấp</label>
        <div class="col-lg-8 col-md-8">
            <input type="date" class="form-control" id="insert-ngaycap" name="CreatedDateIdentity">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Nơi cấp</label>
        <div class="col-lg-8 col-md-8">
            <select class="form-control" style="width: 100%" id="country-insert-cmnd" name="IdentityTagId">
                @foreach (var item in LoadData.DropdownlistCountry())
                {
                    <option value="@item.Id">@item.Tags</option>
                }
            </select>
        </div>
    </div>
</div>
<div class="col-md-6">
    <label><b>Passport</b></label>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Số passport</label>
        <div class="col-lg-8 col-md-8">
            @Html.TextBoxFor(model => model.PassportCard, new { @class = "form-control", id = "so-passport" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Ngày cấp</label>
        <div class="col-lg-8 col-md-8">
            <input type="date" class="form-control" id="insert-ngaycap-passport" name="CreatedDatePassport">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Ngày hết hạn</label>
        <div class="col-lg-8 col-md-8">
            <input type="date" class="form-control" id="insert-ngayhethan-passport" name="ExpiredDatePassport">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Nơi cấp</label>
        <div class="col-lg-8 col-md-8">
            <select class="form-control" style="width: 100%" id="country-insert-passport" name="PassportTagId">
                @foreach (var item in LoadData.DropdownlistCountry())
                {
                    <option value="@item.Id">@item.Tags</option>
                }
            </select>
        </div>
    </div>
</div>

<div class="col-md-12">
    <label class="col-md-12"><b>VISA</b></label>
    <div class="col-md-12">
        <button type="button" class="btn btn-default" id="btnAdd"><i class="fa fa-plus"></i></button>
        <button type="button" class="btn btn-danger" id="btnDel"><i class="fa fa-times"></i></button>
    </div>
    <div class="col-md-12 clonedInput" id="entry1">
        <div class=" form-group">
            <label class="control-label col-lg-2 col-md-2">Visa card</label>
            <div class="col-lg-4 col-md-4">
                <input type="text" value="" class="form-control visacard" name="VisaNumber1" id="VisaNumber1" />
            </div>
            <label class="control-label col-lg-2 col-md-2">Ngày cấp</label>
            <div class="col-lg-4 col-md-4">
                <input type="date" class="form-control ngaycapvisa" id="ngaycapvisa1" name="CreatedDateVisa1">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2 col-md-2">Quốc gia</label>
            <div class="col-lg-4 col-md-4">
                <select class="form-control countryvisa" style="width: 100%" id="countryvisa1" name="TagsId1">
                    @foreach (var item in LoadData.DropdownlistCountry())
                    {
                        <option value="@item.Id">@item.Tags</option>
                    }
                </select>
            </div>
            <label class="control-label col-lg-2 col-md-2">Ngày hết hạn</label>
            <div class="col-lg-4 col-md-4">
                <input type="date" class="form-control ngayhethanvisa" id="ngayhethanvisa1" name="ExpiredDateVisa1">
            </div>
        </div>
    </div>
</div>
