@using CRM.Core
@using TOURDEMO.Utilities
@{
    ViewBag.Title = "Biểu mẫu hợp đồng";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>BIỂU MẪU HỢP ĐỒNG</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-default" href="@Url.Action("Index", "ReportsManage")"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="button" id="export"><i class="icon-action-undo"></i>&nbsp;Export</button>
            </div>
            <div class="col-md-4">
                <select class="form-control" id="ddlKhachHang" style="width: 100%" name="khachhang">
                    <option value="0">-- Chọn khách hàng --</option>
                    @foreach (var item in LoadData.CustomerList())
                    {
                        <option value="@item.Id">@item.FullName</option>
                    }
                </select>
            </div>
            <div class="col-md-5">
                <select class="form-control" id="ddlTour" style="width: 100%" name="khachhang">
                    <option value="0">-- Chọn tour --</option>
                    @foreach (var item in LoadData.TourList())
                    {
                        <option value="@item.Id">[@item.Code] @item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-body" id="data-tour">
                    @*@Html.Action("_Partial_FormDetail", "FormContract")*@
                    @Html.Partial("_Partial_FormDetail")
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>

@section scripts{
<script src="~/Content/ckeditor-basic/ckeditor.js"></script>
    <script src="~/Scripts/controller/formcontract.js"></script>
}
