@using TOURDEMO.Utilities
@model CRM.Core.tbl_CustomerContact

<div class="modal fade bs-modal-lg" id="modal-insert-contact" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Người liên hệ</h4>
            </div>
            @using (Ajax.BeginForm("CreateContact", "CustomerOtherTab", null, new AjaxOptions { OnFailure = "OnFailureContact", OnSuccess = "OnSuccessContact", UpdateTargetId = "nguoilienhe" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Họ tên</label>
                                    <div class="col-lg-2 col-md-2">
                                        <select class="form-control" id="insert-quydanh-contact" style="width: 100%" name="NameTypeId">
                                            @foreach (var item in LoadData.NameTypeList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <select class="form-control" multiple="multiple" style="width: 100%" id="insert-address-contact" name="TagsId">
                                            @foreach (var item in LoadData.DropdownlistLocation())
                                            {
                                                <option value="@item.Id">@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Di động</label>
                                        <div class="col-lg-4 col-md-4">
                                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Chức vụ</label>
                                        <div class="col-lg-4 col-md-4">
                                            @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Email</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Phòng ban</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.Department, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Ngày sinh</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="date" class="form-control" id="ngaysinh-contact" name="Birthday" />
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Điện thoại CQ</label>
                                        <div class="col-lg-4 col-md-4">
                                            @Html.TextBoxFor(model => model.CompanyPhone, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
