@using CRM.Core
@using TOURDEMO.Utilities
@model tbl_Ticket

<div class="modal fade" id="modal-insert-ticket" role="document" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thêm mới Vé máy bay</h4>
            </div>
            @using (Ajax.BeginForm("CreateTicket", "CustomerOtherTab", null, new AjaxOptions { OnFailure = "OnFailureCustomer", OnSuccess = "OnSuccessCustomer", UpdateTargetId = "codeve" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Vé máy bay</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @required = "required", id = "CodeTicket", onchange = "checkCodeTicket()" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Loại vé</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" name="TypeId" id="insert-type-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.TicketTypeList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Tình trạng</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" name="StatusId" id="insert-status-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.TicketStatusList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Điểm đi</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" name="StartPlace" id="insert-start-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.TinhThanhQuocGia())
                                            {
                                                <option value="@item.Id">@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Điểm đến</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" name="EndPlace" id="insert-end-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.TinhThanhQuocGia())
                                            {
                                                <option value="@item.Id">@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Ngày đi</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.StartDate, new { @type = "date", @class = "form-control" })
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Ngày về</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.EndDate, new { @type = "date", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Chi phí</label>
                                    <div class="col-lg-7 col-md-7">
                                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <select class="form-control" name="CurrencyId" id="insert-currency-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.CurrencyList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Tour</label>
                                    <div class="col-lg-10 col-md-10">
                                        <select class="form-control" name="TourId" id="insert-tour-ticket" style="width: 100%">
                                            <option>-- Chọn tour --</option>
                                            @foreach (var item in LoadData.TourList())
                                            {
                                                <option value="@item.Id">[@item.Code] @item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Diễn giải</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "insert-note-ticket" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
