@using CRM.Core
@using TOURDEMO.Utilities
@model tbl_Ticket

<div class="modal fade" id="modal-edit-ticket" role="document" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cập nhật Vé máy bay</h4>
            </div>
            @using (Ajax.BeginForm("UpdateTicket", "CustomerOtherTab", null, new AjaxOptions { OnFailure = "OnFailureCustomer", OnSuccess = "OnSuccessCustomer", UpdateTargetId = "codeve" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreateDate)
                @Html.HiddenFor(model => model.Staff)
                @Html.HiddenFor(model => model.CustomerId)
                
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Vé máy bay</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Loại vé</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" name="TypeId" id="edit-type-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.TicketTypeList())
                                            {
                                                <option value="@item.Id" @(Model.TypeId != null && Model.TypeId == item.Id ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Tình trạng</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" name="StatusId" id="edit-status-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.TicketStatusList())
                                            {
                                                <option value="@item.Id" @(Model.StatusId != null && Model.StatusId == item.Id ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Điểm đi</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" name="StartPlace" id="edit-start-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.TinhThanhQuocGia())
                                            {
                                                <option value="@item.Id" @(Model.StartPlace != null && Model.StartPlace == item.Id ? "selected" : "") >@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Điểm đến</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" name="EndPlace" id="edit-end-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.TinhThanhQuocGia())
                                            {
                                                <option value="@item.Id" @(Model.EndPlace != null && Model.EndPlace == item.Id ? "selected" : "")>@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Ngày đi</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Ngày về</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Chi phí</label>
                                    <div class="col-lg-7 col-md-7">
                                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <select class="form-control" name="CurrencyId" id="edit-currency-ticket" style="width: 100%">
                                            @foreach (var item in LoadData.CurrencyList())
                                            {
                                                <option value="@item.Id" @(Model.CurrencyId != null && Model.CurrencyId == item.Id ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Tour</label>
                                    <div class="col-lg-10 col-md-10">
                                        <select class="form-control" name="TourId" id="edit-tour-ticket" style="width: 100%">
                                            <option>-- Chọn tour --</option>
                                            @foreach (var item in LoadData.TourList())
                                            {
                                                <option value="@item.Id" @(Model.TourId != null && Model.TourId == item.Id ? "selected" : "")>[@item.Code] @item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Diễn giải</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "edit-note-ticket" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
