@model IEnumerable<CRM_TTV.tbCompanyContact>

<button type="button" class="btn btn-primary" id="btnCreateContact"><i class="fa fa-plus"></i>&nbsp;Thêm liên hệ</button>
<br />
<input type="hidden" id="idCompany" value="@ViewBag.idCompany" />
<br />
<table class="table table-hover table-responsive table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>
            Họ tên
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            Chức vụ
        </th>
        <th>
            Ghi chú
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="itemContact@(item.idCompanyContact)">
            <td>
                <button class="btn btn-danger btn-xs" onclick="editItem(@item.idCompanyContact)"><i class="fa fa-edit"></i>&nbsp;Sửa</button>
                <button class="btn btn-default btn-xs" onclick="deleteItem(@item.idCompanyContact)"><i class="fa fa-trash"></i>&nbsp;Xóa</button>
            </td>
            <td>
                @item.name
            </td>
            <td>
                @item.phone
            </td>
            <td>
                @item.position
            </td>
            <td>
                @item.note
            </td>
        </tr>
    }
</table>

<script>
    /** popup form thêm liên hệ**/
    $("#btnCreateContact").click(function () {
        var dataPost = {
            id: $("#idCompany").val(),
            tab: "Contacts"
        };
        $.ajax({
            type: "POST",
            url: '/Companies/GetCompanyId',
            data: JSON.stringify(dataPost),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $("#popupData").html(data);
                $("#modal-insert-contact").modal("show");
            }
        });
    })

    function editItem(id){
        var dataPost = { id: id };
        $.ajax({
            type: "POST",
            url: '/Companies/EditContact',
            data: JSON.stringify(dataPost),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $("#popupData").html(data);
                $("#modal-edit-contact").modal("show");
            }
        });
    }

    function deleteItem(id){
        var dataPost = { id: id };
        $.ajax({
            type: "POST",
            url: '/Companies/DeleteContact',
            data: JSON.stringify(dataPost),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#itemContact" + id).hide();
                toastr.success("Đã xóa...!!!", "Success");
            }
        });
    }
</script>