@using TRAVELPLUS.Utilities
@using CRM.Core
@model tbl_TourSchedule

<div class="modal fade  bs-modal-lg" id="modal-insert-tourschedule" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thêm lịch đi tour</h4>
            </div>
            @using (Ajax.BeginForm("CreateScheduleTour", "TourBiddingManage", null, new AjaxOptions { OnFailure = "OnFailureScheduleTour", OnSuccess = "OnSuccessScheduleTour" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Ngày</label>
                                    <div class="col-lg-9 col-md-9">
                                            @Html.TextBoxFor(model => model.Date, new { @type = "date", @class = "form-control"
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Bắt đầu</label>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.StartTime, new { @type = "time", @class = "form-control"
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Kết thúc</label>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.EndTime, new { @type = "time", @class = "form-control"
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Địa điểm</label>
                                    <div class="col-lg-9 col-md-9">
                                        @Html.TextBoxFor(model => model.Place, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Loại dịch vụ</label>
                                    <div class="col-lg-9 col-md-9">
                                        <select class="form-control" id="insert-service-tour" style="width: 100%" name="ServiceId">
                                            <option>-- Chọn loại dịch vụ --</option>
                                            @foreach (var item in LoadData.ServiceList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Đối tác</label>
                                    <div class="col-lg-9 col-md-9">
                                        <select class="form-control" id="insert-partner-tour" style="width: 100%" name="PartnerId">
                                            <option>-- Chọn đối tác --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">DV đối tác</label>
                                    <div class="col-lg-9 col-md-9">
                                        <select class="form-control" id="insert-servicepartner-tour" style="width: 100%" name="ServicesPartnerId">
                                            <option>-- Chọn dịch vụ đối tác --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Địa chỉ</label>
                                    <div class="col-lg-9 col-md-9">
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @readonly="readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12">
                                        @Html.TextAreaFor(model => model.Note, new { id = "insert-schedule-tour", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
