@using CRM.Core
@using TOURDEMO.Utilities
@model IEnumerable<tbl_Contract>

@{
    ViewBag.Title = "Quản lý Hợp đồng";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>DANH SÁCH HỢP ĐỒNG</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" href="@Url.Action("Index", "ContractsManage")"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                {<button class="btn btn-primary" id="btnAdd" href="#modal-insert-contract" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Thêm</button>}
                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                {<button class="btn btn-warning" id="btnEdit"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>}
                @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                {
                    <button class="btn btn-danger" id="btnRemove"><i class="fa fa-remove"></i>&nbsp;Xóa</button>
                    <form action="@Url.Action("Delete", "ContractsManage")" method="post" style="position:absolute">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="listItemId" name="listItemId" />
                    </form>
                }
                @*<button class="btn red" id="btnWork" href="#modal-work-Contract" data-toggle="modal"><i class="fa fa-cogs"></i>&nbsp;Xử lý</button>
                <button class="btn green" id="btnUserSupport" href="#modal-support-Contract" data-toggle="modal"><i class="fa fa-user-plus"></i>&nbsp;Nhân viên hỗ trợ</button>*@
                @if (ViewBag.IsExport != null && ViewBag.IsExport)
                {
                    <label class="btn btn-info fileContainer">
                        <a><i class="icon-action-undo"></i>&nbsp;<input type="file" name="Export" id="btnExport" class="form-control" />&nbsp;Export</a>
                    </label>
                    using (Html.BeginForm("ExportFile", "ContractsManage", FormMethod.Post, new { enctype = "multipart/form-data", id = "exportForm", style ="position: absolute" })) { }
                }
                @if (ViewBag.IsUpdateStatus != null && ViewBag.IsUpdateStatus)
                {
                    <button class="btn green" id="btnUpdateStatus"><i class="fa fa-magic"></i>&nbsp;Cập nhật trạng thái</button>
                }
                <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo"><i class="icon-book-open"></i>&nbsp;Ẩn/Hiện cột</button>
            </div>
        </div>
    </div>
    <div class="row collapse" id="demo">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="1" style="color: #333; font-weight: bold">Mã hợp đồng</a></li>
                                <li><a class="toggle-vis" data-column="2" style="color: #333; font-weight: bold">Ngày ký</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="3" style="color: #333; font-weight: bold">Số ngày</a></li>
                                <li><a class="toggle-vis" data-column="4" style="color: #333; font-weight: bold">Trạng thái</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="5" style="color: #333; font-weight: bold">Code tour</a></li>
                                <li><a class="toggle-vis" data-column="6" style="color: #333; font-weight: bold">Tên tour</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="7" style="color: #333; font-weight: bold">Tổng giá trị</a></li>
                                <li><a class="toggle-vis" data-column="8" style="color: #333; font-weight: bold">Tổng chi phí dự kiến</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="9" style="color: #333; font-weight: bold">Lợi nhuận dự kiến</a></li>
                                <li><a class="toggle-vis" data-column="10" style="color: #333; font-weight: bold">Nhân viên</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="table-responsive table-custom-format" id="tableDictionary-Wrapper">
                        <table class="table table-bordered table-hover dataTable" id="tableDictionary">
                            <thead>
                                <tr>
                                    <td class="width24"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="table-checkbox">
                                        <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                                    </th>
                                    <th>Mã hợp đồng</th>
                                    <th>Ngày ký</th>
                                    <th>Số ngày</th>
                                    <th>Trạng thái</th>
                                    <th>Code tour</th>
                                    <th>Tour</th>
                                    <th>Tổng giá trị</th>
                                    <th>Tổng chi phí dự kiến</th>
                                    <th>Lợi nhuận dự kiến</th>
                                    <th>Nhân viên</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td class="width24">
                                            <input type="checkbox" value="@item.Id" id="cb@(item.Id)" class="cbItem" name="cb" onclick="CheckSelect()" />
                                        </td>
                                        <td>@item.Code</td>
                                        <td>@string.Format("{0:dd-MM-yyyy}", item.ContractDate)</td>
                                        <td>@item.NumberDay</td>
                                        <td style="@(item.StatusContractId != null ? "color: #fff; background-color: " + item.tbl_DictionaryStatus.Note + "" : "")">@(item.StatusContractId != null ? item.tbl_DictionaryStatus.Name : "")</td>
                                        <td>@(item.TourId != null ? item.tbl_Tour.Code : "")</td>
                                        <td class="textalignleft" style="width: 150px">@(item.TourId != null ? item.tbl_Tour.Name : "")</td>
                                        <td>@string.Format("{0:0,0}", item.TotalPrice != null ? item.TotalPrice : 0).Replace(",", ".") @(item.CurrencyId != null ? item.tbl_DictionaryCurrency.Name : "")</td>
                                        <td>@string.Format("{0:0,0}", item.TongDuKien != null ? item.TongDuKien : 0).Replace(",", ".") @(item.CurrencyTDK != null ? item.tbl_DictionaryCurrencyTDK.Name : "")</td>
                                        <td>@string.Format("{0:0,0}", item.LoiNhuanDuKien != null ? item.LoiNhuanDuKien : 0).Replace(",", ".") @(item.CurrencyLNDK != null ? item.tbl_DictionaryCurrencyLNDK.Name : "")</td>
                                        <td>@item.tbl_Staff.FullName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="tabbable-custom" id="tabbable-custom">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#thongtinchitiet" data-toggle="tab" id="tabthongtinchitiet">Thông tin hợp đồng</a>
                            </li>
                            <li>
                                <a href="#tailieumau" data-toggle="tab" id="tabtailieumau">Tài liệu mẫu</a>
                            </li>
                            <li>
                                <a href="#chitiettour" data-toggle="tab" id="tabchitiettour">Chi tiết tour</a>
                            </li>
                            <li>
                                <a href="#lichsuinvoicedoitac" data-toggle="tab" id="tablichsuinvoicedoitac">Lịch sử invoice đối tác</a>
                            </li>
                            @*<li>
                                <a href="#congno" data-toggle="tab" id="tabcongno">Công nợ</a>
                            </li>*@
                            <li>
                                <a href="#lichsulienhe" data-toggle="tab" id="tablichsulienhe">Lịch sử liên hệ</a>
                            </li>
                            <li>
                                <a href="#lichhen" data-toggle="tab" id="tablichhen">Lịch hẹn</a>
                            </li>
                            <li>
                                <a href="#nhatkyxuly" data-toggle="tab" id="tabnhatkyxuly">Nhật ký xử lý</a>
                            </li>
                            <li>
                                <a href="#phieuthu" data-toggle="tab" id="tabphieuthu">Phiếu thu</a>
                            </li>
                            <li>
                                <a href="#capnhatthaydoi" data-toggle="tab" id="tabcapnhatthaydoi">Cập nhật thay đổi</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="thongtinchitiet" data-id="thongtinchitiet">
                                @*Thông tin hợp đồng*@
                                @Html.Action("_ThongTinChiTiet", "ContractTabInfo")
                            </div>
                            <div class="tab-pane" id="tailieumau" data-id="tailieumau">
                                @*File đính kèm / tài liệu*@
                                @Html.Action("_TaiLieuMau", "ContractTabInfo")
                            </div>
                            <div class="tab-pane" id="chitiettour" data-id="chitiettour">
                                @*Chi tiết tour*@
                                @Html.Action("_ChiTietTour", "ContractTabInfo")
                            </div>
                            <div class="tab-pane" id="lichsuinvoicedoitac" data-id="lichsuinvoicedoitac">
                                @*Lịch sử invoice đối tác*@
                                @Html.Action("_LichSuInvoiceDoiTac", "ContractTabInfo")
                            </div>
                            @*<div class="tab-pane" id="congno" data-id="congno">
                                @Html.Action("_CongNo", "ContractTabInfo")
                            </div>*@
                            <div class="tab-pane" id="lichhen" data-id="lichhen">
                                @*Lịch hẹn*@
                                @Html.Action("_LichHen", "ContractTabInfo")
                            </div>
                            <div class="tab-pane" id="nhatkyxuly" data-id="nhatkyxuly">
                                @*Nhật ký xử lý*@
                                @Html.Action("_NhatKyXuly", "ContractTabInfo")
                            </div>
                            <div class="tab-pane" id="phieuthu" data-id="phieuthu">
                                @*Phiếu thu*@
                                @Html.Action("_PhieuThu", "ContractTabInfo")
                            </div>
                            <div class="tab-pane" id="lichsulienhe" data-id="lichsulienhe">
                                @*Lịch sử liên hệ*@
                                @Html.Action("_LichSuLienHe", "ContractTabInfo")
                            </div>
                            <div class="tab-pane" id="capnhatthaydoi" data-id="capnhatthaydoi">
                                @*Cập nhật thay đổi*@
                                @Html.Action("_CapNhatThayDoi", "ContractTabInfo")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>

<!----- view file ----->
<div id="viewfile"></div>

<!--tab Tài Liệu Mẫu-->
@Html.Partial("~/Views/ContractOtherTab/_Partial_InsertDocument.cshtml", new tbl_DocumentFile())
<div id="info-data-document"></div>

<!--tab Lịch Sử Liên Hệ-->
@Html.Partial("~/Views/ContractOtherTab/_Partial_InsertContactHistory.cshtml", new tbl_ContactHistory())
<div id="info-data-contacthistory"></div>

<!----- lịch hẹn ----->
@Html.Partial("~/Views/ContractOtherTab/_Partial_InsertAppointmentHistory.cshtml", new tbl_AppointmentHistory())
<div id="info-data-appoinment"></div>

@Html.Partial("_Partial_InsertContract", new tbl_Contract())
<div id="edit-data"></div>

@Html.Partial("~/Views/ContractOtherTab/_Partial_InsertReceipt.cshtml", new tbl_ContractReceipt())
<div id="info-data-receipt"></div>

<div id="info-status"></div>

@section scripts{
<script src="~/Content/ckeditor-basic/ckeditor.js"></script>
    <script src="~/Scripts/controller/contract.js"></script>
    <script src="~/Scripts/controller/contractother.js"></script>
    <script>
        CKEDITOR.replace("insert-document-note");
        CKEDITOR.replace("insert-note-lienhe");
        CKEDITOR.replace("insert-note-receipt");
        CKEDITOR.replace("insert-note-lichhen");
    </script>
    <script>
        function btnCreateFile() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 hợp đồng!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/ContractsManage/GetIdContract',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-document-type").select2();
                        $("#insert-tag-document").select2();
                        $("#modal-insert-document").modal("show");
                    }
                });
            }
        }

        $('#FileName').change(function () {
            var data = new FormData();
            data.append('FileName', $('#FileName')[0].files[0]);

            var ajaxRequest = $.ajax({
                type: "POST",
                url: 'ContractsManage/UploadFile',
                contentType: false,
                processData: false,
                data: data
            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Onsuccess
            });
        });

        function btnAddLichSuLienHe() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 hợp đồng!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/ContractsManage/GetIdContract',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-type-lienhe").select2();
                        //$("#insert-ngay-lienhe").datepicker();
                        $("#modal-insert-contacthistory").modal("show");
                    }
                });
            }
        }

        function btnAddLichHen() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 hợp đồng!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/ContractsManage/GetIdContract',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-tour-lichhen").select2();
                        $("#insert-program-lichhen").select2();
                        $("#insert-task-lichhen").select2();
                        $("#insert-status-lichhen").select2();
                        $("#insert-service-lichhen").select2();
                        $("#insert-partner-lichhen").select2();
                        $("#insert-type-lichhen").select2();
                        $("#insert-partner-lichhen").select2();
                        $("#insert-staff-customer").select2();
                        ///
                        $("#insert-check-notify").click(function () {
                            if (this.checked) {
                                $("#insert-nhactruoc-lichhen").removeAttr("disabled", "disabled");
                                $("#insert-nhactruoc-lichhen").select2();
                            }
                            else {
                                $("#insert-nhactruoc-lichhen").attr("disabled", "disabled");
                            }
                        });

                        $("#insert-check-repeat").click(function () {
                            if (this.checked) {
                                $("#insert-laplai-lichhen").removeAttr("disabled", "disabled");
                                $("#insert-laplai-lichhen").select2();
                            }
                            else {
                                $("#insert-laplai-lichhen").attr("disabled", "disabled");
                            }
                        });

                        $("#modal-insert-appointment").modal("show");
                    }
                });
            }
        }

        function btnAddReceipt() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 hợp đồng!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/ContractsManage/GetIdContract',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-currency-receipt").select2();
                        $("#modal-insert-receipt").modal("show");
                    }
                });
            }
        }

        /** cập nhật tài liệu **/
        function updateDocument(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/ContractsManage/EditInfoDocument',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-document").html(data);
                    $("#edit-tag-document").select2();
                    $("#edit-document-type").select2();
                    CKEDITOR.replace("edit-document-note");
                    $("#modal-edit-document").modal("show");
                    /**** update in tab file của khách hàng ****/
                    $("#btnUpdateFile").click(function () {
                        var $this = $(this);
                        var $form = $("#frmUpdateFile");
                        var $parent = $form.parent();
                        var options = {
                            url: $form.attr("action"),
                            type: $form.attr("method"),
                            data: $form.serialize()
                        };

                        $.ajax(options).done(function (data) {
                            $("#modal-edit-document").modal("hide");
                            alert("Lưu dữ liệu thành công!");
                            $("#tailieumau").html(data);
                        });
                        return false;
                    });

                    /** upload file **/
                    $("#edit-file").change(function () {
                        var data = new FormData();
                        data.append('FileName', $('#edit-file')[0].files[0]);
                        var ajaxRequest = $.ajax({
                            type: "POST",
                            url: 'ContractsManage/UploadFile',
                            contentType: false,
                            processData: false,
                            data: data
                        });

                        ajaxRequest.done(function (xhr, textStatus) {
                            // Onsuccess
                        });
                    });
                }
            });
        }

        $('#insert-service-lichhen').change(function () {
            $.getJSON('/ContractOtherTab/LoadPartner/' + $('#insert-service-lichhen').val(), function (data) {
                var items = '<option value=' + 0 + '>-- Chọn đối tác --</option>';
                $.each(data, function (i, ward) {
                    items += "<option value='" + ward.Value + "'>" + ward.Text + "</option>";
                });
                $('#insert-partner-lichhen').html(items);
            });
        });

        /** xóa tài liệu **/
        function deleteDocument(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/ContractsManage/DeleteDocument',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    alert("Xóa dữ liệu thành công!!!");
                    $("#tailieumau").html(data);
                }
            });
        }
    </script>
}
