@using CRM.Core;
@using TOURDEMO.Utilities
@using TOURDEMO.Models
@model tbl_Airline

<div class="modal fade  bs-modal-lg" id="modal-edit-airline" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> Sửa Hãng hàng không</h4>
            </div>
            @using (Html.BeginForm("Update", "AirlineManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id);
                @Html.HiddenFor(model => model.StaffId);
                @Html.HiddenFor(model => model.IsDelete);
                @Html.HiddenFor(model => model.CreateDate);
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="tabbable-custom" id="tab-insert-airline">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#thongtincobanairlineedit" data-toggle="tab">Thông tin cơ bản</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="thongtincobanairlineedit">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Tên hãng</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Tên viết tắt</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control", })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Email</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Điện thoại</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.Note, new { @class = "form-control", })
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Người liên hệ</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control", })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">ĐT liên hệ</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", })
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <label class="control-label col-lg-2 col-md-2">Logo</label>
                                                <div class="col-lg-10 col-md-10">
                                                    <input type="file" id="Image" name="Image" class="form-control" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

