@using CRM.Core;
@using TOURDEMO.Models;
@model IEnumerable<AirlineViewModel>

@{
    ViewBag.Title = "Quản lý DS hãng hàng không";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>DANH SÁCH HÃNG HÀNG KHÔNG</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("Index", "AirlineManage")" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                {<button class="btn btn-primary" href="#modal-insert-airline" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Thêm</button>}
                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                {<button class="btn btn-warning" id="btnEdit"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>}
                @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                {<button class="btn btn-danger" id="btnRemove"><i class="fa fa-remove"></i>&nbsp;Xóa</button>
                <form action="@Url.Action("Delete", "AirlineManage")" method="post" style="position:absolute">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="listItemId" name="listItemId" />
                </form>
                }
                @if (ViewBag.IsImport != null && ViewBag.IsImport)
                {<a class="btn green" data-toggle="modal" href="#modal-import-candidate"><i class="icon-action-redo"></i>&nbsp;Import</a>}
                @*@if (ViewBag.IsExport != null && ViewBag.IsExport)
                    {<label class="btn btn-info fileContainer">
                        <a><i class="icon-action-undo"></i>&nbsp;<input type="file" name="Export" id="btnExport" class="form-control" />&nbsp;Export</a>
                    </label>
                        using (Html.BeginForm("ExportFile", "CandidateManage", FormMethod.Post, new { enctype = "multipart/form-data", id = "exportForm", style = "position: absolute" })) { }
                    }*@
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="table-responsive table-custom-format" id="tableDictionary-Wrapper">
                        <table class="table table-bordered table-hover dataTable" id="tableDictionary">
                            <thead>
                                <tr>
                                    <td class="width24"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    

                                </tr>
                                <tr>
                                    <th class="table-checkbox">
                                        <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                                    </th>
                                    <th>Tên hãng</th>
                                    <th>Viết tắt</th>
                                    <th>Địa chỉ</th>
                                    <th>Điện thoại</th>
                                    <th>Người liên hệ</th>
                                    <th>ĐT người liên hệ</th>
                                    <th>Ghi chú</th>
                                    <th>Logo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item  in Model)
                                {
                                    <tr>
                                        <td class="width24">
                                            <input type="checkbox" value="@item.Id" id="cb@(item.Id)" class="cbItem" name="cb" onclick="CheckSelect()" />
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.ShortName</td>
                                        <td>@item.Address</td>
                                        <td>@item.Phone</td>
                                        <td>@item.ContactName</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.Note</td>
                                        <td>@item.Logo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="portlet light bordered" id="tabThongTinChiTiet">
                <div class="portlet-body">
                    <div class="tabbable-custom ">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">Thông tin chi tiết</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="ticket">
                                @Html.Action("Detail", "AirlineManage")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- END PAGE BASE CONTENT -->
</div>
@Html.Partial("_Partial_InsertAirline", new tbl_Airline())
<div id="info-data-airline">
</div>
@*@Html.Partial("_Partial_EditCandidate", new AirlineViewModel())
@Html.Partial("_Partial_ImportCandidate")*@
@Html.Partial("_Partial_InsertTicket", new tbl_AirlineTicket())
@section scripts{
    <script src="~/Scripts/controller/airline.js"></script>

}
