@using TOURDEMO.Utilities

@{
    ViewBag.Title = "Bản đồ";
}

<style>
    .gmap3 {
        border: 1px dashed #C0C0C0;
        width: 100%;
        height: 600px;
    }

    div#panTo {
        max-height: 600px;
        overflow: auto;
    }

    #panTo p {
        padding: 5px;
        margin: 0;
    }
</style>

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>QUẢN LÝ BẢN ĐỒ</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-default" href="@Url.Action("Index", "MapManage")"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="partner-services" onchange="clickChangeService()">
                    <option value="0">-- Tất cả dịch vụ --</option>
                    @foreach (var item in LoadData.ServiceList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" id="partner-name" onchange="keyChangeName()" class="form-control" />
            </div>
            <div class="col-md-3">
                <select class="form-control" id="partner-tag" onchange="clickChangeTag()">
                    <option value="">-- Tất cả tag --</option>
                    @foreach (var item in LoadData.DropdownlistLocation())
                    {
                        <option value="@item.Id">@item.Tags</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="panTo"></div>
                            </div>
                            <div class="col-md-8" id="menuMap">
                                <div id="test1" class="gmap3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>

@section scripts{
    <script src="~/Scripts/controller/mapmanage.js"></script>
}
