@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model TourListViewModel


@if (Model != null)
{
    <div class="row">
        <div class="col-md-6">
            <p><b>Code tour:</b> @Model.Code</p>
            <p><b>Tour:</b> @Model.Name</p>
            <p><b>Ngày bát đầu:</b> @string.Format("{0:dd-MM-yyyy}", Model.StartDate)</p>
            <p><b>Ngày kết thúc:</b> @string.Format("{0:dd-MM-yyyy}", Model.EndDate)</p>
            <p><b>Loại tour:</b> @Model.TourType</p>
        </div>
        <div class="col-md-6">
            <p><b>Trạng thái:</b> @Model.Status</p>
            <p><b>Thời hạn (số ngày):</b> @Model.NumberDay</p>
            <p><b>Số lượng khách:</b> @Model.NumberCustomer</p>
            <p><b>Công nợ khách hàng:</b> @string.Format("{0:0,0}", Model.CongNoKhachHang).Replace(",", ".")</p>
            <p><b>Công nợ đối tác:</b> @string.Format("{0:0,0}", Model.CongNoDoiTac).Replace(",", ".")</p>
        </div>
    </div>
}