@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model tbl_Contract

@if (Model != null)
{
    <div class="row">
        <div class="col-md-6">
            <p><b>Code:</b> @Model.Code</p>
            <p><b>Name:</b> @Model.Name</p>
            <p><b>Tour:</b> @(Model.tbl_Tour != null ? Model.tbl_Tour.Name : "")</p>
            <p><b>Trạng thái:</b> @(Model.StatusContractId != null ? Model.tbl_DictionaryStatus.Name : "")</p>
            <p><b>Ngày Bắt đầu:</b> @(Model.StartDate != null ? Model.StartDate.Value.ToString("dd-MM-yyyy") : "")</p>
            <p><b>Thời gian:</b> @Model.NumberDay</p>
            <p><b>Ghi chú:</b> @Html.Raw(Model.Note)</p>
        </div>

        <div class="col-md-6">
            <p><b>Ngày kết thúc:</b> @(Model.EndDate != null ? Model.EndDate.Value.ToString("dd-MM-yyyy") : "")</p>
            <p><b>Ngày ký hợp đồng:</b> @(Model.ContractDate != null ? Model.ContractDate.Value.ToString("dd-MM-yyyy") : "")</p>
            @if (Model.TotalPrice != null)
            {
                <p><b>Tổng giá trị hợp đồng:</b> @string.Format("{0:0,0}", Model.TotalPrice).Replace(",", ".") @(Model.CurrencyId != null ? Model.tbl_DictionaryCurrency.Name : "")</p>
            }
            else
            {
                <p><b>Tổng giá trị hợp đồng:</b></p>
            }
           
            <p><b>Khách hàng:</b> @(Model.tbl_Customer != null ? Model.tbl_Customer.FullName : "")</p>
            <p><b>Người tạo:</b> @Model.tbl_Staff.FullName</p>
        </div>
    </div>
}
