@using TOURDEMO.Utilities
@model CRM.Core.tbl_StaffSalary

<div class="modal fade bs-modal-lg" id="modal-edit-salary" role="document" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Sửa thông tin lương</h4>
            </div>


            @using (Ajax.BeginForm("UpdateStaffSalary", "StaffOtherTab", null, new AjaxOptions { OnFailure = "OnFailureUpdateSalary", OnSuccess = "OnSuccessUpdateSalary", UpdateTargetId = "salary" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CurSalary)
                @Html.HiddenFor(model => model.StaffId)
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">

                                @if (Session["idStaff"] != null)
                                {
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="col-lg-4 col-md-4 text-right">Nhân viên</label>
                                            <label class="col-lg-5 col-md-5">
                                                @LoadData.GetStaffbyId(int.Parse(Session["idStaff"].ToString())).FullName
                                            </label>
                                        </div>
                                    </div>
                                }

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-lg-4 col-md-4">Lương thử việc (VND)</label>
                                        <div class="col-lg-5 col-md-5">
                                            <input name="StartSalary" id="StartSalary" value="@Model.StartSalary.ToString().Replace(",00", "")" class="form-control" onkeypress="return isNumberKey(event);"/>
                                            @*@Html.TextBoxFor(model => model.StartSalary, new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-lg-4 col-md-4">Lương cơ bản (VND)</label>
                                        <div class="col-lg-5 col-md-5">
                                            <input name="BasicSalary" id="BasicSalary" value="@Model.BasicSalary.ToString().Replace(",00", "")" class="form-control" onkeypress="return isNumberKey(event);"/>
                                            @*@Html.TextBoxFor(model => model.BasicSalary, new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-lg-4 col-md-4">Phụ cấp (VND)</label>
                                        <div class="col-lg-5 col-md-5">
                                            <input name="SubsidySalary" id="SubsidySalary" value="@Model.SubsidySalary.ToString().Replace(",00", "")" class="form-control" onkeypress="return isNumberKey(event);"/>
                                            @*@Html.TextBoxFor(model => model.SubsidySalary, new { @class = "form-control", @id = "valuechange" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label col-lg-4 col-md-4">Ghi chú</label>
                                        <div class="col-lg-8 col-md-8">
                                            @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @id = "note" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/controller/jquery.maskMoney.min.js"></script>
<script src="~/Scripts/controller/jquery.number.js"></script>
<script src="~/Scripts/controller/form-input-mask.js"></script>
<script src="~/Scripts/controller/changecurrency.js"></script>
<script src="~/Scripts/inputmask/inputmask.min.js"></script>
<script src="~/Scripts/inputmask/inputmask.extensions.min.js"></script>
<script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>
<script src="~/Scripts/inputmask/inputmask.numeric.extensions.min.js"></script>

<script>
    $(document).ready(function () {
        $('#StartSalary').number(true, 0);
        $('#SubsidySalary').number(true, 0);
        $('#BasicSalary').number(true, 0);
    })

</script>