@model CRM_TTV.tbStudent
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4"><strong>Mã học viên</strong></label>
                <label class="col-md-8">@Model.code</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Tên học viên</strong></label>
                <label class="col-md-8">@(Model.tbUser != null ? Model.tbUser.fullName : "")</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Thời gian còn lại</strong></label>
                <label class="col-md-8">@Model.timeLess</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Trạng thái</strong></label>
                <label class="col-md-8">@Model.status</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4"><strong>Lớp học</strong></label>
                <label class="col-md-8">@(Model.tbClass != null ? Model.tbClass.name : "")</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Xếp loại</strong></label>
                <label class="col-md-8">@(Model.tbCategory != null ? Model.tbCategory.name : "")</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Ngày bắt đầu học</strong></label>
                <label class="col-md-8">@string.Format("{0:dd-MM-yyyy}", Model.startDate)</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Ngày kết thúc</strong></label>
                <label class="col-md-8">@string.Format("{0:dd-MM-yyyy}", Model.endDate)</label>
            </div>
        </div>
    </div>
</div>