@using TOURDEMO.Models
@using CRM.Core
@model IEnumerable<CRM.Core.tbl_MailConfig>

@{
    ViewBag.Title = "Cấu hình email gửi";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>CẤU HÌNH EMAIL GỬI</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("Index", "MailConfig")" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                {<button class="btn btn-primary" data-toggle="modal" href="#modal-insert-mailconfig"><i class="fa fa-plus"></i>&nbsp;Thêm</button>}
                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                {<button class="btn btn-warning" id="btnEdit"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>}
                @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                {<button class="btn btn-danger" id="btnRemove"><i class="fa fa-remove"></i>&nbsp;Xóa</button>
                    <form action="@Url.Action("Delete", "MailConfig")" method="post" style="position:absolute">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="listItemId" name="listItemId" />
                    </form>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="table-responsive table-custom-format" id="tableDictionary-Wrapper">
                        <table class="table table-bordered table-hover dataTable" id="tableDictionary">
                            <thead>
                                <tr>
                                    <th class="width24"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th class="table-checkbox">
                                        <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                                    </th>
                                    <th>Email</th>
                                    <th>Tên hiển thị</th>
                                    <th>Server</th>
                                    <th>Port</th>
                                    <th>Enable SSL</th>
                                    <th>Mặc định</th>
                                    <th>Gửi tối đa/ngày</th>
                                    <th>Ngày nhập</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="width24">
                                            <input type="checkbox" id="cb@(item.Id)" class="cbItem" value="@item.Id" name="cb" onclick="CheckSelect()" />
                                        </td>
                                        <td>@item.Email</td>
                                        <td>@item.Username</td>
                                        <td>@item.Server</td>
                                        <td>@item.Port</td>
                                        <td><i class="fa fa-@(item.EnableSsl == true ? "check-square-o" : "square-o")"></i></td>
                                        <td><i class="fa fa-@(item.IsForgotPassword == true ? "check-square-o" : "square-o")"></i></td>
                                        <td>@item.SendMax</td>
                                        <td>@string.Format("{0:dd/MM/yyyy}", item.DateModify)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END PAGE BASE CONTENT -->
</div>

@Html.Partial("_Partial_InsertMailConfig", new tbl_MailConfig())
<div id="info-data"></div>

@section scripts{
<script src="~/Content/ckeditor-basic/ckeditor.js"></script>
    <script src="~/Scripts/controller/mailconfig.js"></script>
}
