@using CRM.Core
@using TOURDEMO.Utilities
@model tbl_Partner
@{
    var services = ViewBag.Services as IEnumerable<tbl_ServicesPartner>;
    int i = 1;


    var banks = ViewBag.Banks as IEnumerable<tbl_Bank>;
    int j = 1;

    string domain = "https://view.officeapps.live.com/op/embed.aspx?src=" + Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
}

<div class="modal fade  bs-modal-lg" id="modal-edit-partner" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Đối tác</h4>
            </div>
            @using (Html.BeginForm("Update", "PartnerManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.StaffId)
                @Html.HiddenFor(model => model.xMap)
                @Html.HiddenFor(model => model.yMap)
                @Html.HiddenFor(model => model.AddressMap)
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Dịch vụ</label>
                                    <div class="col-lg-8 col-md-8">
                                        <select class="form-control" id="edit-servicepartner" name="DictionaryId" style="width: 100%" >
                                            @foreach (var item in LoadData.ServiceList())
                                            {
                                                <option value="@item.Id" @(Model != null && item.Id == Model.DictionaryId ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Mã đối tác</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Quốc gia</label>
                                    <div class="col-lg-8 col-md-8">
                                        <select class="form-control" id="edit-countrypartner" name="CountryId" style="width: 100%" >
                                            @foreach (var item in LoadData.DropdownlistCountry())
                                            {
                                                <option value="@item.Id" @(Model != null && item.Id == Model.CountryId ? "selected" : "")>@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Tên đối tác</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control",  })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control",  })
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <select id="edit-addresspartner" class="form-control" name="TagsLocationId" multiple="multiple" style="width: 100%" >
                                            @foreach (var item in LoadData.DropdownlistLocation())
                                            {
                                                <option value="@item.Id" @(Model.TagsLocationId != null && Model.TagsLocationId.Split(',').Contains(item.Id.ToString()) ? "selected" : "")>@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Giám đốc</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.Director, new { @class = "form-control",  })
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Phân loại</label>
                                    <div class="col-lg-2 col-md-2">
                                        @Html.RadioButtonFor(model => model.Outbound, false, new { id = "insert-noidia", @checked = "checked" })
                                        <label for="insert-noidia">Nội địa</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        @Html.RadioButtonFor(model => model.Outbound, true, new { id = "insert-outbound", @checked = "checked" })
                                        <label for="insert-outbound">Outbound</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Nhân viên liên hệ</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.StaffContact, new { @class = "form-control",  })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Điện thoại</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control",  })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Email</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control",  })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Skype</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Skype, new { @class = "form-control",  })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Mã số thuế</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.TaxCode, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Quy mô đối tác</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.QuyMoDoiTac, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">GPKD</label>
                                    <div class="col-lg-8 col-md-8">
                                        @if (Model.BusinessLicense != null)
                                        {
                                            <a target="_blank" style="margin-top:10px;" href="@domain/Upload/file/@Model.BusinessLicense">@Model.BusinessLicense</a>
                                        }
                                        else
                                        {
                                            <input type="text" readonly="readonly" style="color:red;border:none;" class="form-control" name="" id="GPKD-partner" value="Chưa upload GPKD"/>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">GPKD mới</label>
                                    <div class="col-lg-8 col-md-8">
                                        <input type="file" class="form-control" name="FileName" id="insert-GPKD-partner" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 "> @*clonedInputBank" id="bankClone1">*@
                            @if (banks != null && banks.Count() > 0)
                            {
                                foreach (var bank in banks)
                                {
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2 bankNameClass" id="lblname@(j)">Tên ngân hàng @j</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="text" class="form-control bankName" name="TenNganHang@(j)" value="@bank.Name" />

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2 bankAccClass" id="lblaccount@(j)">Số tài khoản @j</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="text" class="form-control bankAccount" name="SoTaiKhoan@(j)" value="@bank.Account" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2 bankNoteClass" id="lblbankNote@(j)">Ghi chú @j</label>
                                        <div class="col-lg-10 col-md-10">
                                            <textarea class="form-control bankNote" name='BankNote@(j)'>@bank.Note</textarea>
                                        </div>
                                    </div>
                                    j++;
                                }

                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 bankNameClass" id="lblname1">Tên ngân hàng</label>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="text" class="form-control bankName" name="TenNganHang1" value="" />

                                    </div>
                                </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2 bankAccClass" id="lblaccount1">Số tài khoản</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="text" class="form-control bankAccount" name="SoTaiKhoan1" value="" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2 bankNoteClass" id="lblbankNote1">Ghi chú</label>
                                        <div class="col-lg-10 col-md-10">
                                            <textarea class="form-control bankNote" name='BankNote1'></textarea>
                                        </div>
                                    </div>
                            }
                            </div>
                            <div class="col-md-12" id="">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2"></label>
                                    <div class="col-lg-10 col-md-10">
                                        <button type="button" class="btn btn-default" id="btnAddBank"><i class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-default btn-outline" id="btnDelBank"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="countSTK" name="countSTK" value="" />





                            <div class="col-md-12">
                                <h4>Các dịch vụ cung cấp</h4>
                                <button class="btn btn-danger" id="btnDelE"><i class="fa fa-times"></i></button>
                                <br />
                                @if (services != null && services.Count() > 0)
                                {
                                    foreach (var item in services)
                                    {
                                        <div class="clonedInputE" id="entryE@(i)">
                                            <div class="form-group">
                                                <div class="col-lg-6 col-md-6">
                                                    <input type="text" value="@item.Name" class="form-control servicenameE" placeholder="Tên dịch vụ..." name="PartnerServiceNameE@(i)" />
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="text" value="@item.Price" class="form-control servicepriceE" placeholder="Giá..." name="PartnerServicePriceE@(i)" />
                                                </div>
                                                <div class="col-lg-2 col-md-2 ">
                                                    <select id="edit-currencyE@(i)" name="PartnerServiceCurrencyE@(i)" style="width: 100%" class="form-control servicecurrencyE">
                                                        @foreach (var it in LoadData.CurrencyList())
                                                        {
                                                            <option value="@it.Id" @(item.CurrencyId != null && item.CurrencyId == it.Id ? "selected" : "")>@it.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12 col-md-12">
                                                    <textarea class="form-control servicenoteE" placeholder="Ghi chú..." id="edit-noteservicepartnerE@(i)" name="PartnerServiceNoteE@(i)">
                                                        @item.Note
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                                        i++;
                                    }
                                }
                                else
                                {
                                    <div class="clonedInputE" id="entryE1">
                                        <div class="form-group">
                                            <div class="col-lg-6 col-md-6">
                                                <input type="text" class="form-control servicenameE" placeholder="Tên dịch vụ..." name="PartnerServiceNameE1" />
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <input type="text" class="form-control servicepriceE" placeholder="Giá..." name="PartnerServicePriceE1" />
                                            </div>
                                            <div class="col-lg-2 col-md-2">
                                                <select id="edit-currencyE1" name="PartnerServiceCurrencyE1" style="width: 100%" class="form-control servicecurrencyE">
                                                    @foreach (var item in LoadData.CurrencyList())
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12">
                                                <textarea class="form-control servicenoteE" placeholder="Ghi chú..." id="edit-noteservicepartnerE1" name="PartnerServiceNoteE1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="countServiceE" name="countServiceE" value="1" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="button" class="btn btn-success" id="btnAddE">Thêm dịch vụ cung cấp</button>
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
                <input type="hidden" id="countServiceE" name="countServiceE" value="@services.Count()" />
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
