@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model IEnumerable<PartnerExportViewModel>
@{
    int i = 1;
}

<script>
    $("#tbl-data-import").on("change", ".cbItem", function () {
        var ItemID = $(this).val();
        var currentlistItemID = $("#listItemIdI").val();
        var stringBranchID = "";
        if ($(this).prop('checked')) {
            currentlistItemID += ItemID + ",";
            $("#listItemIdI").val(currentlistItemID);
        } else {
            $("#listItemIdI").val(currentlistItemID.replace(ItemID + ",", ""));
        }
    });
    function DeleteImport() {
        if ($("#listItemIdI").val() == "") {
            alert("Vui lòng chọn mục cần xóa !");
            return false;
        }
        var dataPost = { listItemId: $("#listItemIdI").val() };
        $.ajax({
            type: "POST",
            url: '/PartnerManage/DeleteImport',
            data: JSON.stringify(dataPost),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $("#import-data-partner").html(data);
                $("#listItemIdI").val("");
            }
        });
    }
    function SaveImport() {
        var dataPost = { id: $("input[name='CheckImport']:checked").val() }
        $.ajax({
            type: "POST",
            data: JSON.stringify(dataPost),
            url: '/PartnerManage/SaveImport',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                alert("Đã lưu!");
                window.location.href = '/PartnerManage';
            }
        });
    }
</script>

<div class="table-responsive table-custom-format">
    <table class="table table-striped table-bordered table-hover" id="tbl-data-import">
        <thead>
            <tr>
                @*<th>#</th>*@
                <th>STT</th>
                <th>DỊCH VỤ</th>
                <th>TÊN ĐỐI TÁC</th>
                <th>QUY MÔ</th>
                <th>QUỐC GIA</th>
                <th>ĐỊA ĐIỂM</th>
                <th>NGƯỜI LIÊN HỆ</th>
                <th>ĐIỆN THOẠI</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        <input type="checkbox" value="@i" id="cb@i" class="cbItem" name="cb" onclick="CheckSelect()" />
                    </td>*@
                    <td  style="text-align: center">@i</td>
                    <td>@item.DichVu</td>
                    <td>@item.TenDoiTac</td>
                    <td>@item.QuyMo</td>
                    <td>@item.QuocGia</td>
                    <td>@item.DiaDiem</td>
                    <td>@item.NguoiLienHe</td>
                    <td>@item.DienThoai</td>
                    <td>@item.Email</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
