@using TOURDEMO.Models;
@using TOURDEMO.Utilities;
@model IEnumerable<PartnerViewModel>

<div class="table-scrollable table-custom-format" id="tableDictionary-Wrapper">
    <table class="table table-bordered table-hover dataTable" id="tableDictionary">
        <thead>
            <tr>
                <td class="width24"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table-checkbox">
                    <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                </th>
                <th>CODE</th>
                <th>Tên đối tác</th>
                <th>Quy mô</th>
                <th>Phân loại</th>
                <th>Quốc gia</th>
                <th>Tags</th>
                <th>Người liên hệ</th>
                <th>Điện thoại</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd gradeX">
                    <td class="width24">
                        <input type="checkbox" id="cb@(item.Id)" class="cbItem" value="@item.Id" name="cb" onclick="CheckSelect()" />
                    </td>
                    <td>@item.Code</td>
                    <td class="textalignleft" style="width: 150px">@item.Name</td>
                    <td class="textalignleft" style="width: 150px">@Html.Raw(item.QuyMo)</td>
                    <td>@item.KhuVuc</td>
                    <td class="textalignleft">@item.Country</td>
                    <td class="textalignleft">@item.Tags</td>
                    <td class="textalignleft">@item.Contact</td>
                    <td>@item.Phone</td>
                    <td class="textalignleft">@item.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>

