@using CRM.Core
@using TOURDEMO.Utilities
@model tbl_Partner


<div class="modal fade  bs-modal-lg" id="modal-insert-partner" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Đối tác</h4>
            </div>
            @using (Html.BeginForm("Create", "PartnerManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Dịch vụ</label>
                                    <div class="col-lg-8 col-md-8">
                                        <select class="form-control" id="insert-servicepartner" onchange="getcode()" name="DictionaryId" style="width: 100%" >
                                            @foreach (var item in LoadData.ServiceList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Mã đối tác</label>
                                    <div class="col-lg-8 col-md-8">
                                        <input type="text" name="Code" id="Code" value="@GenerateCode.PartnerCode(0)" class="form-control"  readonly="readonly" />                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Quốc gia</label>
                                    <div class="col-lg-8 col-md-8">
                                        <select class="form-control" id="insert-countrypartner" name="CountryId" style="width: 100%" >
                                            @foreach (var item in LoadData.DropdownlistCountry())
                                            {
                                                <option value="@item.Id">@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Tên đối tác</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control",  })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control",  })
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <select id="insert-addresspartner" class="form-control" name="TagsLocationId" multiple="multiple" style="width: 100%" >
                                            @foreach (var item in LoadData.DropdownlistLocation())
                                            {
                                                <option value="@item.Id">@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Giám đốc</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.Director, new { @class = "form-control",  })
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Phân loại</label>
                                    <div class="col-lg-2 col-md-2">
                                        @Html.RadioButtonFor(model => model.Outbound, false, new { id = "insert-noidia", @checked="checked" })
                                        <label for="insert-noidia">Nội địa</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        @Html.RadioButtonFor(model => model.Outbound, true, new { id = "insert-outbound", @checked = "checked" })
                                        <label for="insert-outbound">Outbound</label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Nhân viên liên hệ</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.StaffContact, new { @class = "form-control",  })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Điện thoại</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control",  })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Email</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control",  })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Skype</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Skype, new { @class = "form-control",  })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Mã số thuế</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.TaxCode, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Quy mô đối tác</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.QuyMoDoiTac, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">File GPKD</label>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="file" class="form-control" name="FileName" id="insert-GPKD-partner" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 clonedInputBank" id="bankClone1">
                               
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 bankNameClass" id="lblname1">Tên ngân hàng</label>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="text" class="form-control bankName" name="TenNganHang1" />
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 bankAccClass" id="lblaccount1">Số tài khoản</label>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="text" class="form-control bankAccount" name="SoTaiKhoan1" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2 bankNoteClass" id="lblbankNote1">Ghi chú</label>
                                    <div class="col-lg-10 col-md-10">
                                        <textarea class="form-control bankNote"  name="BankNote1"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12" id="">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2"></label>
                                    <div class="col-lg-10 col-md-10">
                                        <button type="button" class="btn btn-default" id="btnAddBank" title="Thêm ngân hàng"><i class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-default btn-outline" title="Xoá bớt ngân hàng" id="btnDelBank"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>



                            
                            <div class="col-md-12">
                                <h4>Các dịch vụ cung cấp</h4>
                                <button class="btn btn-danger" id="btnDel"><i class="fa fa-times"></i></button>
                                <br />
                                <div class="clonedInput" id="entry1">
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6">
                                            <input type="text" class="form-control servicename" placeholder="Tên dịch vụ..." name="PartnerServiceName1" />
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" class="form-control serviceprice" placeholder="Giá..." name="PartnerServicePrice1" />
                                        </div>
                                        <div class="col-lg-2 col-md-2">
                                            <select id="insert-currency1" name="PartnerServiceCurrency1" style="width: 100%" class="form-control servicecurrency">
                                                @foreach (var item in LoadData.CurrencyList())
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12">
                                            <textarea class="form-control servicenote" placeholder="Ghi chú..." id="insert-noteservicepartner1" name="PartnerServiceNote1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="countService" name="countService" value="1" />
                                <input type="hidden" id="countSTK" name="countSTK" value="1" />
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="button" class="btn btn-success" id="btnAdd">Thêm dịch vụ cung cấp</button>
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


