@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model IEnumerable<tbl_Form>
    @{ int i = 1;}
    <div class="table-scrollable table-custom-format">
        <table class="table table-bordered table-hover" id="tableForm">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="odd gradeX" onclick="functionForm(@item.Id)">
                            <td  style="text-align: center">@i</td>
                            <td>@item.Name</td>
                            <td>
                                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                                {<a style="cursor: pointer" onclick="updateForm(@item.Id)"><i class="fa fa-pencil"></i>&nbsp;Sửa</a> 
                                }
                                @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                                { <a style="cursor: pointer" onclick="deleteForm(@item.Id)"><i class="fa fa-trash"></i>&nbsp;Xóa</a>}
                            </td>
                        </tr>
                                i++;
                    }
                }
            </tbody>
        </table>
    </div>
