@using CRM.Enum
@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model IEnumerable<tbl_Customer>
<div class="modal fade  bs-modal-lg" id="modal-add-customer" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Chọn khách hàng</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="table-scrollable table-custom-format">
                        <table class="table table-bordered table-hover dataTable3" id="tableCustomer">
                            <thead>
                                <tr>
                                    <th class="width24"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th><input type="checkbox" id="allcustomer" name="allcustomer"/></th>
                                    <th>Xưng hô</th>
                                    <th>Họ tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th>Email</th>
                                    <th>Nghề nghiệp</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="odd gradeX">
                                            <td>
                                                <input type="checkbox" value="@item.Id" class="checkAddCustomer" name="checkAddCustomer" />
                                            </td>
                                            <td>@(item.NameTypeId != null ? item.tbl_DictionaryNameType.Name : "")</td>
                                            <td>@item.FullName</td>
                                            <td>@(item.Birthday != null ? item.Birthday.Value.ToString("dd/MM/yyyy") : "")</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Address</td>
                                            <td>@item.PersonalEmail</td>
                                            <td>@(item.CareerId != null ? item.tbl_DictionaryCareer.Name : "")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div align="center" style="margin-bottom: 20px">
                <form action="@Url.Action("InsertCustomer", "MailReceiveList")" method="post" id="formAddCustomer" style="position:absolute">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="listItemIdAddCus" name="listItemIdAddCus" value="" />
                </form>
                <button type="submit" class="btn blue" id="btnLuuAddCustomer">Lưu</button>
                <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>
