@using CRM.Core
@using TOURDEMO.Utilities
@model tbl_Evaluation
@{
    var detailList = ViewBag.DetailList as List<tbl_EvaluationDetail>;
}

<div class="modal fade bs-modal-lg" id="modal-edit-evaluation" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cập nhật đánh giá</h4>
            </div>
            @using (Html.BeginForm("Update", "EvaluationOperatorManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Hướng dẫn viên</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" style="width: 100%" id="edit-operator" name="OperatorId">
                                            <option>-- Chọn Hướng dẫn viên --</option>
                                            @foreach (var item in LoadData.StaffList())
                                            {
                                                <option value="@item.Id" @(Model.StaffId == item.Id ? "selected" : "")>@item.FullName</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Tour</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" style="width: 100%" id="edit-tour" name="TourId">
                                            <option>-- Chọn tour --</option>
                                            @foreach (var item in LoadData.TourList())
                                            {
                                                <option value="@item.Id" @(Model.TourId == item.Id ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Vùng miền</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" style="width: 100%" id="edit-area" name="AreaId">
                                            <option>-- Chọn vùng miền --</option>
                                            @foreach (var item in LoadData.AreaList())
                                            {
                                                <option value="@item.Id" @(Model.AreaId == item.Id ? "selected" : "")>@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Tỉnh thành</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" style="width: 100%" id="edit-provice" name="ProvinceId">
                                            <option>-- Chọn tỉnh thành --</option>
                                            @foreach (var item in LoadData.ProvinceListByArea(Model.AreaId ?? 0))
                                            {
                                                <option value="@item.Id" @(Model.ProvinceId == item.Id ? "selected" : "")>@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2"></label>
                                    <div class="col-md-10 col-lg-10">
                                        <a id="btnAddEdit" class="btn btn-danger" style="cursor: pointer"><i class="fa fa-plus"></i></a>
                                        <a id="btnDelEdit" class="btn btn-default" style="cursor: pointer"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                @if (detailList.Count() > 0)
                                {
                                    int d = 1;
                                    foreach (var detail in detailList)
                                    {
                                        <div class="clonedInputEdit" id="entryEdit@(d)">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2 edit-title" id="edit-title">Tiêu chí đánh giá @(d)</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control edit-evaluation" style="width: 100%" id="edit-evaluation@(d)" name="EditEvaluationCriteriaId@(d)">
                                                        @foreach (var item in LoadData.EvaluationCriteriaList())
                                                        {
                                                            <option value="@item.Id" @(detail.EvaluationCriteriaId == item.Id ? "selected" : "")>@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Điểm</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="number" value="@detail.Point" name="EditEvaluationPoint@(d)" id="edit-point@(d)" class="form-control edit-point" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                                <div class="col-lg-10 col-md-10">
                                                    <input type="text" value="@detail.Note" name="EditEvaluationNote@(d)" id="edit-note@(d)" class="form-control edit-note" />
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="clonedInputEdit" id="entryEdit1">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2 edit-title" id="edit-title">Tiêu chí đánh giá 1</label>
                                            <div class="col-lg-4 col-md-4">
                                                <select class="form-control edit-evaluation" style="width: 100%" id="edit-evaluation1" name="EditEvaluationCriteriaId1">
                                                    @foreach (var item in LoadData.EvaluationCriteriaList())
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">Điểm</label>
                                            <div class="col-lg-4 col-md-4">
                                                <input type="number" name="EditEvaluationPoint1" id="edit-point1" class="form-control edit-point" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                            <div class="col-lg-10 col-md-10">
                                                <input type="text" name="EditEvaluationNote1" id="edit-note1" class="form-control edit-note" />
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                }
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Diễn giải</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "edit-note" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <input type="hidden" value="1" id="NumberEvaluationEdit" name="NumberEvaluationEdit" />
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>