@using TOURDEMO.Models
@using CRM.Core
@model IEnumerable<DocumentFileViewModel>
@{
    string domain = "https://view.officeapps.live.com/op/embed.aspx?src=" + Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
    int i = 1;
}

<div class="table-responsive table-custom-format" id="tableDictionary-Wrapper">
    <table class="table table-striped table-bordered table-hover dataTable" id="tableDictionary">
        <thead>
            <tr>
                <th class="width24"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th class="table-checkbox">
                    <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                </th>
                <th>STT</th>
                <th>Ký hiệu</th>
                <th>Tên tài liệu</th>
                <th>Diễn giải</th>
                <th>Kích thước</th>
                <th>Người tạo</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string ext = Path.GetExtension(item.FileName);
                ext = ext == null ? "" : ext.ToLower();
                <tr>
                    <td class="width24">
                        <input type="checkbox" id="cb@(item.Id)" class="cbItem" value="@item.Id" name="cb" onclick="CheckSelect()" />
                    </td>
                    <td  style="text-align: center">@i</td>
                    <td>@item.Code</td>
                    <td class="textalignleft">
                        @if (ext == ".pdf" || ext == ".jpg" || ext == ".png" || ext == ".txt")
                        { 
                            <a target="_blank" href="/Upload/file/@item.FileName">@item.FileName</a>
                        }
                        else
                        {
                            <a target="_blank" href="@domain/Upload/file/@item.FileName">@item.FileName</a>
                        }
                    </td>
                    <td class="textalignleft">@Html.Raw(item.Note)</td>
                    <td>@item.FileSize</td>
                    <td>@item.Staff</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.ModifiedDate</td>
                </tr>
                        i++;
            }
        </tbody>
    </table>
</div>
