@using TOURDEMO.Utilities
@using TOURDEMO.Models
@model StaffViewModel

<div class="modal fade  bs-modal-lg" id="modal-insert-staff" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Nhân viên</h4>
            </div>
            @using (Html.BeginForm("Create", "StaffManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="tabbable-custom" id="tab-insert-customer">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#thongtincoban" data-toggle="tab">Thông tin cơ bản</a>
                                </li>
                                <li>
                                    <a href="#visapassport" data-toggle="tab">Visa - Passport</a>
                                </li>
                                <li>
                                    <a href="#thongtinkhac" data-toggle="tab">Thông tin khác</a>
                                </li>
                                <li>
                                    <a href="#thongtinluong" data-toggle="tab">Thông tin lương</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="thongtincoban">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Code</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="text" class="form-control" required name="SingleStaff.Code" id="insert-code-staff" />
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Mã số thuế</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.TaxCode, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Họ tên</label>
                                                <div class="col-lg-3 col-md-3">
                                                    <select class="form-control" id="insert-nametype" name="SingleStaff.NameTypeId" style="width: 100%">
                                                        @foreach (var item in LoadData.NameTypeList())
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-lg-7 col-md-7">
                                                    @Html.TextBoxFor(model => model.SingleStaff.FullName, new { @class = "form-control",  })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ngày sinh</label>
                                                <div class="col-lg-4 col-md-4">
                                                        @Html.TextBoxFor(model => model.SingleStaff.Birthday, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @id = "insert-birthday" })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Nơi sinh</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-birthplace" name="SingleStaff.Birthplace" style="width: 100%">
                                                        @foreach (var item in LoadData.DropdownlistCountry())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.Address, new { @class = "form-control" })
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <select class="form-control" multiple="multiple" style="width: 100%" id="insert-address" name="SingleStaff.TagsId">
                                                        @foreach (var item in LoadData.DropdownlistLocation())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ngày bắt đầu làm việc</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.StartWork, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Ngày nghỉ việc</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.EndWork, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Email</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.Email, new { @class = "form-control" })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Điện thoại</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.Phone, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Chức vụ</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-position" name="SingleStaff.PositionId" style="width: 100%">
                                                        @foreach (var item in LoadData.PositionList())
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Nhóm</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-staffgroup" name="SingleStaff.StaffGroupId" style="width: 100%">
                                                        @foreach (var item in LoadData.StaffGroupList())
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Trụ sở, chi nhánh</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-headquarter" name="SingleStaff.HeadquarterId" style="width: 100%">
                                                        @foreach (var item in LoadData.HeadquarterList())
                                                        {
                                                            <option value="@item.Id">@item.ShortName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Phòng ban</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-department" name="SingleStaff.DepartmentId" style="width: 100%">
                                                        @foreach (var item in LoadData.DepartmentList())
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Giới tính</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input id="SingleStaff_Gender" name="SingleStaff.Gender" type="radio" value="0" checked="checked"> Nam
                                                    <input id="SingleStaff_Gender" name="SingleStaff.Gender" type="radio" value="1"> Nữ
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Khóa tài khoản</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.CheckBoxFor(model => model.SingleStaff.IsLock)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Hình ảnh</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="file" id="Image" name="Image" class="form-control" />
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">@Html.CheckBoxFor(model => model.SingleStaff.IsGuide, new { id = "insert-check" }) Hướng dẫn viên?</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.CodeGuide, new { @class = "form-control", @disabled = "disabled", placeholder = "Số thẻ hướng dẫn viên", id = "insert-code-guide" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ngày kí HĐ chính thức</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.ContractDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @id = "insert-ContractDate" })                                                
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Loại hợp đồng</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.ContractType, new { @class = "form-control", placeholder = "Loại hợp đồng", id = "insert-ContractType" })
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Số năm làm việc</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.NumberYear, new { @class = "form-control", placeholder = "Số năm làm việc", id = "insert-NumberYear", @type = "number" })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Số ngày nghỉ phép trong năm</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.NumberDayOff, new { @class = "form-control", placeholder = "Số ngày nghỉ phép trong năm", id = "insert-NumberDayOff", @type="number" })
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="visapassport">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>CMND</b></label>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Số CMND</label>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.SingleStaff.IdentityCard, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Ngày cấp</label>
                                                <div class="col-lg-8 col-md-8">
                                                        <input type="date" class="form-control" name="CreatedDateIdentity" id="insert-identity" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Nơi cấp</label>
                                                <div class="col-lg-8 col-md-8">
                                                    <select class="form-control" style="width: 100%" id="insert-placeidentity" name="IdentityTagId">
                                                        @foreach (var item in LoadData.DropdownlistCountry())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label><b>Passport</b></label>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Số passport</label>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.SingleStaff.PassportCard, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Ngày cấp</label>
                                                <div class="col-lg-8 col-md-8">
                                                        <input type="date" class="form-control" name="CreatedDatePassport"  id="insert-createpassport" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Ngày hết hạn</label>
                                                <div class="col-lg-8 col-md-8">
                                                        <input type="date" class="form-control" name="ExpiredDatePassport" id="insert-expiredPassport" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Nơi cấp</label>
                                                <div class="col-lg-8 col-md-8">
                                                    <select class="form-control" style="width: 100%" id="insert-placepassport" name="PassportTagId">
                                                        @foreach (var item in LoadData.DropdownlistCountry())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label class="col-md-12"><b>VISA</b></label>
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-default" id="btnAdd"><i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-danger" id="btnDel"><i class="fa fa-times"></i></button>
                                            </div>
                                            <div class="col-md-12 clonedInput" id="entry1">
                                                <div class=" form-group">
                                                    <label class="control-label col-lg-2 col-md-2">Visa card</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <input type="text" value="" class="form-control visacard" name="VisaNumber1" />
                                                    </div>
                                                    <label class="control-label col-lg-2 col-md-2">Ngày cấp</label>
                                                    <div class="col-lg-4 col-md-4">
                                                            <input type="date" class="form-control ngaycapvisa" id="ngaycapvisa1" name="CreatedDateVisa1">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2 col-md-2">Quốc gia</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <select class="form-control countryvisa" style="width: 100%" id="countryvisa1" name="TagsId1">
                                                            @foreach (var item in LoadData.DropdownlistCountry())
                                                            {
                                                                <option value="@item.Id">@item.Tags</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <label class="control-label col-lg-2 col-md-2">Ngày hết hạn</label>
                                                    <div class="col-lg-4 col-md-4">
                                                            <input type="date" class="form-control ngayhethanvisa" id="ngayhethanvisa1" name="ExpiredDateVisa1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="thongtinkhac">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Dân tộc</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-nation" name="SingleStaff.NationalId" style="width: 100%">
                                                        @foreach (var item in LoadData.NationList())
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Tôn giáo</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-religion" name="SingleStaff.ReligionId" style="width: 100%">
                                                        @foreach (var item in LoadData.ReligionList())
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Hộ khẩu TT</label>
                                                <div class="col-lg-10 col-md-10">
                                                    @Html.TextBoxFor(model => model.SingleStaff.HouseholdAdress, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Hôn nhân</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-marriage" name="SingleStaff.Marriage" style="width: 100%">
                                                        <option value="0">Độc thân</option>
                                                        <option value="1">Kết hôn</option>
                                                    </select>
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Số nội bộ</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.InternalNumber, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Bằng cấp</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" id="insert-certificate" name="SingleStaff.CertificateId" style="width: 100%">
                                                        @foreach (var item in LoadData.CertificateList())
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Chuyên môn</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.Technique, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ngoại ngữ</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.Language, new { @class = "form-control" })
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Tin học</label>
                                                <div class="col-lg-4 col-md-4">
                                                    @Html.TextBoxFor(model => model.SingleStaff.InformationTechnology, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Số TKNH</label>
                                                <div class="col-lg-10 col-md-10">
                                                    @Html.TextBoxFor(model => model.SingleStaff.AccountNumber, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ngân hàng</label>
                                                <div class="col-lg-10 col-md-10">
                                                    @Html.TextBoxFor(model => model.SingleStaff.Bank, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="thongtinluong">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-3 col-md-3">Lương deal (VND)</label>
                                                <div class="col-lg-6 col-md-6">
                                                    <input id="luongdeal" class="form-control" placeholder="Nhập lương deal với nhân viên mới" onkeypress="return isNumberKey(event);" onblur="GetLuongThuViec();"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-3 col-md-3">Lương thử việc (VND)</label>
                                                <div class="col-lg-6 col-md-6">
                                                    @Html.TextBoxFor(model => model.LuongThuViecNV, new { @class = "form-control", @readonly="", @id="luongthuviecinput" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-3 col-md-3">Ghi chú</label>
                                                <div class="col-lg-6 col-md-6">
                                                    @Html.TextBoxFor(model => model.SingleStaffSalary.Note, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/ckeditor-basic/ckeditor.js"></script>
<script src="~/Scripts/controller/staff.js"></script>
<script src="~/Scripts/controller/staffothertab.js"></script>
<script src="~/Scripts/controller/jquery.maskMoney.min.js"></script>
<script src="~/Scripts/controller/jquery.number.js"></script>
<script src="~/Scripts/controller/form-input-mask.js"></script>
<script src="~/Scripts/controller/changecurrency.js"></script>
<script src="~/Scripts/inputmask/inputmask.min.js"></script>
<script src="~/Scripts/inputmask/inputmask.extensions.min.js"></script>
<script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>
<script src="~/Scripts/inputmask/inputmask.numeric.extensions.min.js"></script>
<script>
    $(document).ready(function () {
        $('#luongdeal').number(true, 0);
        $('#luongthuviecinput').number(true, 0);
        
    })
    function GetLuongThuViec() {
        var luongdeal = Number($("#luongdeal").val()) * 85 / 100;
        console.log("luongdeal: " + luongdeal);
        $('#luongthuviecinput').val(luongdeal);

    }
</script>