@using CRM.Core;
@using TOURDEMO.Models;
@model IEnumerable<StaffListViewModel>

@{
    ViewBag.Title = "Quản lý Nhân viên";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>DANH SÁCH NHÂN VIÊN</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("Index", "StaffManage")" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                {<button class="btn btn-primary" href="#modal-insert-staff" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Thêm</button>}
                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                {<button class="btn btn-warning" id="btnEdit"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>}
                @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                {<button class="btn btn-danger" id="btnRemove"><i class="fa fa-remove"></i>&nbsp;Xóa</button>
                <form action="@Url.Action("Delete", "StaffManage")" method="post" style="position:absolute">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="listItemId" name="listItemId" />
                </form>
                }
                <a class="btn yellow" id="btnChangePass"><i class="fa fa-key"></i>&nbsp;Mật khẩu</a>
                @if (ViewBag.IsLock != null && ViewBag.IsLock)
                {<button class="btn red" id="btnLock"><i class="fa fa-lock"></i>&nbsp;Khóa</button>}
                @if (ViewBag.IsUnLock != null && ViewBag.IsUnLock)
                {<button class="btn grey" id="btnUnLock"><i class="fa fa-unlock"></i>&nbsp;Mở khóa</button>}
            </div>
            <div class="col-md-12" style="margin-top: 10px">
                @if (ViewBag.IsAddNV != null && ViewBag.IsAddNV)
                {<button class="btn blue" id="btnAddTask"><i class="fa fa-clipboard"></i>&nbsp;Phân công nhiệm vụ</button>}
                @if (ViewBag.IsImport != null && ViewBag.IsImport)
                {<a class="btn green" data-toggle="modal" href="#modal-import-staff"><i class="icon-action-redo"></i>&nbsp;Import</a>}
                @if (ViewBag.IsExport != null && ViewBag.IsExport)
                {<label class="btn btn-info fileContainer">
                    <a><i class="icon-action-undo"></i>&nbsp;<input type="file" name="Export" id="btnExport" class="form-control" />&nbsp;Export</a>
                </label>
                    using (Html.BeginForm("ExportFile", "StaffManage", FormMethod.Post, new { enctype = "multipart/form-data", id = "exportForm", style = "position: absolute" })) { }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="table-responsive table-custom-format" id="tableDictionary-Wrapper">
                        <table class="table table-bordered table-hover dataTable" id="tableDictionary">
                            <thead>
                                <tr>
                                    <td class="width24"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="table-checkbox">
                                        <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                                    </th>
                                    <th>CODE</th>
                                    <th>Họ tên</th>
                                    <th>Ngày sinh</th>
                                    <th>CMND</th>
                                    <th>Ngày cấp</th>
                                    <th>Nơi cấp</th>
                                    <th>Điện thoại</th>
                                    <th>Số nội bộ</th>
                                    <th>Email</th>
                                    <th>Skype</th>
                                    <th>Phòng ban</th>
                                    <th>Chức vụ</th>
                                    <th>Ngày bắt đầu làm việc</th>
                                    <th>Ngày nghỉ việc</th>
                                    <th>Lương thử việc</th>
                                    <th>Lương cơ bản</th>
                                    <th>Lương phụ cấp</th>
                                    <th>Khóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="width24">
                                            <input type="checkbox" value="@item.Id" id="cb@(item.Id)" class="cbItem" name="cb" onclick="CheckSelect()" />
                                        </td>
                                        <td>@item.Code</td>
                                        <td class="textalignleft">@item.Fullname</td>
                                        <td>@item.Birthday</td>
                                        <td>@item.IdentityCard</td>
                                        <td>@item.CreateDateIdentity</td>
                                        <td>@item.PlaceIdentity</td>
                                        <td>@item.Phone</td>
                                        <td>@item.InternalNumber</td>
                                        <td class="textalignleft">@item.Email</td>
                                        <td>@item.Skype</td>
                                        <td class="textalignleft">@item.Department</td>
                                        <td class="textalignleft">@item.Position</td>
                                        <td>@item.StartWork</td>
                                        <td>@item.EndWork</td>
                                        <td>@item.StartSalary</td>
                                        <td>@item.BasicSalary</td>
                                        <td>@item.SubsidySalary</td>
                                        <td>
                                            <input type="checkbox" disabled="disabled" @(item.IsLock == true ? "checked" : "") />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="tabbable-custom" id="tabbable-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#thongtinchitiet" data-toggle="tab" id="tabthongtinchitiet">Thông tin chi tiết </a>
                            </li>
                            <li>
                                <a href="#salary" data-toggle="tab" id="tabsalary">Lương</a>
                            </li>
                            <li>
                                <a href="#lichhen" data-toggle="tab" id="tablichhen">Lịch hẹn</a>
                            </li>
                            <li>
                                <a href="#nhiemvu" data-toggle="tab" id="tabnhiemvu">Nhiệm vụ</a>
                            </li>
                            <li>
                                <a href="#lichsulienhe" data-toggle="tab" id="tablichsulienhe">Lịch sử liên hệ</a>
                            </li>
                            <li>
                                <a href="#thautour" data-toggle="tab" id="tabthautour">Thầu/tour</a>
                            </li>
                            <li>
                                <a href="#hopdong" data-toggle="tab" id="tabhopdong">Hợp đồng</a>
                            </li>
                            <li>
                                <a href="#chuongtrinh" data-toggle="tab" id="tabchuongtrinh">Quản lý công việc</a>
                            </li>
                            <li>
                                <a href="#ticket" data-toggle="tab" id="tabticket">Vé máy bay</a>
                            </li>
                            <li>
                                <a href="#visakh" data-toggle="tab" id="tabvisakh">Visa khách hàng</a>
                            </li>
                            <li>
                                <a href="#hosolienquan" data-toggle="tab" id="tabhosolienquan">Hồ sơ liên quan</a>
                            </li>
                            <li>
                                <a href="#khachhang" data-toggle="tab" id="tabkhachhang">Khách hàng</a>
                            </li>
                            <li>
                                <a href="#lichsuditour" data-toggle="tab" id="tablichsuditour">Lịch sử đi tour</a>
                            </li>
                            <li>
                                <a href="#visa" data-toggle="tab" id="tabvisa">VISA</a>
                            </li>
                            <li>
                                <a href="#khenthuongkyluat" data-toggle="tab" id="tabkhenthuongkyluat">Khen thưởng/Kỷ luật</a>
                            </li>
                            <li>
                                <a href="#capnhatthaydoi" data-toggle="tab" id="tabcapnhatthaydoi">Cập nhật thay đổi</a>
                            </li>

                            <li>
                                <a href="#ngaynghiphep" data-toggle="tab" id="tabngaynghiphep">Ngày nghỉ phép</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="thongtinchitiet" data-id="thongtinchitiet">
                                @*Thông tin chi tiết*@
                                @Html.Action("_ThongTinChiTiet", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="lichhen" data-id="lichhen">
                                @Html.Action("_LichHen", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="nhiemvu" data-id="nhiemvu">
                                @*Nhiệm vụ*@
                                @Html.Action("_NhiemVu", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="lichsulienhe" data-id="lichsulienhe">
                                @*Lịch sử liên hệ*@
                                @Html.Action("_LichSuLienHe", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="thautour" data-id="thautour">
                                @*Thầu/tour*@
                                @Html.Action("_ThauTour", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="hopdong" data-id="hopdong">
                                @*Hợp đồng*@
                                @Html.Action("_HopDong", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="chuongtrinh" data-id="chuongtrinh">
                                @*Chương trình*@
                                @Html.Action("_ChuongTrinh", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="ticket" data-id="ticket">
                                @*Vé máy bay*@
                                @Html.Action("_CodeVe", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="visakh" data-id="visakh">
                                @*Visa khách hàng*@
                                @Html.Action("_VisaKH", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="hosolienquan" data-id="hosolienquan">
                                @*Hồ sơ liên quan*@
                                @Html.Action("_HoSoLienQuan", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="khachhang" data-id="khachhang">
                                @*Khách hàng*@
                                @Html.Action("_KhachHang", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="lichsuditour" data-id="lichsuditour">
                                @*Lịch sử đi tour*@
                                @Html.Action("_LichSuDiTour", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="visa" data-id="visa">
                                @*VISA*@
                                @Html.Action("_Visa", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="capnhatthaydoi" data-id="capnhatthaydoi">
                                @*Cập nhật thay đổi*@
                                @Html.Action("_CapNhatThayDoi", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="salary" data-id="salary">
                                @*Lương*@
                                @Html.Action("_Luong", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="khenthuongkyluat" data-id="khenthuongkyluat">
                                @*Khen thưởng kỷ luật*@
                                @Html.Action("_KhenThuongKyLuat", "StaffTabInfo")
                            </div>
                            <div class="tab-pane" id="ngaynghiphep" data-id="ngaynghiphep">
                                @*Ngày nghỉ phép*@
                                @Html.Action("_NgayNghiPhep", "StaffTabInfo")
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>

<!----- tab lương ----->
@Html.Partial("/Views/StaffOtherTab/_Partial_InsertSalary.cshtml", new InsertSalaryDetail() { staffSalaryDetail =new tbl_StaffSalaryDetail() { IsIncrease=true} })

<!----- tab ngày nghỉ việc ----->
@Html.Partial("/Views/StaffOtherTab/_Partial_InsertDayOff.cshtml", new tbl_StaffDayOff())

<!----- tab khen thưởng kỷ luật ----->
@Html.Partial("/Views/StaffOtherTab/_Partial_InsertBonucisDispline.cshtml", new tbl_StaffBonusDiscipline())
<div id="info-data-bonusdiscipline"></div>

<!----- staff ----->
@Html.Partial("_Partial_InsertStaff", new StaffViewModel())
<div class="info-data-staff">
</div>

<!----- tab document ----->
@Html.Partial("_Partial_InsertDocument", new tbl_DocumentFile())
<div id="info-data-doc">
</div>

<!----- view file ----->
<div id="viewfile"></div>

<!----- tab visa ----->
@Html.Partial("_Partial_InsertVisa", new tbl_StaffVisa())
<div id="info-data-visa">
</div>
<!----- lịch hẹn ----->
@Html.Partial("~/Views/StaffOtherTab/_Partial_InsertAppointmentHistory.cshtml", new tbl_AppointmentHistory())
<div id="info-data-appoinment">
</div>

<!----- lịch sử liên hệ ----->
@Html.Partial("~/Views/StaffOtherTab/_Partial_InsertContactHistory.cshtml", new tbl_ContactHistory())
<div id="info-data-contacthistory">
</div>

<!----- nhiệm vụ ----->
@Html.Partial("_Partial_InsertTaskStaff", new tbl_Task())
<div id="info-data-task"></div>

<div id="info-pass"></div>

@Html.Partial("_Partial_EditSchedule")
@Html.Partial("_Partial_InsertSchedule")
@Html.Partial("_Partial_ImportStaff")

@section scripts{
    <script src="~/Content/ckeditor-basic/ckeditor.js"></script>
    <script src="~/Scripts/controller/staff.js"></script>
    <script src="~/Scripts/controller/staffothertab.js"></script>
    <script src="~/Scripts/controller/jquery.maskMoney.min.js"></script>
    <script src="~/Scripts/controller/jquery.number.js"></script>
    <script src="~/Scripts/controller/form-input-mask.js"></script>
    <script src="~/Scripts/controller/changecurrency.js"></script>
    <script src="~/Scripts/inputmask/inputmask.min.js"></script>
    <script src="~/Scripts/inputmask/inputmask.extensions.min.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/Scripts/inputmask/inputmask.numeric.extensions.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#StartSalary').number(true, 0);
            $('#SubsidySalary').number(true, 0);
            $('#BasicSalary').number(true, 0);
            $('#luongdeal').number(true, 0);
            $('#luongthuviecinput').number(true, 0);
            $('#valuechange').number(true, 0);
            
        })
        CKEDITOR.replace("insert-document-note");
        CKEDITOR.replace("insert-note-lichhen");
        CKEDITOR.replace("insert-note-lienhe");
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            return !(charCode > 31 && (charCode < 48 || charCode > 57));
        }
        function currency(input) {
            var l = input.length;
            var x = Number((l / 3).toString().split('.')[0]);
            var y = l % 3;
            var z = 0;
            if (y > 0) {
                z = x + 1;
                var arr = [];
                arr[0] = input.slice(0, y);
                for (var i = 1; i < z; i++) {
                    arr[i] = input.slice(y, y + 3);
                    y += 3;
                }
                var xxx = arr.join(',');
                return xxx;
            }
            else {
                z = x;
                var arr = [];
                var k = 0;
                for (var i = 0; i < z; i++) {
                    arr[i] = input.slice(k, k + 3);
                    k += 3;
                }
                var xxx = arr.join(',');
                return xxx;
            }
        }
       
        /** button thêm tài liệu của công ty **/
        function btnCreateFile() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhân viên!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };
                $.ajax({
                    type: "POST",
                    url: '/StaffManage/GetIdStaff',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-document-type").select2();
                        $("#insert-tag-document").select2();
                        $("#modal-insert-document").modal("show");
                    }
                });
            }
        }

        function btnCreateVisa() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhân viên!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };
                $.ajax({
                    type: "POST",
                    url: '/StaffManage/GetIdStaff',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-country-visa").select2();
                        $("#insert-type-visa").select2();
                        $("#insert-status-visa").select2();
                        //$("#insert-createdatevisa").datepicker();
                        //$("#insert-expiredatevisa").datepicker();
                        $("#modal-insert-visa").modal("show");
                    }
                });
            }
        }

        function btnAddLichHen() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhân viên!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/StaffManage/GetIdStaff',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-tour-lichhen").select2();
                        $("#insert-program-lichhen").select2();
                        $("#insert-task-lichhen").select2();
                        $("#insert-status-lichhen").select2();
                        $("#insert-service-lichhen").select2();
                        $("#insert-partner-lichhen").select2();
                        $("#insert-type-lichhen").select2();
                        $("#insert-partner-lichhen").select2();
                        $("#insert-staff-customer").select2();
                        ///
                        $("#insert-check-notify").click(function () {
                            if (this.checked) {
                                $("#insert-nhactruoc-lichhen").removeAttr("disabled", "disabled");
                                $("#insert-nhactruoc-lichhen").select2();
                            }
                            else {
                                $("#insert-nhactruoc-lichhen").attr("disabled", "disabled");
                            }
                        });

                        $("#insert-check-repeat").click(function () {
                            if (this.checked) {
                                $("#insert-laplai-lichhen").removeAttr("disabled", "disabled");
                                $("#insert-laplai-lichhen").select2();
                            }
                            else {
                                $("#insert-laplai-lichhen").attr("disabled", "disabled");
                            }
                        });
                        $("#modal-insert-appointment").modal("show");
                    }
                });
            }
        }

        function btnCreateSalary() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhân viên!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/StaffManage/GetIdStaff',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#modal-insert-salary").modal("show");
                    }
                });
            }
        }
        function btnEditSalary() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhân viên!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/StaffManage/GetIdStaff',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#modal-insert-salary").modal("show");
                    }
                });
            }
        }

        function btnCreateBonusDiscipline() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhân viên!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };
                $.ajax({
                    type: "POST",
                    url: '/StaffManage/GetIdStaff',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#modal-insert-bonusdiscipline").modal("show");
                    }
                });
            }
        }

        function btnCreateDayOff() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhân viên!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/StaffManage/GetIdStaff',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#modal-insert-dayoff").modal("show");
                    }
                });
            }
        }

        function btnAddLichSuLienHe() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 nhân viên!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/StaffManage/GetIdStaff',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-type-lienhe").select2();
                        //$("#insert-ngay-lienhe").datepicker();
                        $("#modal-insert-contacthistory").modal("show");
                    }
                });
            }
        }

        $('#insert-service-lichhen').change(function () {
            $.getJSON('/StaffOtherTab/LoadPartner/' + $('#insert-service-lichhen').val(), function (data) {
                var items = '<option value=' + 0 + '>-- Chọn đối tác --</option>';
                $.each(data, function (i, ward) {
                    items += "<option value='" + ward.Value + "'>" + ward.Text + "</option>";
                });
                $('#insert-partner-lichhen').html(items);
            });
        });

        /** cập nhật lịch hẹn **/
        function updateAppointment(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/StaffOtherTab/EditAppointment',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-appoinment").html(data);
                    $("#edit-tour-lichhen").select2();
                    $("#edit-program-lichhen").select2();
                    $("#edit-task-lichhen").select2();
                    $("#edit-status-lichhen").select2();
                    $("#edit-service-lichhen").select2();
                    $("#edit-partner-lichhen").select2();
                    $("#edit-type-lichhen").select2();
                    $("#edit-partner-lichhen").select2();
                    $("#edit-staff-customer").select2();
                    //$("#edit-ngayhen-lichhen").datepicker();
                    CKEDITOR.replace("edit-note-lichhen");
                    $("#edit-check-notify").click(function () {
                        if (this.checked) {
                            $("#edit-nhactruoc-lichhen").removeAttr("disabled", "disabled");
                            $("#edit-nhactruoc-lichhen").select2();
                        }
                        else {
                            $("#edit-nhactruoc-lichhen").attr("disabled", "disabled");
                        }
                    });

                    $("#edit-check-repeat").click(function () {
                        if (this.checked) {
                            $("#edit-laplai-lichhen").removeAttr("disabled", "disabled");
                            $("#edit-laplai-lichhen").select2();
                        }
                        else {
                            $("#edit-laplai-lichhen").attr("disabled", "disabled");
                        }
                    });

                    $('#edit-service-lichhen').change(function () {
                        $.getJSON('/StaffOtherTab/LoadPartner/' + $('#edit-service-lichhen').val(), function (data) {
                            var items = '<option value=' + 0 + '>-- Chọn đối tác --</option>';
                            $.each(data, function (i, ward) {
                                items += "<option value='" + ward.Value + "'>" + ward.Text + "</option>";
                            });
                            $('#edit-partner-lichhen').html(items);
                        });
                    });

                    $("#modal-edit-appointment").modal("show");
                }
            });
        }

        /** xóa khen thưởng kỷ luật **/
        function deleteBonusDiscipline(id) {
            if (confirm('Bạn thực sự muốn xóa mục này ?')) {
                var dataPost = { id: id };
                $.ajax({
                    type: "POST",
                    url: '/StaffOtherTab/DeleteBonusDiscipline',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        alert("Xóa dữ liệu thành công!!!");
                        $("#khenthuongkyluat").html(data);
                    }
                });
            }
        }

        /** xóa ngày nghỉ phép **/
        function deleteDayOff(id) {
            if (confirm('Bạn thực sự muốn xóa mục này ?')) {
                var dataPost = { id: id };
                $.ajax({
                    type: "POST",
                    url: '/StaffOtherTab/DeleteNgayNghiPhep',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        alert("Xóa dữ liệu thành công!!!");
                        $("#ngaynghiphep").html(data);
                    }
                });
            }
        }

        /** xóa lương **/
        function deleteSalary(id) {
            if (confirm('Bạn thực sự muốn xóa mục này ?')) {
                var dataPost = { id: id };
                $.ajax({
                    type: "POST",
                    url: '/StaffOtherTab/DeleteSalary',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        alert("Xóa dữ liệu thành công!!!");
                        $("#salary").html(data);
                    }
                });
            }
        }

        /** xóa lịch hẹn **/
        function deleteAppointment(id) {
            if (confirm('Bạn thực sự muốn xóa mục này ?')) {
                var dataPost = { id: id };
                $.ajax({
                    type: "POST",
                    url: '/StaffOtherTab/DeleteAppointment',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        alert("Xóa dữ liệu thành công!!!");
                        $("#lichhen").html(data);
                    }
                });
            }
        }

        /** xóa lịch sử liên hệ **/
        function deleteContactHistory(id) {
            if (confirm('Bạn thực sự muốn xóa mục này ?')) {
                var dataPost = { id: id };
                $.ajax({
                    type: "POST",
                    url: '/StaffOtherTab/DeleteContactHistory',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        alert("Xóa dữ liệu thành công!!!");
                        $("#lichsulienhe").html(data);
                    }
                });
            }
        }

        /** cập nhật khen thưởng kỷ luật **/
        function updateBonusDiscipline(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/StaffOtherTab/EditBonusDiscipline',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-bonusdiscipline").html(data);
                    $("#edit-type-bonusdiscipline").select2();
                    $("#modal-edit-bonusdiscipline").modal("show");
                }
            });
        }

        /** cập nhật ngày nghỉ phép **/
        function updateDayOff(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/StaffOtherTab/EditNgayNghiPhep',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-dayoff").html(data);
                    ("#edit-type-dayoff").select2();
                    $("#modal-edit-dayoff").modal("show");
                }
            });
        }

        /** cập nhật lịch sử liên hệ **/
        function updateContactHistory(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/StaffOtherTab/EditContactHistory',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-contacthistory").html(data);
                    //$("#edit-ngay-lienhe").datepicker();
                    $("#edit-type-lienhe").select2();
                    CKEDITOR.replace("edit-note-lienhe");
                    $("#modal-edit-contacthistory").modal("show");
                }
            });
        }

        //fileImport
        $('#fileImport').change(function () {
            var data = new FormData();
            data.append('FileName', $('#fileImport')[0].files[0]);

            var ajaxRequest = $.ajax({
                type: "POST",
                url: '/StaffManage/ImportFile',
                contentType: false,
                processData: false,
                data: data
            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Onsuccess
            });
            ajaxRequest.success(function (data) {
                $("#listItemIdI").val("");
                $("#import-data-staff").html(data);
            })
        });

        /** Xóa lịch sử đi tour **/
        function deleteTourSchedule(id) {
            if (confirm('Bạn thực sự muốn xóa mục này ?')) {
                var dataPost = { id: id };
                $.ajax({
                    type: "POST",
                    url: '/StaffOtherTab/DeleteTourSchedule',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#lichsuditour").html(data);
                    }
                });
            }
        }

        /** button mật khẩu **/
        $("#btnChangePass").click(function () {
            $("#info-pass").html("<div class='modal fade' id='modal-password' role='document' aria-hidden='true'>" +
                            "<div class='modal-dialog'>" +
                                "<div class='modal-content'>" +
                                    "<div class='modal-header'>" +
                                        "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'></button>" +
                                        "<h4 class='modal-title'>Khởi tạo mật khẩu</h4>" +
                                    "</div>" +
                                "<div class='modal-body'>" +
                                    "<div class='form-horizontal'>" +
                                        "<div class='row'>" +
                                            "<div class='col-md-12'>" +
                                                "<div class='form-group'>" +
                                                    "<label class='control-label col-lg-3 col-md-3'>Mật khẩu mới</label>" +
                                                    "<div class='col-lg-9 col-md-9'>" +
                                                        "<input type='password' class='form-control' id='txtPassword' name='txtPassword' required='required' />" +
                                                    "</div>" +
                                                "</div>" +
                                                "<div class='form-group'>" +
                                                    "<label class='control-label col-lg-3 col-md-3'>Xác nhận mật khẩu</label>" +
                                "<div class='col-lg-9 col-md-9'>" +
                                    "<input type='password' class='form-control' id='txtConfirmPassword' name='txtConfirmPassword' required='required' />" +
                                "</div></div></div></div></div></div>" +
                                "<div align='center' style='margin-bottom: 20px'>" +
                                "<button type='button' class='btn blue' onclick='changePassword(" + $("input[type='checkbox']:checked").val() + ")'>Lưu</button>" +
                                "<button type='button' class='btn default' data-dismiss='modal'>Đóng</button>" +
                                "</div></div></div></div>");
            $("#modal-password").modal("show");
        })

        function changePassword(id) {
            if ($("#txtPassword").val() !== $("#txtConfirmPassword").val()) {
                alert('Mật khẩu không trùng khớp!');
            }
            else {
                var dataPost = {
                    id: $("input[name='cb']:checked").val(),
                    pass: $("#txtPassword").val()
                };

                $.ajax({
                    type: "POST",
                    url: '/Account/CreatePassword',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#modal-password").modal("hide");
                        alert('Khởi tạo thành công!');
                    }
                });
            }
        }


        function OnSuccessSalary() {
            $("#modal-insert-salary").modal("hide");
        }

        function OnFailureSalary() {
            $("#modal-insert-salary").modal("hide");
        }
        function OnSuccessUpdateSalary() {
            $("#modal-edit-salary").modal("hide");
        }

        function OnFailureUpdateSalary() {
            $("#modal-edit-salary").modal("hide");
        }
        function UpdateStaffSalary(id) {
            var dataPost = {
                id: id
            };
            $.ajax({
                type: "POST",
                url: '/StaffOtherTab/UpdateStaffSalaryByID',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-task").html(data);
                    $("#modal-edit-salary").modal("show");
                    console.log("show");
                }
            });
        }
    </script>
}
