@using CRM.Core
@model IEnumerable<tbl_ContactHistory>
    @{
        int k = 1;
    }

    @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
    {<a class="btn btn-primary" onclick="btnAddLichSuLienHe()" id="btnAddLichSuLienHe"><i class="fa fa-plus"></i>&nbsp;Thêm</a>}
    <br /><br />
    <div class="table-scrollable table-custom-format">
        <table class="table table-striped table-bordered table-hover" id="table-history">
            <thead>
                <tr>
                    <th>#</th>
                    <th>STT</th>
                    <th>Ngày</th>
                    <th>Yêu cầu xử lý</th>
                    <th>Trạng thái xử lý</th>
                    <th>Diễn giải</th>
                    <th>Nhân viên xử lý</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="odd gradeX">
                            <td>
                                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                                {<a style="cursor: pointer" onclick="updateContactHistory(@item.Id)"><i class="fa fa-pencil"></i>&nbsp;Sửa</a><br />}
                                @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                                {<a style="cursor: pointer" onclick="deleteContactHistory(@item.Id)"><i class="fa fa-trash"></i>&nbsp;Xóa</a>}
                            </td>
                            <td>@k</td>
                            <td>@string.Format("{0:dd-MM-yyyy}", item.ContactDate)</td>
                            <td>@item.Request</td>
                            <td>@item.tbl_Dictionary.Name</td>
                            <td>@Html.Raw(item.Note)</td>
                            <td>@(item.OtherStaffId != null ? item.tbl_StaffOther.FullName : "")</td>
                        </tr>
                                k++;
                    }
                }
            </tbody>
        </table>
    </div>
