@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model CustomerViewModel

<div class="col-md-12" style="border: 1px solid #ccc; margin: 15px 0; padding: 15px; padding-bottom: 0;">
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Mã khách hàng</label>
        <div class="col-lg-10 col-md-10">
            <input type="text" name="SingleCompany.Code" id="_customerCompanyCode" onblur="checkValidCustomerCompany();" @*value="@GenerateCode.CustomerCode()"*@ class="form-control" @*readonly="readonly"*@  />
            <span class="existMessage" id="_customerCompanySpan"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Tên công ty</label>
        <div class="col-lg-10 col-md-10">
            <input type="hidden" name="SingleCompany.FullName" id="insert-company-name" />
            <select id="insert-detail-company" style="width: 100%" name="SingleCompany.FullName" required>
                <option value="0">-- Chọn tên khách hàng doanh nghiệp --</option>
                @foreach (var item in LoadData.CompanyList())
                {
                    <option value="@item.FullName">[@item.Code] @item.FullName</option>
                }   
            </select>
           @*@Html.TextBoxFor(model => model.SingleCompany.FullName, new { @class = "form-control" })*@
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Giám đốc</label>
        <div class="col-lg-10 col-md-10">
            @Html.TextBoxFor(model => model.SingleCompany.Director, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
        <div class="col-lg-4 col-md-4">
            @Html.TextBoxFor(model => model.SingleCompany.Address, new { @class = "form-control" })
        </div>
        <div class="col-lg-6 col-md-6">
            <select class="form-control" multiple="multiple" style="width: 100%" id="insert-address-company" name="SingleCompany.TagsId">
                @foreach (var item in LoadData.DropdownlistLocation())
                {
                    <option value="@item.Id">@item.Tags</option>
                }
            </select>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Điện thoại</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.Phone, new { @onblur = "CheckPhoneCom();", @maxlength ="11", @placeholder = "Nhập 10 - 11 kí tự là số", onkeypress = "return isNumberKey(event);", @class = "form-control", id = "dienthoai-cty" })
                <span class="existMessage" id="_customerComPhoneSpan"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Di động</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.MobilePhone, new { @onblur = "CheckMobileCom();", @maxlength = "11", @placeholder = "Nhập 10 - 11 kí tự là số", onkeypress = "return isNumberKey(event);", @class = "form-control", id = "didong-cty" })
                <span class="existMessage" id="_customerComMobileSpan"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Email cá nhân</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.PersonalEmail, new { @class = "form-control", id = "mailcanhan-cty" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Email công ty</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.CompanyEmail, new { @class = "form-control", id = "mailcongty-cty" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Skype</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.Skype, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Nhóm KH</label>
            <div class="col-lg-9 col-md-9">
                <select class="form-control" style="width: 100%" id="customer-nhomkh-company" name="SingleCompany.CustomerGroupId">
                    @foreach (var item in LoadData.CustomerGroupList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Nguồn đến</label>
            <div class="col-lg-9 col-md-9">
                <select class="form-control" style="width: 100%" id="customer-nguonden-company" name="SingleCompany.OriginId">
                    @foreach (var item in LoadData.OriginList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Chức vụ</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.Position, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Phòng ban</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.Department, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Mã số thuế</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.TaxCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Ngày cấp</label>
            <div class="col-lg-9 col-md-9">
                    <input type="date" class="form-control" id="ngaycapmst" name="SingleCompany.CreatedDateTaxCode" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Nơi cấp</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.CreatedPlaceTaxCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Số tài khoản</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.AccountNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Mở tại NH</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.Bank, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Số GPKD</label>
            <div class="col-lg-9 col-md-9">
                @Html.TextBoxFor(model => model.SingleCompany.BusinessLicense, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Ngày TLDN</label>
            <div class="col-lg-9 col-md-9">
                    <input type="date" class="form-control" id="ngaytldn" name="SingleCompany.FoundingDate" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3 col-md-3">Ngành nghề</label>
            <div class="col-lg-9 col-md-9">
                <select class="form-control" style="width: 100%" id="edit-customer-company" name="SingleCompany.CareerId">
                    @foreach (var item in LoadData.CareerList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-12 col-md-12" style="text-align: left">Ghi chú</label>
            <div class="col-lg-12 col-md-12">
                @Html.TextAreaFor(model => model.SingleCompany.Note, new { @class = "form-control", id = "insert-note-company" })
            </div>
        </div>
    </div>
</div>
@*<div class="col-md-12">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-12 col-md-12">
                <select class="form-control" style="width: 100%" id="customer-quanly-company" name="SingleCompany.StaffManager">
                    <option>-- Chọn nhân viên quản lý của khách hàng này --</option>
                    @foreach (var item in LoadData.StaffList())
                    {
                        <option value="@item.Id"> @item.FullName</option>
                    }
                </select>
            </div>

        </div>
    </div>
</div>*@
