@using CRM.Core;
@using TOURDEMO.Models
@model IEnumerable<tbl_Quotation>

@{
    ViewBag.Title = "Quản lý Báo giá";
    string domain = "https://view.officeapps.live.com/op/embed.aspx?src=" + Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>DANH SÁCH BÁO GIÁ</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">Trang chủ</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">Page Layouts</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("Index", "QuotationManage")" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                {<button class="btn btn-primary" data-toggle="modal" href="#modal-insert-quotation"><i class="fa fa-plus"></i>&nbsp;Thêm</button>}
                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                { <button class="btn btn-warning" id="btnEdit"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>}
                @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                { <button class="btn btn-danger" id="btnRemove"><i class="fa fa-remove"></i>&nbsp;Xóa</button>
                    <form action="@Url.Action("Delete", "QuotationManage")" method="post" style="position:absolute">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="listItemId" name="listItemId" />
                    </form>
                }
            <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo"><i class="icon-book-open"></i>&nbsp;Ẩn/Hiện cột</button>
            </div>
        </div>
    </div>
    <div class="row collapse" id="demo">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="1" style="color: #333; font-weight: bold">Code</a></li>
                                <li><a class="toggle-vis" data-column="2" style="color: #333; font-weight: bold">Tên file</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                @*<li><a class="toggle-vis" data-column="3" style="color: #333; font-weight: bold">Tour</a></li>*@
                                <li><a class="toggle-vis" data-column="3" style="color: #333; font-weight: bold">Quốc gia</a></li>
                                <li><a class="toggle-vis" data-column="4" style="color: #333; font-weight: bold">Ngày</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                               
                                <li><a class="toggle-vis" data-column="5" style="color: #333; font-weight: bold">Hạn báo giá</a></li>
                                <li><a class="toggle-vis" data-column="6" style="color: #333; font-weight: bold">Giá tour</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2">
                            <ul>
                                <li><a class="toggle-vis" data-column="10" style="color: #333; font-weight: bold">Ghi chú</a></li>
                                <li><a class="toggle-vis" data-column="7" style="color: #333; font-weight: bold">Khách hàng</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            <ul>
                                <li><a class="toggle-vis" data-column="8" style="color: #333; font-weight: bold">Người tạo báo giá</a></li>
                                <li><a class="toggle-vis" data-column="9" style="color: #333; font-weight: bold">Người gửi báo giá</a></li>
                                
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="table-responsive table-custom-format" id="tableDictionary-Wrapper">
                        <table class="table table-striped table-bordered table-hover dataTable" id="tableDictionary">
                            <thead>
                                <tr>
                                    <th class="width24"></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                       
                                </tr>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                                    </th>
                                    <th>CODE</th>
                                    <th>Tên file</th>
                                    @*<th>Tour</th>*@
                                    <th>Quốc gia</th>
                                    <th>Ngày</th>
                                    <th>Hạn báo giá</th>
                                    <th>Giá tour</th>
                                    <th>Khách hàng</th>
                                    <th>Người tạo báo giá</th>
                                    <th>Người gửi báo giá</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    string ext = Path.GetExtension(item.FileName);
                                    ext = ext == null ? "" : ext.ToLower();
                                    <tr>
                                        <td class="width24">
                                            <input type="checkbox" value="@item.Id" id="cb@(item.Id)" class="cbItem" name="cb" onclick="CheckSelect()" />
                                        </td>
                                        <td>@item.Code</td>
                                        <td class="textalignleft">
                                            @if (ext == ".pdf" || ext == ".jpg" || ext == ".png" || ext == ".txt")
                                            {
                                                <a target="_blank" href="/Upload/file/@item.FileName">@item.FileName</a>
                                            }
                                            else
                                            {
                                                <a target="_blank" href="@domain/Upload/file/@item.FileName">@item.FileName</a>
                                            }
                                        </td>
                                        @*<td class="textalignleft">@(item.TourId != null ? item.tbl_Tour.Name : "")</td>*@
                                        <td class="textalignleft">@(item.CountryId != null ? item.tbl_TagsCountry.Tag : "")</td>
                                        <td>@string.Format("{0:dd-MM-yyyy}", item.QuotationDate)</td>

                                        @{
                                            if (item.ExpiredDate != null)
                                            {
                                                var exDate = item.ExpiredDate ?? DateTime.Now;
                                                var compareDate = (exDate - DateTime.Now).Days;
                                                if (compareDate <= 5 && compareDate > 3)
                                                {
                                                    <td style="background-color:goldenrod">@string.Format("{0:dd-MM-yyyy}", item.ExpiredDate)</td>
                                                }
                                                else if (compareDate <= 3)
                                                {
                                                    <td style="background-color:red">@string.Format("{0:dd-MM-yyyy}", item.ExpiredDate)</td>
                                                }
                                                else
                                                {
                                                    <td>@string.Format("{0:dd-MM-yyyy}", item.ExpiredDate)</td>
                                                }
                                            }
                                            else
                                            {
                                                <td>@string.Format("{0:dd-MM-yyyy}", item.ExpiredDate)</td>
                                            }
                                        }

                                        @if (item.PriceTour != null)
                                        {
                                            <td>@string.Format("{0:0,0}", item.PriceTour).Replace(",", ".") @item.tbl_DictionaryCurrency.Name</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                        <td class="textalignleft">@(item.tbl_Customer != null ? item.tbl_Customer.FullName : "")</td>
                                        <td>@item.tbl_Staff.FullName</td>
                                        <td class="textalignleft">@(item.StaffQuotationId != null ? item.tbl_StaffQuotation.FullName : "")</td>
                                        
                                        <td class="textalignleft">@Html.Raw(item.Note)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END PAGE BASE CONTENT -->
</div>

@Html.Partial("_Partial_Insert_Quotation", new tbl_Quotation())


<div id="data-quotation">
</div>

<div id="viewfile"></div>
@Html.Partial("_Partial_InsertCustomer", new CustomerViewModel())
@section scripts{

    <script src="~/Content/ckeditor-basic/ckeditor.js"></script>
    <script src="~/Scripts/controller/quotation.js"></script>
    <script src="~/Scripts/controller/addcustomer.js"></script>


<script src="~/Scripts/controller/jquery.maskMoney.min.js"></script>
<script src="~/Scripts/controller/jquery.number.js"></script>
<script src="~/Scripts/controller/form-input-mask.js"></script>
<script src="~/Scripts/controller/changecurrency.js"></script>
<script src="~/Scripts/inputmask/inputmask.min.js"></script>
<script src="~/Scripts/inputmask/inputmask.extensions.min.js"></script>
<script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>
<script src="~/Scripts/inputmask/inputmask.numeric.extensions.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#tonggiatribaogia').number(true, 0);
            
        })
    </script>
}
