@using TOURDEMO.Utilities;
@using CRM.Core;
@model tbl_MailSending

@{
    ViewBag.Title = "Cập nhật Kế hoạch gửi mail";
    int i = 1;
}
<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>CẬP NHẬT KẾ HOẠCH GỬI MAIL</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    @using (Html.BeginForm("Update", "MailAutoSend"))
    {
        <div class="note note-info">
            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("Update", "MailAutoSend", new { id = Model.Id })" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                    <button type="submit" class="btn btn-danger" name="btnLuu"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                    <a href="@Url.Action("Index", "MailAutoSend")" class="btn btn-primary"><i class="fa fa-ban"></i>&nbsp;Hủy</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-1 col-lg-1 control-label">Tiêu đề</label>
                                <div class="col-md-5 col-lg-5">
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.HiddenFor(model => model.CreateDate)
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                </div>
                                <label class="col-md-2 col-lg-2 control-label">Mail gửi</label>
                                <div class="col-md-4 col-lg-4">
                                    <select class="form-control" id="edit-mailconfig" name="MailConfigId" style="width: 100%">
                                        @foreach (var item in LoadData.MailConfigList())
                                        {
                                            <option value="@item.Id" @(Model.MailConfigId == item.Id ? "selected" : "")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Danh sách nhận</label>
                                <div class="col-md-12">
                                    <button type="button" id="btnAddReceiveList" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Thêm</button>
                                    <br /><br />
                                    <div class="table-scrollable table-custom-format" id="data-receive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Tên danh sách</th>
                                                    <th>Diễn giải</th>
                                                    <th>Người tạo</th>
                                                    <th>Ngày tạo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.MailReceiveList != null)
                                                {
                                                    foreach (var item in ViewBag.MailReceiveList)
                                                    {
                                                        <tr class="odd gradeX" id="item-@item.Id">
                                                            <td><a style="cursor: pointer" onclick="removeFromList(@i, @item.Id)"><i class="fa fa-trash"></i>&nbsp;Xóa</a></td>
                                                            <td>@item.Name</td>
                                                            <td>@Html.Raw(item.Description)</td>
                                                            <td>@item.tbl_Staff.FullName</td>
                                                            <td>@string.Format("{0:dd/MM/yyyy}", item.CreateDate)</td>
                                                        </tr>
                                                    i++;
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Chọn mẫu gửi</label>
                                @foreach (var item in ViewBag.MailTemplate)
                                {
                                    <div class="col-md-2"></div>
                                    <div class="col-md-10">
                                        <input type="radio" id="m@(item.Id)" name="MailTemplateId" value="@item.Id" @(Model.MailTemplateId == item.Id ? "checked" : "") />
                                        <label for="m@(item.Id)">@item.Name</label><br />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- END PAGE BASE CONTENT -->
</div>

<div id="listReceive"></div>

@section scripts{
    <script src="~/Scripts/controller/mailautosendupdate.js"></script>
}

