@using TOURDEMO.Utilities
@using CRM.Core
@model tbl_Task

<div class="modal fade  bs-modal-lg" id="modal-edit-tourtask" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Phân công nhiệm vụ</h4>
            </div>
            @using (Ajax.BeginForm("UpdateTask", "TourOtherTab", null, new AjaxOptions { OnFailure = "OnFailureTour", OnSuccess = "OnSuccessTour", UpdateTargetId = "nhiemvu" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.TaskStatusId)
                @Html.HiddenFor(model => model.StaffId)
                @Html.HiddenFor(model => model.TourId)
                @Html.HiddenFor(model => model.CodeTour)
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Loại nhiệm vụ</label>
                                    <div class="col-lg-8 col-md-8">
                                        <select class="form-control" style="width: 100%" name="TaskTypeId" id="edit-task-type">
                                            @foreach (var item in LoadData.TaskTypeList())
                                            {
                                                <option value="@item.Id" @(Model != null && Model.TaskTypeId == item.Id ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Tên nhiệm vụ</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Phòng ban</label>
                                    <div class="col-lg-8 col-md-8">
                                        <select class="form-control" id="edit-department-tasktour" style="width: 100%">
                                            <option>-- Chọn phòng ban --</option>
                                            @foreach (var item in LoadData.DepartmentList())
                                            {
                                                <option value="@item.Id" @(Model != null && ViewBag.DepartmentId == item.Id ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Người thực hiện</label>
                                    <div class="col-lg-8 col-md-8">
                                        <select class="form-control" id="edit-staff-tasktour" style="width: 100%" name="Permission">
                                            <option>-- Chọn nhân viên thực hiện --</option>
                                            @foreach (var item in ViewBag.PermissionList)
                                            {
                                                <option value="@item.Id" @(Model != null && Model.Permission == item.Id.ToString() ? "selected" : "")>@item.FullName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Ngày nhắc</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.NotifyDate, "{0:s}", new { @class = "form-control", @type = "datetime-local", id = "edit-nhiemvu-ngaynhac", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Ngày hoàn thành</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.FinishDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Ngày bắt đầu</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Thời hạn</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.Time, new { @type = "number", @class = "form-control" })
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" id="edit-timetype-task" style="width: 100%" name="TimeType">
                                            <option value="phút" @(Model != null && Model.TimeType == "phút" ? "selected" : "")>Phút</option>
                                            <option value="giờ" @(Model != null && Model.TimeType == "giờ" ? "selected" : "")>Giờ</option>
                                            <option value="ngày" @(Model != null && Model.TimeType == "ngày" ? "selected" : "")>Ngày</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Ngày kết thúc</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Độ ưu tiên</label>
                                    <div class="col-lg-8 col-md-8">
                                        <select class="form-control" id="edit-priority-task" style="width: 100%" name="TaskPriorityId">
                                            <option>-- Chọn độ ưu tiên --</option>
                                            @foreach (var item in LoadData.TaskPriorityList())
                                            {
                                                <option value="@item.Id" @(Model != null && Model.TaskPriorityId == item.Id ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">% hoàn thành</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.PercentFinish, new { @class = "form-control", @type = "number", min = "0", max = "100" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Nội dung</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "edit-note-tourtask" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
