@using TOURDEMO.Utilities
@model CRM.Core.tbl_LiabilityCustomer

<div class="modal fade" id="modal-insert-congnokh" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thêm công nợ của khách hàng</h4>
            </div>
            @using (Ajax.BeginForm("CreateLiabilityCustomer", "TourOtherTab", null, new AjaxOptions { OnFailure = "OnFailureTourTab", OnSuccess = "OnSuccessCNKH", UpdateTargetId = "congnokh" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Tổng giá trị hợp đồng</label>
                                    <div class="col-lg-6 col-md-6">
                                        @Html.TextBoxFor(model => model.TotalContract, new { @class = "form-control Icnkh", id = "IcnkhTong" })
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <select class="form-control" name="CurrencyId" id="insert-currency-congnokh" style="width: 100%">
                                            @foreach (var item in LoadData.CurrencyList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Thanh toán đợt 1</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.FirstPrice, new { @class = "form-control Icnkh", id = "IcnkhDot1" })
                                    </div>
                                    <label class="control-label col-lg-1 col-md-1">Ngày</label>
                                    <div class="col-lg-3 col-md-3">
                                            @Html.TextBoxFor(model => model.FirstDate, new { @class = "form-control", type="date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Thanh toán đợt 2</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.SecondPrice, new { @class = "form-control Icnkh", id = "IcnkhDot2" })
                                    </div>
                                    <label class="control-label col-lg-1 col-md-1">Ngày</label>
                                    <div class="col-lg-3 col-md-3">
                                            @Html.TextBoxFor(model => model.SecondDate, new { @class = "form-control", type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Thanh toán đợt 3</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.ThirdPrice, new { @class = "form-control Icnkh", id = "IcnkhDot3" })
                                    </div>
                                    <label class="control-label col-lg-1 col-md-1">Ngày</label>
                                    <div class="col-lg-3 col-md-3">
                                            @Html.TextBoxFor(model => model.ThirdDate, new { @class = "form-control", type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Tổng giá trị thanh lý</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.TotalLiquidation, new { @class = "form-control Icnkh", id = "IcnkhTongThanhLy" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Tổng giá trị còn lại</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextBoxFor(model => model.TotalRemaining, new { @class = "form-control Icnkh", id = "IcnkhTongConLai" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Đã thanh toán</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.CheckBoxFor(model => model.IsPayment)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-4 col-md-4">Ghi chú</label>
                                    <div class="col-lg-8 col-md-8">
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "insert-note-liabilitycustomer" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>