@using TOURDEMO.Utilities
@model CRM.Core.tbl_LiabilityPartner

<div class="modal fade" id="modal-insert-congnodt" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thêm công nợ của đối tác</h4>
            </div>
            @using (Ajax.BeginForm("CreateLiabilityPartner", "TourOtherTab", null, new AjaxOptions { OnFailure = "OnFailureTourTab", OnSuccess = "OnSuccessCNDT", UpdateTargetId = "congnodoitac" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row clonedInputCongNo" id="entryCongNo1">
                            <div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <a data-toggle="collapse" data-target="#demo-congnodt1" style="cursor: pointer" class="btn btn-default collapsedt"><i class="fa fa-plus"></i></a>
                                            <span class="caption-subject bold uppercase font-purple titleoption">OPTION 1</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body optioncongno" id="demo-congnodt1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2 col-md-2">Dịch vụ</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <select class="form-control dichvupartner" name="ServiceId1"  id="insert-partner-dichvu1" style="width: 100%">
                                                            @foreach (var item in LoadData.ServiceList())
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <label class="control-label col-lg-2 col-md-2">Đối tác</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <select class="form-control congnopartner" name="PartnerId1"  id="insert-partner-congno1" style="width: 100%">
                                                            <option value="0">-- Chọn đối tác --</option>
                                                            @foreach (var item in LoadData.PartnerAllList())
                                                            {
                                                                <option value="@item.Id">[@item.Code] @item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2 col-md-2">Thanh toán</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <select class="form-control congnomethod" name="PaymentMethod1" id="insert-method-congno1" style="width: 100%">
                                                            <option value="1">Tiền mặt</option>
                                                            <option value="2">Chuyển khoản</option>
                                                            <option value="3">Thẻ</option>
                                                            <option value="4">Khác</option>
                                                        </select>
                                                    </div>
                                                    <label class="control-label col-lg-2 col-md-2">Thanh toán đợt 1</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <input type="text" class="form-control congnofirst Icndt" name="FirstPayment1" id="FirstPayment1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2 col-md-2">Giá trị dịch vụ</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <input type="text" class="form-control congnoprice Icndt" name="ServicePrice1" id="ServicePrice1" />
                                                    </div>
                                                    <label class="control-label col-lg-2 col-md-2">Thanh toán đợt 2</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <input type="text" class="form-control congnosecond Icndt" name="SecondPayment1" id="SecondPayment1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2 col-md-2">Loại tiền</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <select class="form-control congnocurrencyfirst" name="FirstCurrencyType1" id="insert-currencyfirst-congno1" style="width: 100%">
                                                            @foreach (var item in LoadData.CurrencyList())
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <label class="control-label col-lg-2 col-md-2">Còn lại</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <input type="text" class="form-control congnoremaining Icndt" name="TotalRemaining1" id="TotalRemaining1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                                    <div class="col-lg-10 col-md-10">
                                                        <textarea class="form-control congnonote" id="insert-note-congnodt1" name="Note1"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <input type="hidden" value="1" id="countOptionCongNo" name="NumberOptionCongNo" />
                    <button type="button" class="btn btn-success" id="btnAddCongNo">Thêm option</button>
                    <button type="button" class="btn btn-danger" id="btnDelCongNo">Xóa option</button>
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>