@using TOURDEMO.Models
@model IEnumerable<VisaListViewModel>

@{
    int i = 1;
}

<div class="table-scrollable table-custom-format" id="tableDictionary-Wrapper">
    <table class="table table-bordered table-hover dataTable" id="tableDictionary">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>
            <tr>
                <th>#</th>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Số Ref</th>
                <th>Số visa</th>
                <th>Quốc gia</th>
                <th>Loại visa</th>
                <th>Tình trạng</th>
                <th>Thời hạn nhận hồ sơ</th>
                <th>Thời hạn nộp hồ sơ</th>
                <th>Ngày nhận hồ sơ</th>
                <th>Ngày hiệu lực</th>
                <th>Ngày hết hạn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd gradeX" id="row@(item.Id)@(item.IsCustomer)">
                    <td>
                        @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                        { 
                            <a style="cursor: pointer" onclick="editVisa(@item.Id, @item.IsCustomer)"><i class="fa fa-edit"></i>&nbsp;Sửa</a>
                        }
                        @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                        {
                            <a style="cursor: pointer" onclick="deleteVisa(@item.Id, @item.IsCustomer)"><i class="fa fa-trash"></i>&nbsp;Xóa</a>
                        }
                        <input type="hidden" name="VisaId" value="@item.Id" />
                        <input type="hidden" name="VisaType" value="@item.IsCustomer" />
                    </td>
                    <td  style="text-align: center">@i</td>
                    <td class="textalignleft" style="width: 150px">@item.Name</td>
                    <td>@item.RefNumber</td>
                    <td>@item.Code</td>
                    <td>@item.Country</td>
                    <td>@item.Type</td>
                    <td class="textalignleft">@item.Status</td>
                    <td>@item.DeadlineCollect</td>
                    <td>@item.DeadlineSubmission</td>
                    <td>@item.ReceiptDate</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>