@using CRM.Core
@using TOURDEMO.Utilities
@model tbl_StaffVisa

<div class="modal fade " id="modal-edit-visa" role="document" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cập nhật visa</h4>
            </div>
            @using (Ajax.BeginForm("UpdateVisaStaff", "ListVisaManage", null, new AjaxOptions { OnFailure = "OnFailureListVisa", OnSuccess = "OnSuccessListVisa"@*, UpdateTargetId = "data-visa"*@ }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">                                
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.StaffId)
                                @Html.HiddenFor(model => model.CreatedDate)
                                @Html.HiddenFor(model => model.Deadline)
                                @Html.HiddenFor(model => model.IsDelete)
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Mã visa</label>
                                    <div class="col-lg-9 col-md-9">
                                        @Html.TextBoxFor(model => model.VisaNumber, new { @class = "form-control", required = "required", id = "edit-visa-staff" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Quốc gia</label>
                                    <div class="col-lg-9 col-md-9">
                                        <select id="edit-country-visa" name="TagsId" class="form-control" style="width: 100%">
                                            @foreach (var item in LoadData.DropdownlistCountry())
                                            {
                                                <option value="@item.Id" @(Model.TagsId != null && Model.TagsId == item.Id ? "selected" : "")>@item.Tags</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Tình trạng</label>
                                    <div class="col-lg-9 col-md-9">
                                        <select class="form-control" name="DictionaryId" id="edit-status-visa" style="width: 100%">
                                            @foreach (var item in LoadData.VisaStatusList())
                                            {
                                                <option value="@item.Id" @(Model.DictionaryId != null && Model.DictionaryId == item.Id ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Loại visa</label>
                                    <div class="col-lg-9 col-md-9">
                                        <select class="form-control" name="VisaType" id="edit-type-visa" style="width: 100%">
                                            @foreach (var item in LoadData.VisaTypeList())
                                            {
                                                <option value="@item.Id" @(Model.VisaType != null && Model.VisaType == item.Id ? "selected" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Ngày hiệu lực</label>
                                    <div class="col-lg-9 col-md-9">
                                        @Html.TextBoxFor(modl => Model.CreatedDateVisa, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "edit-createdate-visa" })
                                    </div>
                                </div>
                                <div class="form-group"> 
                                    <label class="control-label col-lg-3 col-md-3">Ngày hết hạn</label> 
                                    <div class="col-lg-9 col-md-9">
                                        @Html.TextBoxFor(modl => Model.ExpiredDateVisa, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "edit-expiredate-visa" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue" id="btneditVisa">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


