@using TOURDEMO.Utilities
@using CRM.Core

@{
    ViewBag.Title = "Quản lý Danh sách Visa";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>QUẢN LÝ DANH SÁCH VISA</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-2">
                <select class="form-control" id="ddlid" style="width: 100%">
                    <option value="0">-- Tất cả --</option>
                    <option value="1">Nhân viên</option>
                    <option value="2">Khách hàng</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" id="ddlidtag" style="width: 100%">
                    <option value="0">-- Quốc gia --</option>
                    @foreach (var item in LoadData.DropdownlistCountry())
                    {
                        <option value="@item.Id">@item.Tags</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" id="ddltype" style="width: 100%">
                    <option value="0">-- Loại visa --</option>
                    @foreach (var item in LoadData.VisaTypeList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="ddlstatus" style="width: 100%">
                    <option value="0">-- Tình trạng --</option>
                    @foreach (var item in LoadData.VisaStatusList())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="ddlpersonal" style="width: 100%">
                    <option value="0">-- Visa đoàn/lẻ --</option>
                    <option value="1">Visa đoàn</option>
                    <option value="2">Visa lẻ</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-6">
                <a class="btn btn-default" href="@Url.Action("Index", "ListVisaManage")"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                <a class="btn btn-success" data-toggle="modal" href="#modal-import-partner"><i class="icon-action-redo"></i>&nbsp;Import</a>
                @if (ViewBag.IsExport != null && ViewBag.IsExport)
                {
                    <label class="btn btn-info fileContainer">
                        <a style="cursor: pointer" onclick="$('#exportForm').submit();"><i class="icon-action-undo"></i>&nbsp;Export</a>
                    </label>
                    using (Html.BeginForm("ExportFile", "ListVisaManage", FormMethod.Post, new { enctype = "multipart/form-data", id = "exportForm", style = "position: absolute" }))
                    {
                        <input type="hidden" id="txtid" name="id" value="0" />
                        <input type="hidden" id="txtidtag" name="idtag" value="0" />
                        <input type="hidden" id="txttype" name="type" value="0" />
                        <input type="hidden" id="txtstatus" name="status" value="0" />
                        <input type="hidden" id="txtpersonal" name="personal" value="0" />
                        <input type="hidden" id="txtstartDate" name="startDate" />
                        <input type="hidden" id="txtendDate" name="endDate" />
                    }
                }
                @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                {
                    <a href="#modal-insert-visacustomer" class="btn btn-danger" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Khách hàng</a>
                    <a href="#modal-insert-visastaff" class="btn btn-warning" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Nhân viên</a>
                }
            </div>
            <div class="col-md-3">
                <input type="date" id="txtstart" class="form-control" placeholder="Từ ngày" />
            </div>
            <div class="col-md-3">
                <input type="date" id="txtend" class="form-control" placeholder="Đến ngày" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body" id="data-visa">
                    @Html.Action("_Partial_ListVisa", "ListVisaManage")
                </div>
            </div>
            <div class="portlet light bordered" id="tabThongTinChiTiet">
                <div class="portlet-body">
                    <div class="tabbable-custom ">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">Danh sách thủ tục</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="thongtinchitiet">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="data-edit-visa"></div>

@Html.Partial("_Partial_InsertVisaCustomer", new tbl_CustomerVisa())
@Html.Partial("_Partial_InsertVisaStaff", new tbl_StaffVisa())
@Html.Partial("_Partial_Import")

@section scripts{
    <script src="~/Scripts/controller/visa.js"></script>
}

