@using CRM_TTV.Models
@model IEnumerable<tbUser>
@{
    int i = 0;
}
<div class="table-responsive table-custom-format">
    <script>
        $("#tbl-data-import").on("change", ".cbItem", function () {
            var ItemID = $(this).val();
            var currentlistItemID = $("#listItemIdI").val();
            var stringBranchID = "";
            if ($(this).prop('checked')) {
                currentlistItemID += ItemID + ",";
                $("#listItemIdI").val(currentlistItemID);
            } else {
                $("#listItemIdI").val(currentlistItemID.replace(ItemID + ",", ""));
            }
        });
        function DeleteImport() {
            if ($("#listItemIdI").val() == "") {
                alert("Vui lòng chọn mục cần xóa !");
                return false;
            }
            var dataPost = { listItemId: $("#listItemIdI").val() };
            $.ajax({
                type: "POST",
                url: '/StaffsOther/DeleteImport',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#import-data-staff").html(data);
                    $("#listItemIdI").val("");
                }
            });
        }
        function SaveImport() {
            var dataPost = { id: $("input[name='CheckImport']:checked").val() }
            $.ajax({
                type: "POST",
                data: JSON.stringify(dataPost),
                url: '/StaffsOther/SaveImport',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    alert("Đã import được " + data + " nhân viên.");
                    $("#modal").modal("hide");
                    window.location.href = "/Staffs";
                }
            });
        }
    </script>
    <table class="table table-striped table-bordered table-hover" id="tbl-data-import">
        <thead>
            <tr>
                <th>#</th>
                <th>STT</th>
                <th>MÃ KHÁCH HÀNG</th>
                <th>HỌ TÊN</th>
                <th>NGÀY SINH</th>
                <th>ĐIỆN THOẠI 1</th>
                <th>ĐIỆN THOẠI 2</th>
                <th>EMAIL</th>
                <th>SKYPE</th>
                <th>FACEBOOK</th>
                <th>QUÊ QUÁN</th>
                <th>THƯỜNG TRÚ</th>
                <th>NƠI Ở HIỆN TẠI</th>
                <th>CMND/PASSPORT</th>
                <th>NGÀY CẤP</th>
                <th>NƠI CẤP</th>
                @*<th>QUỐC TỊCH</th>
                <th>HÌNH THỨC NV</th>
                <th>TRẠNG THÁI</th>
                <th>CHI NHÁNH</th>
                <th>PHÒNG BAN</th>
                <th>BỘ PHẬN</th>
                <th>SỨC KHỎE</th>*@
                <th>KINH NGHIỆM</th>
                <th>NGÀY VÀO LÀM</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="@i" id="cb@i" class="cbItem" name="cb" onclick="CheckSelect()" />
                    </td>
                    <td>@(i+1)</td>
                    <td>@item.code</td>
                    <td>@item.fullName</td>
                    <td>@(item.birthDay != null ? string.Format("{0:dd/MM/yyyy}", item.birthDay) : "")</td>
                    <td>@item.phone</td>
                    <td>@item.phone2</td>
                    <td>@item.email</td>
                    <td>@item.skype</td>
                    <td>@item.facebook</td>
                    <td>@item.homeTown</td>
                    <td>@item.resident</td>
                    <td>@item.address</td>
                    <td>@item.passport</td>
                    <td>@(item.dateIssued != null ? string.Format("{0:dd/MM/yyyy}", item.dateIssued) : "")</td>
                    <td>@item.locationIssued</td>
                    @*<td>@(item.tbRegion != null ? item.tbRegion.name : "")</td>
                    <td>@(item.tbCategory != null ? item.tbCategory.name : "")</td>
                    <td>@(item.tbCategory1 != null ? item.tbCategory1.name : "")</td>
                    <td>@(item.tbCompany != null ? item.tbCompany.name : "")</td>
                    <td>@(item.tbRole1 != null ? item.tbRole1.name : "")</td>
                    <td>@(item.tbRole2 != null ? item.tbRole2.name : "")</td>
                    <td>@(item.tbCategory2 != null ? item.tbCategory2.name : "")</td>*@
                    <td>@item.experience</td>
                    <td>@(item.dateToWork != null ? string.Format("{0:dd/MM/yyyy}", item.dateToWork) : "")</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

