@model CRM_TTV.tbRoom

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbRoom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCompany.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCompany.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
