@model MOLUX.Models.web_ConfigWebsite

@{
    ViewBag.Title = "Cấu hình website";
}

<section class="content-header">
    <h1>
        Cấu hình website
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Cấu hình website</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("Index", "ConfigManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Logo)
                    @Html.HiddenFor(model => model.LogoBCT)
                    @Html.HiddenFor(model => model.TitleFooter2)
                    @Html.HiddenFor(model => model.IconSale)
                    @Html.HiddenFor(model => model.IconNew)
                    @Html.HiddenFor(model => model.LicenseDate)

                    <div class="box-header">
                        <div class="callout callout-info lead">
                            <a href="@Url.Action("Index", "ConfigManage")" class="btn btn-primary"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                            <button class="btn btn-danger" id="btnSave" name="btnSave"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                            <a href="@Url.Action("Footer", "ConfigManage")" target="_blank" class="btn btn-warning"><i class="fa fa-cog"></i>&nbsp;Cấu hình footer</a>
                            <a href="@Url.Action("BusinessDepartment", "ConfigManage")" target="_blank" class="btn btn-success"><i class="fa fa-briefcase"></i>&nbsp;Phòng kinh doanh</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Thông tin công ty</a></li>
                                <li><a data-toggle="tab" href="#menu1">Bản đồ</a></li>
                                <li><a data-toggle="tab" href="#menu2">Đăng ký bộ công thương</a></li>
                                <li><a data-toggle="tab" href="#menu3">SEO</a></li>
                                <li><a data-toggle="tab" href="#menu4">Khác</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active" style="padding-top: 20px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Tên công ty</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">Hotline</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.Hotline, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Điện thoại mua hàng</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.PhonePurchase, new { @class = "form-control" })
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">CSKH</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.CustomerService, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Địa chỉ 1</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">Địa chỉ 2</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Email 1</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.Email1, new { @class = "form-control" })
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">Email 2</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.Email2, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane fade" style="padding-top: 20px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Link Bản đồ 1</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.GoogleMap1, new { @class = "form-control" })
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">Link Bản đồ 2</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.GoogleMap2, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Mã nhúng map 1</label>
                                            <div class="col-lg-10 col-md-10">
                                                @Html.TextAreaFor(model => model.EmbedGoogleMap1, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Mã nhúng map 2</label>
                                            <div class="col-lg-10 col-md-10">
                                                @Html.TextAreaFor(model => model.EmbedGoogleMap2, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade" style="padding-top: 20px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Giấy phép</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.LicenseNumber, new { @class = "form-control" })
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">Logo bộ công thương</label>
                                            <div class="col-lg-4 col-md-4">
                                                <img src="~/Images/Logo/@Model.LogoBCT" class="img-responsive" alt="Đăng ký bộ công thương" title="Đăng ký bộ công thương" />
                                                @Html.TextBoxFor(model => model.LogoBCT, new { @class = "form-control", @type = "file" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Giấy chứng nhận</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.LicenseProvince, new { @class = "form-control" })
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">Mua hàng bấm phím</label>
                                            <div class="col-lg-4 col-md-4">
                                                @Html.TextBoxFor(model => model.TitleFooter1, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade" style="padding-top: 20px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">MetaTitle (SEO)</label>
                                            <div class="col-lg-10 col-md-10">
                                                @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">MetaDescription (SEO)</label>
                                            <div class="col-lg-10 col-md-10">
                                                @Html.TextBoxFor(model => model.MetaDescription, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">MetaKeyword (SEO)</label>
                                            <div class="col-lg-10 col-md-10">
                                                @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu4" class="tab-pane fade" style="padding-top: 20px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2">Icon khuyến mãi</label>
                                            <div class="col-lg-4 col-md-4">
                                                <img src="~/Images/Logo/@Model.IconSale" class="img-responsive" style="width: 100px" />
                                                @Html.TextBoxFor(model => model.IconSale, new { @class = "form-control", type = "file" })
                                            </div>
                                            <label class="control-label col-lg-2 col-md-2">Icon mới</label>
                                            <div class="col-lg-4 col-md-4">
                                                <img src="~/Images/Logo/@Model.IconNew" class="img-responsive" style="width: 100px" />
                                                @Html.TextBoxFor(model => model.IconNew, new { @class = "form-control", type = "file" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>