@model CRM_TTV.tbUser
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Thêm mới nhân viên</h4>
        </div>
        @using (Html.BeginForm())
        {
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="tabbable-custom" id="tab-insert-customer">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#thongtincoban" data-toggle="tab">Thông tin cơ bản</a>
                            </li>
                            <li>
                                <a href="#thongtincanhan" data-toggle="tab">Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a href="#thongtinquanly" data-toggle="tab">Thông tin quản lý</a>
                            </li>
                            <li>
                                <a href="#hopdongbaohiem" data-toggle="tab">Hợp đồng - Bảo hiểm</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="thongtincoban">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Mã nhân viên</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Họ tên</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Email</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Điện thoại 1</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Điện thoại 2</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.phone2, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.phone2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Ngày sinh</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.birthDay, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                                @Html.ValidationMessageFor(model => model.birthDay, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Trạng thái</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("idState", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.idState, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Giới tính</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.sex)
                                                @Html.ValidationMessageFor(model => model.sex, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Nơi sinh</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.homeTown, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.homeTown, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Quốc tịch</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.citizenship, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.citizenship, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Thường trú</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Địa chỉ hiện tại</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.resident, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Tỉnh/TP</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("city", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Quận/Huyện</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("district", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.district, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Ghi chú</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="thongtincanhan">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">CMND/Passport</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.passport, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.passport, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Ngày cấp</label>
                                            <div class="col-md-8">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                    @Html.EditorFor(model => model.dateIssued, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>

                                                @Html.ValidationMessageFor(model => model.dateIssued, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Nơi cấp</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.locationIssued, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.locationIssued, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Nơi Đào Tạo</label>
                                                <div class="col-md-8">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Chuyên môn</label>
                                                <div class="col-md-8">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Bằng cấp/Chứng chỉ</label>
                                                <div class="col-md-8">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Nơi làm việc</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.trainingPlaces, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.trainingPlaces, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Kinh nghiệm làm việc</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.experience, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.experience, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Người thân</label>
                                            <div class="col-md-8">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Mối quan hệ</label>
                                            <div class="col-md-8">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">SĐT người thân</label>
                                            <div class="col-md-8">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Kết hôn</label>
                                            <div class="col-md-8">
                                                @Html.CheckBoxFor(model => model.married)
                                                @Html.ValidationMessageFor(model => model.married, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="thongtinquanly">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">SĐT công ty</label>
                                            <div class="col-md-8">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Hình thức NV</label>
                                            <div class="col-md-8">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Part time</label>
                                            <div class="col-md-8">
                                                @Html.CheckBoxFor(model => model.partTime)
                                                @Html.ValidationMessageFor(model => model.partTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Trạng thái làm việc</label>
                                            <div class="col-md-8">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Ngày nghỉ việc</label>
                                            <div class="col-md-8">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                    @Html.EditorFor(model => model.dateLock, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.dateLock, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Lý do nghỉ</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.reason, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.reason, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Kết thúc thử việc</label>
                                            <div class="col-md-8">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                    @Html.EditorFor(model => model.dateTrialEnds, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.dateTrialEnds, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Chi nhánh</label>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.DropDownList("idCompany", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.idCompany, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Khối - Phòng ban</label>
                                            <div class="col-md-8">
                                                dsa
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Bộ phận</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("department", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.department, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Chức vụ</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("position", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Mức Lương thỏa thuận</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.salary, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.salary, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Cấp bậc</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("lever", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.lever, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Ngày vào làm</label>
                                            <div class="col-md-8">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                    @Html.EditorFor(model => model.dateToWork, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.dateToWork, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="hopdongbaohiem">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Số HĐLĐ</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.codeHDLD, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.codeHDLD, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Ngày hiệu lực</label>
                                            <div class="col-md-8">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                    @Html.EditorFor(model => model.IssuedDateHDLD, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IssuedDateHDLD, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Loại hợp đồng</label>
                                            <div class="col-md-8">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Tình trạng HĐ</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">HĐ từ ngày</label>
                                            <div class="col-md-8">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                    @Html.EditorFor(model => model.HDLDStartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button" disabled="disabled">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.HDLDStartDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">HĐ đến ngày</label>
                                            <div class="col-md-8">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                    @Html.EditorFor(model => model.HDLDEndDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.HDLDEndDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Số sổ BHXH</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.codeBHXH, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.codeBHXH, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Mã số thuế</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.taxCode, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.taxCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Ngày đăng ký thuế</label>
                                            <div class="col-md-8">
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                    @Html.EditorFor(model => model.DateRegisterTaxCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.DateRegisterTaxCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Nơi đăng ký thuế</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.locationRegisterTaxCode, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.locationRegisterTaxCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Tài khoản số</label>
                                            <div class="col-md-8">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Chi nhánh NH</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.banking, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.banking, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn yellow" type="submit"><i class="fa fa-floppy-o"></i>&nbsp;Lưu</button>
                <button class="btn grey" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
            </div>
        }
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
