@model CRM_TTV.tbUser
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Insert</h4>
        </div>


        <div class="modal-body">
            <div class="form-horizontal">
                <div class="tabbable-custom" id="tab-insert-customer">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#thongtincoban" data-toggle="tab">Thông tin cơ bản</a>
                        </li>
                        <li>
                            <a href="#visapassport" data-toggle="tab">Visa - Passport</a>
                        </li>
                        <li>
                            <a href="#thongtinkhac" data-toggle="tab">Thông tin khác</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="thongtincoban">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Mã số</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Mã số thuế</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Họ tên</label>
                                        <div class="col-lg-2 col-md-2">
                                            <select class="form-control">
                                                <option value="1">Ông</option>
                                                <option value="2">Bà</option>
                                                <option value="3">Anh</option>
                                                <option value="4">Chị</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-8 col-md-8">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Ngày sinh</label>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="input-group date form_datetime date date-picker" data-date-format="dd/mm/yyyy">
                                                <input type="text" class="form-control" readonly id="insert-noisinh">
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Nơi sinh</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Email</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Điện thoại</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Chức vụ</label>
                                        <div class="col-lg-4 col-md-4">
                                            <select class="form-control">
                                                <option value="1">------------</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Nhóm KD</label>
                                        <div class="col-lg-4 col-md-4">
                                            <select class="form-control">
                                                <option value="1">------------</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Trụ sở, chi nhánh</label>
                                        <div class="col-lg-4 col-md-4">
                                            <select class="form-control">
                                                <option value="1">------------</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Phòng ban</label>
                                        <div class="col-lg-4 col-md-4">
                                            <select class="form-control">
                                                <option value="1">------------</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Giới tính</label>
                                        <div class="col-lg-4 col-md-4">
                                            <select class="form-control">
                                                <option value="1">Nam</option>
                                                <option value="2">Nữ</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Trạng thái</label>
                                        <div class="col-lg-4 col-md-4">
                                            <select class="form-control">
                                                <option value="1">Được chọn nhiều</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="visapassport">
                            <div class="row">
                                <div class="col-md-12">
                                    <label><b>CMND</b></label>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Số CMND</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Ngày cấp</label>
                                        <div class="col-lg-10 col-md-10">
                                            <div class="input-group date form_datetime date date-picker" data-date-format="dd/mm/yyyy">
                                                <input type="text" class="form-control" readonly id="insert-ngaycap">
                                                <span class="input-group-btn">
                                                    <button class="btn default date-set" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Nơi cấp</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="thongtinkhac">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Dân tộc</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Tôn giáo</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Hộ khẩu TT</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Hôn nhân</label>
                                        <div class="col-lg-4 col-md-4">
                                            <select class="form-control">
                                                <option value="1">Độc thân</option>
                                                <option value="2">Kết hôn</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Số nội bộ</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Bằng cấp</label>
                                        <div class="col-lg-4 col-md-4">
                                            <select class="form-control">
                                                <option value="1">Trung cấp</option>
                                                <option value="2">Cao đẳng</option>
                                                <option value="3">Đại học</option>
                                                <option value="4">Cao học</option>
                                                <option value="5">Thạc sĩ</option>
                                            </select>
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Chuyên môn</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Ngoại ngữ</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Tin học</label>
                                        <div class="col-lg-4 col-md-4">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Số TKNH</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Ngân hàng</label>
                                        <div class="col-lg-10 col-md-10">
                                            <input type="text" value="" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn yellow"><i class="fa fa-floppy-o"></i>&nbsp;Lưu</button>
                        <button class="btn grey" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
                    </div>

                    <div class="col-md-12 margintop10">

                        <div class="table-responsive table-custom-format">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>tbUser</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.idParent, "idParent", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("idParent", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.idParent, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.idCompany, "idCompany", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("idCompany", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.idCompany, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.fullName, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.birthDay, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.birthDay, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.birthDay, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.idState, "idState", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("idState", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.idState, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.idJob, "idJob", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("idJob", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.idJob, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.healthStatus, "healthStatus", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("healthStatus", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.healthStatus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.phone2, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.phone2, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.phone2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.experience, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.experience, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.experience, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.trainingPlaces, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.trainingPlaces, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.trainingPlaces, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InternalNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.InternalNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.InternalNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.citizenship, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.citizenship, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.citizenship, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.city, "city", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("city", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.district, "district", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("district", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.district, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.passport, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.passport, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.passport, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.dateIssued, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.dateIssued, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.dateIssued, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.locationIssued, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.locationIssued, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.locationIssued, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.homeTown, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.homeTown, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.homeTown, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.resident, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.resident, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.resident, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.aspiration, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.aspiration, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.aspiration, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.sex, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.sex)
                                                @Html.ValidationMessageFor(model => model.sex, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.married, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.married)
                                                @Html.ValidationMessageFor(model => model.married, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.yogaLearned, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.yogaLearned)
                                                @Html.ValidationMessageFor(model => model.yogaLearned, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.skype, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.skype, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.skype, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.facebook, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.facebook, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.facebook, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.roleID, "roleID", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("roleID", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.roleID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.position, "position", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("position", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.department, "department", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("department", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.department, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.groupMemb, "groupMemb", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("groupMemb", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.groupMemb, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.userRole, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.userRole, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.userRole, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.dateUnlock, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.dateUnlock, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.dateUnlock, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.dateLock, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.dateLock, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.dateLock, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.lever, "lever", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("lever", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.lever, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.bonusScore, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.bonusScore, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.bonusScore, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.accumulativePoint, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.accumulativePoint, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.accumulativePoint, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.salary, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.salary, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.salary, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.partTime, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.partTime)
                                                @Html.ValidationMessageFor(model => model.partTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.working, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.working)
                                                @Html.ValidationMessageFor(model => model.working, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.dateToWork, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.dateToWork, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.dateToWork, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.dateTrialEnds, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.dateTrialEnds, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control" , @type = "date"} })
                                            @Html.ValidationMessageFor(model => model.dateTrialEnds, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.codeHDLD, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.codeHDLD, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.codeHDLD, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IssuedDateHDLD, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.IssuedDateHDLD, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.IssuedDateHDLD, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HDLDStartDate, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.HDLDStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.HDLDStartDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HDLDEndDate, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.HDLDEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.HDLDEndDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.codeBHXH, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.codeBHXH, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.codeBHXH, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.taxCode, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.taxCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.taxCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.locationRegisterTaxCode, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.locationRegisterTaxCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.locationRegisterTaxCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.banking, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.banking, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.banking, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.locked, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.locked)
                                                @Html.ValidationMessageFor(model => model.locked, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.reason, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.reason, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.reason, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
