@model IEnumerable<MOLUX.Models.web_SocialNetwork>
@{
    ViewBag.Title = "Danh sách mạng xã hội";
}

@{int i = 1;}

<section class="content-header">
    <h1>
        Danh sách mạng xã hội
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Danh sách mạng xã hội</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="callout callout-info lead">
                        <a href="@Url.Action("Index", "SocialNetworkManage")" class="btn btn-primary"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                    </div>
                </div>
                <div class="box-body" id="data-customer">
                    <table id="tableDictionary" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>STT</th>
                                <th>Tên mạng xã hội</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="rowItem@(item.Id)">
                                    <td>
                                        <a class="btn btn-xs btn-warning cursorpointer" onclick="editItem(@item.Id)"><i class="fa fa-pencil"></i>&nbsp;Sửa</a>
                                        @*<a class="cursorpointer" onclick="deleteItem(@item.Id)"><i class="fa fa-trash"></i>&nbsp;Xóa</a>*@
                                    </td>
                                    <td>@i</td>
                                    <td>
                                        <img src="~/Images/Logo/@item.Icon" title="@item.Name" alt="@item.Name" />
                                        @item.Name
                                    </td>
                                    <td>@item.URL</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="data-edit"></div>

@section scripts{
    <script>
        function editItem(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/Admin/SocialNetworkManage/Edit',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#data-edit").html(data);
                    $("#modal-edit-social").modal("show");
                }
            });
        }
    </script>
}