@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model tbl_Staff
@{ 
    var sumNumDayOff = ViewBag.sumNumDayOff;
}
<div class="row">
    @if (Model != null)
    {
        var _staffTime = LoadData.GetTimeWorkingDayOffByStaffID(Model.Id);
        <div class="col-md-4">
            <p><b>Họ tên:</b>&nbsp;@Model.FullName</p>
            <p><b>Ngày sinh:</b>&nbsp;@(Model.Birthday != null ? Model.Birthday.Value.ToString("dd-MM-yyyy") : "")</p>
            <p><b>Nguyên quán:</b>&nbsp;@Model.HouseholdAdress</p>
            <p><b>Địa chỉ:</b>&nbsp;@Model.Address</p>
            <p><b>CMND:</b>&nbsp;@Model.IdentityCard</p>
            <p><b>Ngày cấp:</b>&nbsp;@(Model.CreatedDateIdentity != null ? Model.CreatedDateIdentity.Value.ToString("dd-MM-yyyy") : "")</p>
            <p><b>Nơi cấp:</b> @(Model.IdentityTagId != null ? Model.tbl_TagsIdentity.Tag : "")</p>
            <p><b>Số TKNH:</b> @Model.AccountNumber</p>
            <p><b>Ngày vào làm:</b> &nbsp;@(Model.StartWork != null ? Model.StartWork.Value.ToString("dd-MM-yyyy") : "")</p>
            <p><b>Tình trạng:</b> @(Model.IsLock ==true ? "Đã nghỉ việc" : "Đang làm việc")</p>
            @{
                if (Model.IsLock)
                {
                    if (_staffTime.Years > 0)
                    {
                    <p><b>Thời gian làm việc:</b> @_staffTime.Years năm @_staffTime.Months tháng @_staffTime.Days ngày </p>
                    }
                    else
                    {
                    <p><b>Thời gian làm việc:</b> @_staffTime.Months tháng @_staffTime.Days ngày </p>
                    }
                }
            }
            <p><b>Số ngày phép cũ:</b> @(Model.NumberDayOffOld != null ? Model.NumberDayOffOld : 0) ngày (@(DateTime.Now.Year-1))</p>
            <p><b>Số ngày phép:</b> @_staffTime.DayOffPerYear ngày (@DateTime.Now.Year)</p>
            <p><b>Diễn giải:</b> @Html.Raw(Model.Note)</p>
        </div>
        <div class="col-md-4">
            <p><b>Mã số:</b>&nbsp;@Model.Code</p>
            <p><b>Điện thoại:</b>&nbsp;@Model.Phone</p>
            <p><b>Số nội bộ:</b>&nbsp;@Model.InternalNumber</p>
            <p><b>Email:</b>&nbsp;@Model.Email</p>
            <p><b>Chức vụ:</b>&nbsp;@(Model.PositionId != null ? Model.tbl_DictionaryPosition.Name : "")</p>
            <p><b>Phòng ban:</b>&nbsp;@(Model.DepartmentId != null ? Model.tbl_DictionaryDepartment.Name : "")</p>
            <p><b>Nhóm:</b>&nbsp;@(Model.StaffGroupId != null ? Model.tbl_DictionaryStaffGroup.Name : "")</p>
            <p><b>Ngân hàng:</b>&nbsp;@Model.Bank</p>
            <p><b>Ngày kí HĐ chính thức:</b> &nbsp;@(Model.ContractDate != null ? Model.ContractDate.Value.ToString("dd-MM-yyyy") : "")</p>
            
            <p><b>@(Model.IsLock == true ? "Ngày nghỉ việc: " : "")</b> @(Model.IsLock == true ? Model.EndWork.Value.ToString("dd-MM-yyyy") : "")</p>
            @{
                if (!Model.IsLock)
                {
                    if (_staffTime.Years > 0)
                    {
                        <p><b>Thời gian làm việc:</b> @_staffTime.Years năm @_staffTime.Months tháng @_staffTime.Days ngày </p>
                    }
                    else
                    {
                        <p><b>Thời gian làm việc:</b> @_staffTime.Months tháng @_staffTime.Days ngày </p>
                    }
                }
                else
                {
                    <br />
                    <br />
                }
            }
            
            <p><b>Số ngày đã nghỉ phép:</b>&nbsp;@sumNumDayOff ngày (@DateTime.Now.Year)</p>
            <p><b>Số ngày phép còn lại  :</b>&nbsp;@Model.NumdayOffLeft ngày (@DateTime.Now.Year)</p>
        </div>
    <div class="col-md-4">
        <p><b>Hình ảnh</b><br />
            <img src="/Upload/file/@Model.Image" class="img-responsive" style="width: 200px" />
        </p>
    </div>
    }
</div>
