@model CRM_TTV.tbCategory

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            @*<button class="btn green fileContainer">
                                    <i class="fa fa-file-excel-o"></i>&nbsp;Excel
                                    <input type="file" name="Export" class="form-control" />
                                </button>*@
                            @*<select class="form-control" style="width: 150px; display: inline; padding-top: 4px;">
                                    <option>Sheet 1</option>
                                    <option>Sheet 2</option>
                                    <option>Sheet 3</option>
                                </select>*@
                            <button class="btn yellow"><i class="fa fa-floppy-o"></i>&nbsp;@Html.ActionLink("Edit", "Edit", new { id = Model.idCategory })</button>

                            <button class="btn yellow"><i class="fa fa-floppy-o"></i>&nbsp;Lưu</button>
                            <button class="btn grey" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
                        </div>
                        <div class="col-md-12 margintop10">
                            <div class="table-responsive table-custom-format">
                               

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4>tbCategory</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.idCategory)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.idCategoryType, "idCategoryType", htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.DropDownList("idCategoryType", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.idCategoryType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.sort, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.sort, new { htmlAttributes = new { @class = "form-control", @Value = "9999" } })
                                                @Html.ValidationMessageFor(model => model.sort, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Save" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
