@using CRM.Core
@using TOURDEMO.Utilities
@model IEnumerable<tbl_Evaluation>
@{
    int i = 1;
}
<table class="table table-bordered table-hover dataTable" id="tableDictionary">
    <thead>
        <tr>
            <th class="width24"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th class="table-checkbox">
                <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
            </th>
            <th>STT</th>
            <th>Hướng dẫn viên</th>
            <th>Vùng miền</th>
            <th>Tỉnh thành</th>
            <th>Điểm</th>
            <th>Nội dung</th>
            <th>Tour</th>
            <th>Người nhập</th>
            <th>Ngày nhập</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="odd gradeX">
                <td class="width24">
                    <input type="checkbox" value="@item.Id" class="cbItem" name="cb" onclick="CheckSelect()" />
                </td>
                <td style="text-align: center">@i</td>
                <td>@(item.tbl_Staff != null ? item.tbl_Staff.FullName : "")</td>
                <td>@(item.tbl_TagsArea != null ? item.tbl_TagsArea.Tag : "")</td>
                <td>@(item.tbl_TagsProvince != null ? item.tbl_TagsProvince.Tag : "")</td>
                <td>@item.Point</td>
                <td>@item.Note</td>
                <td>@(item.tbl_Tour != null ? item.tbl_Tour.Name : "")</td>
                <td>@(item.tbl_StaffCreate != null ? item.tbl_StaffCreate.FullName : "")</td>
                <td>@(item.CreatedDate != null ? item.CreatedDate.ToString("dd-MM-yyyy") : "")</td>
            </tr>
            i++;
        }
    </tbody>
</table>
