@using TOURDEMO.Utilities
@model CRM.Core.tbl_Partner

<div class="modal fade bs-modal-lg" id="modal-insert-event" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Sự kiện</h4>
            </div>
            @using (Ajax.BeginForm("CreateEvent", "TourService", null, new AjaxOptions { OnFailure = "OnFailureTourService", OnSuccess = "OnSuccessTourService", UpdateTargetId = "dichvu" }, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row OptionEvent" id="OptionEvent1">
                            <div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <a data-toggle="collapse" data-target="#demo-event1" style="cursor: pointer" class="btn btn-default OptionEventA"><i class="fa fa-minus"></i></a>
                                            <span class="caption-subject bold uppercase font-purple eventTitle">OPTION 1</span>
                                        </div>
                                        <div class="actions actionsOptionEvent">
                                            <button type="button" style="cursor: pointer" class="btn btn-danger btnRemoveOptionEvent" disabled="disabled" onclick="removeOptionEvent()"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="portlet-body OptionEventBody collapse in" id="demo-event1">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4">Đối tác</label>
                                                    <div class="col-lg-8 col-md-8">
                                                        <select class="form-control insert-company-event" name="insert-company-event1" id="insert-company-event1" style="width: 100%">
                                                            <option>-- Chọn đối tác sự kiện --</option>
                                                            @foreach (var item in LoadData.EventList())
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4">File</label>
                                                    <div class="col-lg-8 col-md-8">
                                                        <input type="file" class="form-control insert-file-event" name="FileNameEvent" id="insert-file-event1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4">Code</label>
                                                    <div class="col-lg-8 col-md-8">
                                                        <input type="text" name="insert-code-event1" class="form-control insert-code-event" id="insert-code-event1" readonly="readonly" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-4 col-md-4">Tổng giá trị</label>
                                                    <div class="col-lg-5 col-md-5">
                                                        <input type="number" min="0" class="form-control insert-price-event" id="insert-price-event1" name="insert-price-event1" />
                                                    </div>
                                                    <div class="col-lg-3 col-md-3">
                                                        <select class="form-control insert-currency-event"  style="width: 100%" id="insert-currency-event1" name="insert-currency-event1">
                                                            @foreach (var item in LoadData.CurrencyList())
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2 col-md-2">Người liên hệ</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <input type="text" class="form-control insert-contact-event" id="insert-contact-event1" name="insert-contact-event1" />
                                                    </div>
                                                    <label class="control-label col-lg-2 col-md-2">Điện thoại</label>
                                                    <div class="col-lg-4 col-md-4">
                                                        <input type="text" class="form-control insert-phone-event" name="insert-phone-event1" id="insert-phone-event1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                                    <div class="col-lg-10 col-md-10">
                                                        <textarea class="form-control insert-note-event" name="insert-note-event1" id="insert-note-event1"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="portlet light bordered DeadlineEvent" id="DeadlineEvent11">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <a data-toggle="collapse" data-target="#deadline-event11" style="cursor: pointer" class="btn btn-default deadline-event-a"><i class="fa fa-minus"></i></a>
                                                            <span class="caption-subject bold uppercase font-purple DeadlineEventTitle">Deadline 1</span>
                                                        </div>
                                                        <div class="actions">
                                                            <button type="button" class="btn btn-default btnNewDealineEvent" onclick="addNewDeadlineEvent(1)"> <i class="fa fa-plus"></i></button>
                                                            <button type="button" style="cursor: pointer" class="btn btn-danger btnRemoveDealineEvent" disabled="disabled" onclick="removeDeadlineEvent(1,1)"><i class="fa fa-times"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body deadline-event-body collapse in" id="deadline-event11">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-2 col-md-2">Tên</label>
                                                                    <div class="col-lg-4 col-md-4">
                                                                        <input name="deadline-name-event11"  id="deadline-name-event11" type="text" class="form-control deadline-name-event" />
                                                                    </div>
                                                                    <label class="control-label col-lg-2 col-md-2">Deposit</label>
                                                                    <div class="col-lg-2 col-md-2">
                                                                        <input name="deadline-total-event11"  id="deadline-total-event11" type="number" min="0" class="form-control deadline-total-event" />
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-2">
                                                                        <select id="deadline-currency-event11" name="deadline-currency-event11" style="width: 100%" class="form-control deadline-currency-event">
                                                                            @foreach (var item in LoadData.CurrencyList())
                                                                            {
                                                                            <option value="@item.Id">@item.Name</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-2 col-md-2">Thời gian</label>
                                                                    <div class="col-lg-4 col-md-4">
                                                                        <input type="date" class="form-control deadline-thoigian-event"  name="deadline-thoigian-event11" id="deadline-thoigian-event11" />
                                                                    </div>
                                                                    <label class="control-label col-lg-2 col-md-2">Tình trạng</label>
                                                                    <div class="col-lg-4 col-md-4">
                                                                        <select class="form-control deadline-status-event"  id="deadline-status-event11" style="width:100%;" name="deadline-status-event11">
                                                                            @foreach (var item in LoadData.StatusProcessList())
                                                                            {
                                                                                <option value="@item.Id">@item.Name</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                                                    <div class="col-lg-10 col-md-10">
                                                                        <textarea class="form-control deadline-note-event" id="deadline-note-event11" name="deadline-note-event11"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" value="1" name="NumberDeadlineEvent1" class="countDeadline" id="countDeadlineEvent1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <input type="hidden" value="1" name="NumberOptionEvent" id="countOptionEvent" />
                    <button type="button" class="btn btn-success" onclick="addNewOptionEvent()">Thêm option</button>
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
