@model IEnumerable<TOURDEMO.Models.ContractCustomerReportViewModel>
@using TOURDEMO.Utilities
@{
    int i = 1;
}

<div class="table-scrollable table-custom-format" id="tableDictionary-Wrapper">
    <table class="table table-bordered table-hover dataTable" id="tableDictionary">
        <thead>
            <tr>
                <td class="width24"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table-checkbox">
                    <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                </th>
                <th>Khách hàng</th>
                <th>Địa chỉ</th>
                <th>Điện thoại</th>
                <th>Hợp đồng</th>
                <th>Ngày ký</th>
                <th>Tổng giá trị HĐ</th>
                <th>Nhân viên</th>
                <th>Ngày nhập</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="width24">
                            <input type="checkbox" value="@item.Id" id="cb@(item.Id)" class="cbItem" name="cb" onclick="CheckSelect()" />
                        </td>
                        <td>@item.Customer</td>
                        <td>@item.Address</td>
                        <td>@item.Phone</td>
                        <td>@item.ContractCode</td>
                        <td>@item.ContractDate</td>
                        <td class="textalignright">@item.TotalPrice</td>
                        <td>@item.Staff</td>
                        <td>@item.CreateDate</td>
                    </tr>
                    i++;
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Tổng cộng:</th>
                <th class="textalignright" style="padding-right: 5px">@string.Format("{0:0,0}", Model.Sum(p => p.Price))</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>