@using CRM.Core
@using TOURDEMO.Utilities
@model tbl_MailTemplates
@{
    ViewBag.Title = "Thêm mới mẫu email";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>THÊM MỚI MẪU EMAIL</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    @using (Html.BeginForm("Create", "MailTemplate"))
    {
        <div class="note note-info">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary" href="@Url.Action("Index", "MailTemplate")"><i class="fa fa-reply"></i>&nbsp;Quay lại</a>
                    <a class="btn btn-default" href="@Url.Action("Create", "MailTemplate")"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                    <button class="btn green" type="submit"><i class="fa fa-floppy-o"></i>&nbsp;Lưu</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Tên mẫu </label>
                                        <div class="col-lg-4 col-md-4">
                                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        </div>
                                        <label class="control-label col-lg-2 col-md-2">Loại mẫu</label>
                                        <div class="col-lg-4 col-md-4">
                                            <select class="form-control" id="insert-category" name="MailCategoryId" style="width: 100%">
                                                @foreach (var item in LoadData.MailCategory())
                                            {
                                            <option value="@item.Id">@item.Name</option>
                                            }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2">Nội dung </label>
                                        <div class="col-lg-10 col-md-10">
                                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", id = "insert-noidung" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- END PAGE BASE CONTENT -->
</div>

@section scripts{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Content");
        $("#insert-category").select2();
    </script>
}