@using CRM.Core
@using TOURDEMO.Utilities
@model IEnumerable<tbl_AppointmentHistory>

    <div class="table-scrollable table-custom-format">
        <table class="table table-bordered table-hover dataTable" id="tableDictionary">
            <thead>
                <tr>
                    <td class="width24"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="table-checkbox">
                        <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                    </th>
                    <th>Tiêu đề</th>
                    <th>Ngày hẹn</th>
                    <th>Trạng thái</th>
                    <th>Khách hàng</th>
                    <th>Đối tác</th>
                    <th>Tour</th>
                    <th>Nhân viên</th>
                    <th>Ngày nhập</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td class="width24">
                            <input type="checkbox" id="cb@(item.Id)" class="cbItem" value="@item.Id" name="cb" onclick="CheckSelect()" />
                        </td>
                        <td class="textalignleft">@item.Title</td>
                        <td>@string.Format("{0:dd-MM-yyyy hh:mm tt}", item.Time)</td>
                        <td style="@(item.tbl_DictionaryStatus != null ? "color: #fff; background-color: " + item.tbl_DictionaryStatus.Note + "" : "")">@(item.tbl_DictionaryStatus != null ? item.tbl_DictionaryStatus.Name : "")</td>
                        <td class="textalignleft">@(item.tbl_Customer != null ? item.tbl_Customer.FullName : "")</td>
                        <td class="textalignleft">@(item.tbl_Partner != null ? item.tbl_Partner.Name : "")</td>
                        <td class="textalignleft">@(item.tbl_Tour != null ? item.tbl_Tour.Name : "")</td>
                        <td class="textalignleft">@item.tbl_Staff.FullName @(", ") @LoadData.LoadStaff(item.OtherStaff)</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", item.CreatedDate)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



