@model IEnumerable<MOLUX.Models.web_Slider>
@{
    ViewBag.Title = "Quản lý trang giới thiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{int i = 1;}


<section class="content-header">
    <h1>
        Danh sách hình ảnh chạy slide trên trang giới thiệu
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Danh sách hình ảnh chạy slide trên trang giới thiệu</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="callout callout-info lead">
                        <a href="@Url.Action("Index", "PageIntro")" class="btn btn-primary"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                        <a href="#modal-insert-manufacturer" data-toggle="modal" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Thêm</a>
                        
                    </div>
                </div>
                <div class="box-body" id="data-customer">
                    <table id="tableDictionary" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sắp xếp</th>
                                <th>Hình ảnh</th>
                                <th>Link</th>
                                <th>Vị trí</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="rowItem@(item.Id)">
                                    <td>
                                        <a class="btn btn-xs btn-warning cursorpointer" onclick="editItem(@item.Id)"><i class="fa fa-pencil"></i>&nbsp;Sửa</a>
                                        <a class="btn btn-xs btn-danger cursorpointer" onclick="deleteItem(@item.Id)"><i class="fa fa-trash"></i>&nbsp;Xóa</a>
                                    </td>
                                    <td>@item.Orders</td>
                                    <td><img class="img img-responsive" style="width: 150px" src="~/Images/Slider/@item.Image" /></td>
                                    <td><a href="@item.Link" title="@item.Link">@item.Link</a></td>
                                    <td>@(item.Type == 4 ? "Đầu trang" :"Ảnh công ty")</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_PartialCreate", new MOLUX.Models.web_Slider())

<div id="data-edit"></div>

@section scripts{
    <script>
        function editItem(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/Admin/PageIntro/Edit',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    
                    $("#data-edit").html(data);
                    $("#modal-edit-manufacturer").modal("show");
                }
            });
        }

        function deleteItem(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/Admin/PageIntro/Delete',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#rowItem" + id).hide();
                },
                error: function (data) {
                    alert("Lỗi, không xóa được, hình ảnh đang được sử dụng!");
                }
            });
        }
    </script>
}

