@using CRM.Core
@using TOURDEMO.Utilities
@model TOURDEMO.Models.TourViewModel

<div class="modal fade  bs-modal-lg" id="modal-home-tour" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thêm tour mới</h4>
            </div>
            @using (Html.BeginForm("CreateTour", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="tabbable-custom" id="tab-insert-customer">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#thongtinchungtourhome" data-toggle="tab">Thông tin chung</a>
                                </li>
                                <li>
                                    <a href="#huongdanvienhome" data-toggle="tab">Hướng dẫn viên</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="thongtinchungtourhome">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Tên tour</label>
                                                <div class="col-lg-10 col-md-10">
                                                    @Html.TextBoxFor(model => model.SingleTour.Name, new { @class = "form-control",  })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Code tour</label>
                                                <div class="col-lg-8 col-md-8">
                                                    <input type="text" value="" class="form-control" name="SingleTour.Code" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Ngày khởi hành</label>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.StartDateTour, new { type = "date", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Ngày về</label>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.EndDateTour, new { type = "date", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Điều hành</label>
                                                <div class="col-lg-8 col-md-8">
                                                    <select name="SingleTour.StaffId" id="home-manager-tour" class="form-control" style="width: 100%">
                                                        @foreach (var item in LoadData.StaffList())
                                                        {
                                                            <option value="@item.Id">[@item.Code] @item.FullName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Số ngày</label>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.SingleTour.NumberDay, new { @class = "form-control", type = "number", min = "0" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Nơi đi</label>
                                                <div class="col-lg-8 col-md-8">
                                                    <select class="form-control" id="home-start-place" style="width: 100%" name="SingleTour.StartPlace">
                                                        @foreach (var item in LoadData.DropdownlistLocation())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Nơi đến</label>
                                                <div class="col-lg-8 col-md-8">
                                                    <select class="form-control" id="home-destination-place" style="width: 100%" name="SingleTour.DestinationPlace">
                                                        @foreach (var item in LoadData.DropdownlistLocation())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Loại tour</label>
                                                <div class="col-lg-8 col-md-8">
                                                    <select class="form-control" id="home-type-tour" style="width: 100%" name="SingleTour.TypeTourId">
                                                        @foreach (var item in LoadData.TourTypeList())
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Phân quyền</label>
                                                <div class="col-lg-10 col-md-10">
                                                    <select class="form-control" multiple="multiple" id="home-permission-tour" style="width: 100%" name="SingleTour.Permission">
                                                        @foreach (var item in LoadData.StaffList())
                                                        {
                                                            <option value="@item.Id">[@item.Code] @item.FullName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                                <div class="col-lg-10 col-md-10">
                                                    @Html.TextAreaFor(model => model.SingleTour.Request, new { @class = "form-control", id = "home-request-tour" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="huongdanvienhome">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Nhân viên</label>
                                                <div class="col-lg-8 col-md-8">
                                                    <select class="form-control" id="home-guide-tour" style="width: 100%" name="SingleTourGuide.StaffId">
                                                        @foreach (var item in LoadData.StaffList())
                                                        {
                                                            <option value="@item.Id">[@item.Code] @item.FullName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Ngày đi</label>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.StartDateTourGuide, new { type = "date", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Ngày về</label>
                                                <div class="col-lg-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.EndDateTourGuide, new { type = "date", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-4 col-md-4">Điểm khởi hành</label>
                                                <div class="col-lg-8 col-md-8">
                                                    <select class="form-control" id="home-startplace-tourguide" style="width: 100%" name="SingleTourGuide.TagId">
                                                        @foreach (var item in LoadData.DropdownlistLocation())
                                                        {
                                                            <option value="@item.Id">@item.Tags</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
