@using TOURDEMO.Utilities
@using CRM.Core
@model tbl_Task

<div id="id-task">@Model.Id</div>
<div id="title-task">@Model.Name</div>
<div id="body-task">
    Ngày: @string.Format("{0:dd-MM-yy hh:mm tt}", Model.CreatedDate)
    Khách hàng: @(Model.CustomerId != null ? Model.tbl_Customer.FullName : "")
    Nhân viên tham gia: @(Model.StaffId != null ? Model.tbl_Staff.FullName : "") @(Model.Permission != null ? ", " + LoadData.LoadStaff(Model.Permission) : "")
    Ghi chú: @Html.Raw(Model.Note)
</div>