@model TOURDEMO.Models.AppointmentViewModel

<div class="tab-pane page-quick-sidebar-alerts active" id="quick_sidebar_tab_2" style="max-height: 730px">
    <div class="page-quick-sidebar-alerts-list">
        <h3 class="list-heading">Lịch hẹn hôm nay</h3>
        <ul class="feeds list-items">
            @foreach (var item in Model.TodayList)
            {
                <li onclick="DetailAppointment(@item.Id)" style="cursor: pointer">
                    <div class="col1">
                        <div class="cont">
                            <div class="cont-col1">
                                <div class="label label-sm label-info">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                            </div>
                            <div class="cont-col2">
                                <div class="desc">
                                    @item.Title
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="date">@string.Format("{0:hh:mm tt}", item.Time) </div>
                    </div>
                </li>
            }
        </ul>
        <h3 class="list-heading">Lịch hẹn ngày mai</h3>
        <ul class="feeds list-items">
            @foreach (var item in Model.TomorrowList)
            {
                <li onclick="DetailAppointment(@item.Id)" style="cursor: pointer">
                    <div class="col1">
                        <div class="cont">
                            <div class="cont-col1">
                                <div class="label label-sm label-info">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                            </div>
                            <div class="cont-col2">
                                <div class="desc">
                                    @item.Title
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="date">@string.Format("{0:hh:mm tt}", item.Time) </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>