@using MOLUX.Models
@using MOLUX.Helper
@model HomeViewModel

@{
    ViewBag.Title = ConfigWebsite.Data().MetaTitle;
    ViewBag.MetaDescription = ConfigWebsite.Data().MetaDescription;
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<!--Catalog-->
<div class="row menu-flex">
    <div class="menu-banner-video">
        @Html.Partial("_Partial_Category")
        <!--slider-->
        @Html.Action("_Partial_Slider1", "Home")
        <!--end slider-->
    </div>
</div>
@{int ProcessId = 0;}
@foreach (var parent in Model.ParentCode.ToList())
{
    
    <div class="row hidden-lg mgTop mgBottom">
        <span class="title-tag-m">
            <a href="/san-pham/pr@(parent.RowID)-@(parent.Code)/@Common.MakeUrlSlug(parent.Name)">@parent.Name</a>
        </span>
        @*<a href="" title="Điều hòa Panasonic" class="tag-m">Panasonic</a>
            <a href="" title="Điều hòa Daikin" class="tag-m">Daikin</a>
            <a href="" title="Điều hòa Daikin" class="tag-m">LG</a>
            <a href="" title="Điều hòa Samsung" class="tag-m">Samsung</a>
            <a href="" title="Điều hòa" class="tag-m">Tất cả</a>*@
    </div>
    <div class="row bg-white product-list">
        <div class="title-product">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 hidden-xs hidden-sm hidden-md padLeftNo padRightNo">
                <div class="title">
                    <a href="/san-pham/pr@(parent.RowID)-@(parent.Code)/@Common.MakeUrlSlug(parent.Name)">@parent.Name</a>
                </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 hidden-xs hidden-sm hidden-md border-bt">
                <div class="title-list-product">
                    <ul>
                        @foreach (var child in Category.Level3Category(parent.RowID))
                        {
                            <li><a href="/san-pham/li@(child.RowID)-@(child.Code)/@Common.MakeUrlSlug(child.Name)?sort=0&manufacturer=0" title="@child.Name">@child.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-white">
        <div class="col-lg-12 list-nm">
            @foreach (var _item in Product.GetRowID(parent.RowID))
            {
                foreach (var item in Product.Linh_ProductLevel1(_item.RowID))
                {


                    <div class="col-lg-15 col-lg-3 col-md-2 col-sm-2 col-xs-4 border-rb border-home product">
                        <div class="fixed-image-auto-height owl-item">
                            <a href="/san-pham/ct@(item.RowID)/@Common.MakeUrlSlug(item.Name)" title="@item.Name">
                                @*<div class="image-wrapper">
                                        @if (item.IsNew == true || item.IsSale == true )
                                        {
                                            <p class="salenew hidden-xs">
                                                <img src="~/Images/Logo/@(item.IsSale == true ? ConfigWebsite.Data().IconSale : ConfigWebsite.Data().IconNew)" class="m-lazy img-responsive" title="" alt="" style="width: 40px" />
                                            </p>
                                        }
                                        <img src="http://103.53.231.68:400/MCS/@item.Picture" onerror="this.src='/Images/Products/noimage.gif'" class="m-lazy img-responsive" alt="@item.Name" style="padding: 10px">
                                        @if (!string.IsNullOrEmpty(item.LogoManufacturer))
                                        {
                                            <p class="manufacturer hidden-xs">
                                                <img src="~/Images/Manufacturer/@item.LogoManufacturer" class="m-lazy img-responsive" title="" alt="" style="width: 80px" />
                                            </p>

                                        }
                                    </div>*@
                                <div class="image-wrapper">
                                    @if (item.Item_Code == item.Item_Code_2 && item.Item_Code != null && DateTime.Now.Date >= item.From_Date && DateTime.Now.Date <= item.To_Date)
                                    {
                                        <p class="salenew hidden-xs" style="margin: 10px 10px">
                                            <img src="~/Images/Logo/@ConfigWebsite.Data().IconSale" class="m-lazy img-responsive" title="" alt="" style="width: 40px" />
                                            <div style="position: absolute; right: 13px;top:15px;  height:30px;color:red; font-size:20px">@item.Price %</div>
                                        </p>
                                    }
                                    <img src="http://103.53.231.68:400/MCS/@item.LogoManufacturer" onerror="this.src='/Images/Products/noimage.gif'" class="m-lazy img-responsive" alt="@item.Name" style="padding: 0 10px">
                                    @if (!string.IsNullOrEmpty(item.LogoManufacturer))
                                    {
                                        <p class="manufacturer hidden-xs">
                                            <img src="~/Images/Manufacturer/@item.LogoManufacturer" class="m-lazy img-responsive" title="" alt="" style="width: 80px" />
                                        </p>
                                    }
                                </div>
                            </a>
                        </div>
                        <div class="product-name">
                            <a title="@item.Name" href="/san-pham/ct@(item.RowID)/@Common.MakeUrlSlug(item.Name)">@item.Name</a>
                        </div>
                        <div class="col-md-12 nk-price-section clearfix">
                            @if (item.Item_Code == item.Item_Code_2 && item.Item_Code != null && DateTime.Now.Date >= item.From_Date && DateTime.Now.Date <= item.To_Date)
                            {
                                <div class="col-md-7" style="text-align: left;">
                                    <span class="nk-price-txt"><span>@string.Format("{0:0,0}", item.Sale_Price - item.Sale_Price * item.Price / 100).Replace(",", ".")</span>đ</span>
                                </div>
                                <div class="col-md-5" style="text-align: right; padding-right: 5px;">
                                    <div class="nk-old-price"><span>@string.Format("{0:0,0}", item.Sale_Price).Replace(",", ".")</span>đ </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-7" style="text-align: left;">
                                    <span class="nk-price-txt"><span>@string.Format("{0:0,0}", item.Sale_Price).Replace(",", ".")</span>đ</span>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

