@model CRM_TTV.tbScience

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbScience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studyTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minimumStudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minimumStudents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalCoaches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalCoaches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEducation.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEducation.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbServicePack.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbServicePack.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbSpecialized.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbSpecialized.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
