@model CRM_TTV.tbScience
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4"><strong>Khóa học</strong></label>
                <label class="col-md-8">@Model.name</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Ngày bắt đầu</strong></label>
                <label class="col-md-8">@string.Format("{0:dd-MM-yyyy}", Model.startDate)</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Ngày kết thúc</strong></label>
                <label class="col-md-8">@string.Format("{0:dd-MM-yyyy}", Model.endDate)</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Số buổi học</strong></label>
                <label class="col-md-8">@Model.studyTime</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Giá khóa học</strong></label>
                <label class="col-md-8">@string.Format("{0:0,0}", Model.unitPrice)</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Số HV tối thiểu</strong></label>
                <label class="col-md-8">@Model.minimumStudents</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Số lượng HLV</strong></label>
                <label class="col-md-8">@Model.totalCoaches</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4"><strong>Chương trình</strong></label>
                <label class="col-md-8">@(Model.tbEducation != null ? Model.tbEducation.name : "")</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Chuyên ngành</strong></label>
                <label class="col-md-8">@(Model.tbServicePack != null ? Model.tbServicePack.name : "")</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Ghi chú</strong></label>
                <label class="col-md-8">@Model.note</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>Ngày nhập</strong></label>
                <label class="col-md-8">@string.Format("{0:dd-MM-yyyy}", Model.createDate)</label>
            </div>
            <div class="form-group">
                <label class="col-md-4"><strong>NV nhập</strong></label>
                <label class="col-md-8">@Model.createBy</label>
            </div>
        </div>
    </div>
</div>