@using TOURDEMO.Utilities
@using CRM.Core
@model tbl_Program

<div class="modal fade  bs-modal-lg" id="modal-insert-program" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Chương trình</h4>
            </div>
            @using (Html.BeginForm("Create", "ProgramsManage"))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Code</label>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" name="Code" id="Code" value="@GenerateCode.ProgramCode()" class="form-control"  readonly="readonly" />
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Tour</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" id="insert-tour" name="TourId" style="width: 100%">
                                            <option>-- Chọn tour --</option>
                                            @foreach (var item in LoadData.TourList())
                                            {
                                                <option value="@item.Id">[@item.Code] @item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Trạng thái</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" id="insert-status" name="StatusId" style="width: 100%">
                                            @foreach (var item in LoadData.StatusProcessList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Tên chương trình</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control",  })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "insert-note" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
