@using CRM.Core
@using TOURDEMO.Utilities
@model IEnumerable<tbl_Program>

@{
    ViewBag.Title = "Quản lý Chương trình";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>DANH SÁCH CHƯƠNG TRÌNH</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" href="@Url.Action("Index", "ProgramsManage")"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                @if (ViewBag.IsAdd != null && ViewBag.IsAdd)
                {<button class="btn btn-primary" id="btnAdd" href="#modal-insert-program" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Thêm</button>}
                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                {<button class="btn btn-warning" id="btnEdit"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>}
                @if (ViewBag.IsDelete != null && ViewBag.IsDelete)
                {<button class="btn btn-danger" id="btnRemove"><i class="fa fa-remove"></i>&nbsp;Xóa</button>
                    <form action="@Url.Action("Delete", "ProgramsManage")" method="post" style="position:absolute">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="listItemId" name="listItemId" />
                    </form>
                }
                @if (ViewBag.IsEdit != null && ViewBag.IsEdit)
                {
                    <button class="btn btn-success" id="btnWork"><i class="fa fa-cogs"></i>&nbsp;Xử lý</button>
                }
                @if (ViewBag.IsExport != null && ViewBag.IsExport)
                {<label class="btn btn-info fileContainer">
                    <a><i class="icon-action-undo"></i>&nbsp;<input type="file" name="Export" id="btnExport" class="form-control" />&nbsp;Export</a>
                </label>
                    using (Html.BeginForm("ExportFile", "ProgramsManage", FormMethod.Post, new { enctype = "multipart/form-data", id = "exportForm" }))
                    { }
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="table-responsive table-custom-format" id="tableDictionary-Wrapper">
                        <table class="table table-bordered table-hover dataTable" id="tableDictionary">
                            <thead>
                                <tr>
                                    <td class="width24"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="table-checkbox">
                                        <input type="checkbox" id="allcb" name="allcb" onclick="SelectAllCb()" />
                                    </th>
                                    <th>Mã chương trình</th>
                                    <th>Tên chương trình</th>
                                    <th>Tình trạng</th>
                                    <th>Code tour</th>
                                    <th>Tour</th>
                                    <th>Quốc gia</th>
                                    <th>Số ngày</th>
                                    <th>Ngày up</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td class="width24">
                                            <input type="checkbox" value="@item.Id" id="cb@(item.Id)" class="cbItem" name="cb" onclick="CheckSelect()" />
                                        </td>
                                        <td>@item.Code</td>
                                        <td class="textalignleft" style="width: 150px">@item.Name</td>
                                        <td style="@(item.StatusId != null ? "color: #fff; background-color: " + item.tbl_DictionaryStatus.Note + "" : "")">@(item.StatusId != null ? item.tbl_DictionaryStatus.Name : "")</td>
                                        <td>@(item.TourId != null ? item.tbl_Tour.Code : "")</td>
                                        <td class="textalignleft" style="width: 150px">@(item.TourId != null ? item.tbl_Tour.Name : "")</td>
                                        <td class="textalignleft">@(item.TagsId != null ? LoadData.LocationTags(item.TagsId) : "")</td>
                                        <td>@item.NumberDay</td>
                                        <td>@string.Format("{0:dd-MM-yyyy}", item.CreatedDate)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="tabbable-custom" id="tabbable-custom">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#thongtinchitiet" data-toggle="tab" id="tabthongtinchitiet">Thông tin chương trình</a>
                            </li>
                            <li>
                                <a href="#tailieumau" data-toggle="tab" id="tabtailieumau">Tài liệu mẫu</a>
                            </li>
                            <li>
                                <a href="#chitiettour" data-toggle="tab" id="tabchitiettour">Chi tiết tour</a>
                            </li>
                            <li>
                                <a href="#lichsuinvoicedoitac" data-toggle="tab" id="tablichsuinvoicedoitac">Lịch sử invoice đối tác</a>
                            </li>
                            <li>
                                <a href="#lichsulienhe" data-toggle="tab" id="tablichsulienhe">Lịch sử liên hệ</a>
                            </li>
                            <li>
                                <a href="#lichhen" data-toggle="tab" id="tablichhen">Lịch hẹn</a>
                            </li>
                            <li>
                                <a href="#nhatkyxuly" data-toggle="tab" id="tabnhatkyxuly">Nhật ký xử lý</a>
                            </li>
                            <li>
                                <a href="#capnhatthaydoi" data-toggle="tab" id="tabcapnhatthaydoi">Cập nhật thay đổi</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="thongtinchitiet" data-id="thongtinchitiet">
                                @*Thông tin hợp đồng*@
                                @Html.Action("_ThongTinChiTiet", "ProgramTabInfo")
                            </div>
                            <div class="tab-pane" id="tailieumau" data-id="tailieumau">
                                @*File đính kèm / tài liệu*@
                                @Html.Action("_TaiLieuMau", "ProgramTabInfo")
                            </div>
                            <div class="tab-pane" id="chitiettour" data-id="chitiettour">
                                @*Chi tiết tour*@
                                @Html.Action("_ChiTietTour", "ProgramTabInfo")
                            </div>
                            <div class="tab-pane" id="lichsuinvoicedoitac" data-id="lichsuinvoicedoitac">
                                @*Lịch sử invoice đối tác*@
                                @Html.Action("_LichSuInvoiceDoiTac", "ProgramTabInfo")
                            </div>
                            @*<div class="tab-pane" id="congno" data-id="congno">
                                    @Html.Action("_CongNo", "ProgramTabInfo")
                                </div>*@
                            <div class="tab-pane" id="lichhen" data-id="lichhen">
                                @*Lịch hẹn*@
                                @Html.Action("_LichHen", "ProgramTabInfo")
                            </div>
                            <div class="tab-pane" id="nhatkyxuly" data-id="nhatkyxuly">
                                @*Nhật ký xử lý*@
                                @Html.Action("_NhatKyXuly", "ProgramTabInfo")
                            </div>
                            <div class="tab-pane" id="lichsulienhe" data-id="lichsulienhe">
                                @*Lịch sử liên hệ*@
                                @Html.Action("_LichSuLienHe", "ProgramTabInfo")
                            </div>
                            <div class="tab-pane" id="capnhatthaydoi" data-id="capnhatthaydoi">
                                @*Cập nhật thay đổi*@
                                @Html.Action("_CapNhatThayDoi", "ProgramTabInfo")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>

<!--tab tài liệu mẫu-->
@Html.Partial("~/Views/ProgramOtherTab/_Partial_InsertDocument.cshtml", new tbl_DocumentFile())
<div id="info-data-document">
</div>

<!--tab Lịch Hẹn-->
@Html.Partial("~/Views/ProgramOtherTab/_Partial_InsertAppointmentHistory.cshtml", new tbl_AppointmentHistory())
<div id="info-data-appoinment">
</div>

<!----- lịch sử liên hệ ----->
@Html.Partial("~/Views/ProgramOtherTab/_Partial_InsertContactHistory.cshtml", new tbl_ContactHistory())
<div id="info-data-contacthistory">
</div>

@Html.Partial("_Partial_InsertProgram", new tbl_Program())
<div id="edit-data">
</div>
@Html.Partial("_Partial_WorkProgram", new tbl_UpdateHistory())


@section scripts{
<script src="~/Content/ckeditor-basic/ckeditor.js"></script>
    <script src="~/Scripts/controller/program.js"></script>
    <script src="~/Scripts/controller/programother.js"></script>
    <script>
        CKEDITOR.replace("insert-document-note");
        CKEDITOR.replace("insert-note-lichhen");
        CKEDITOR.replace("insert-note-lienhe");
    </script>
    <script>
        function btnCreateFile() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 đối tác!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };
                $.ajax({
                    type: "POST",
                    url: '/ProgramsManage/GetIdProgram',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-document-type").select2();
                        $("#insert-tag-document").select2();
                        $("#modal-insert-document").modal("show");
                    }
                });
            }
        }

        function btnAddLichHen() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 đối tác!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };
                $.ajax({
                    type: "POST",
                    url: '/ProgramsManage/GetIdProgram',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-tour-lichhen").select2();
                        $("#insert-program-lichhen").select2();
                        $("#insert-task-lichhen").select2();
                        $("#insert-status-lichhen").select2();
                        $("#insert-service-lichhen").select2();
                        $("#insert-partner-lichhen").select2();
                        $("#insert-type-lichhen").select2();
                        $("#insert-partner-lichhen").select2();
                        $("#insert-staff-customer").select2();
                        ///
                        $("#insert-check-notify").click(function () {
                            if (this.checked) {
                                $("#insert-nhactruoc-lichhen").removeAttr("disabled", "disabled");
                                $("#insert-nhactruoc-lichhen").select2();
                            }
                            else {
                                $("#insert-nhactruoc-lichhen").attr("disabled", "disabled");
                            }
                        });

                        $("#insert-check-repeat").click(function () {
                            if (this.checked) {
                                $("#insert-laplai-lichhen").removeAttr("disabled", "disabled");
                                $("#insert-laplai-lichhen").select2();
                            }
                            else {
                                $("#insert-laplai-lichhen").attr("disabled", "disabled");
                            }
                        });
                        $("#modal-insert-appointment").modal("show");
                    }
                });
            }
        }

        $('#FileName').change(function () {
            var data = new FormData();
            data.append('FileName', $('#FileName')[0].files[0]);
            var ajaxRequest = $.ajax({
                type: "POST",
                url: 'ProgramsManage/UploadFile',
                contentType: false,
                processData: false,
                data: data
            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Onsuccess
            });
        });

        function OnSuccessAppointment() {
            $('form').trigger("reset");
            CKupdate();
            $("#modal-insert-appointment").modal("hide");
            $("#modal-edit-appointment").modal("hide");

            $("#modal-insert-contacthistory").modal("hide");
            $("#modal-edit-contacthistory").modal("hide");

            $("#modal-insert-document").modal("hide");
            $("#modal-edit-document").modal("hide");
        }

        function OnFailureAppointment() {
            $('form').trigger("reset");
            CKupdate();
            alert("Lỗi, vui lòng kiểm tra lại!");
            $("#modal-insert-appointment").modal("hide");
            $("#modal-edit-appointment").modal("hide");

            $("#modal-insert-contacthistory").modal("hide");
            $("#modal-edit-contacthistory").modal("hide");

            $("#modal-insert-document").modal("hide");
            $("#modal-edit-document").modal("hide");
        }

        /** xóa tài liệu **/
        function deleteDocument(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/ProgramsManage/DeleteDocument',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    alert("Xóa dữ liệu thành công!!!");
                    $("#tailieumau").html(data);
                }
            });
        }

        /** cập nhật tài liệu **/
        function updateDocument(id) {
            var dataPost = { id: id };
            $.ajax({
                type: "POST",
                url: '/ProgramsManage/EditInfoDocument',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#info-data-document").html(data);
                    $("#edit-tag-document").select2();
                    $("#edit-document-type").select2();
                    CKEDITOR.replace("edit-document-note");
                    $("#modal-edit-document").modal("show");
                    /**** update in tab file của khách hàng ****/
                    $("#btnUpdateFile").click(function () {
                        var $this = $(this);
                        var $form = $("#frmUpdateFile");
                        var $parent = $form.parent();
                        var options = {
                            url: $form.attr("action"),
                            type: $form.attr("method"),
                            data: $form.serialize()
                        };

                        $.ajax(options).done(function (data) {
                            $("#modal-edit-document").modal("hide");
                            alert("Lưu dữ liệu thành công!");
                            $("#tailieumau").html(data);
                        });
                        return false;
                    });

                    /** upload file **/
                    $("#edit-file").change(function () {
                        var data = new FormData();
                        data.append('FileName', $('#edit-file')[0].files[0]);
                        var ajaxRequest = $.ajax({
                            type: "POST",
                            url: 'ProgramsManage/UploadFile',
                            contentType: false,
                            processData: false,
                            data: data
                        });

                        ajaxRequest.done(function (xhr, textStatus) {
                            // Onsuccess
                        });
                    });
                }
            });
        }

        $('#insert-service-lichhen').change(function () {
            $.getJSON('/ProgramOtherTab/LoadPartner/' + $('#insert-service-lichhen').val(), function (data) {
                var items = '<option value=' + 0 + '>-- Chọn đối tác --</option>';
                $.each(data, function (i, ward) {
                    items += "<option value='" + ward.Value + "'>" + ward.Text + "</option>";
                });
                $('#insert-partner-lichhen').html(items);
            });
        });

        function btnAddLichSuLienHe() {
            if ($("table#tableDictionary").find('tr.oneselected').length === 0) {
                alert("Vui lòng chọn 1 khách hàng!");
            }
            else {
                var dataPost = { id: $("table#tableDictionary").find('tr.oneselected').find("input[type='checkbox']").val() };

                $.ajax({
                    type: "POST",
                    url: '/ProgramsManage/GetIdProgram',
                    data: JSON.stringify(dataPost),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                        $("#insert-type-lienhe").select2();
                        //$("#insert-ngay-lienhe").datepicker();
                        $("#modal-insert-contacthistory").modal("show");
                    }
                });
            }
        }
    </script>
}
