@using CRM.Core
@using TOURDEMO.Utilities
@model tbl_ReceiptBill

<div class="modal fade  bs-modal-lg" id="modal-edit-bill" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Phiếu thu</h4>
            </div>
            @using (Html.BeginForm("Update", "ReceiptBillManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.IsDelete)
                @Html.HiddenFor(model => model.StaffId)
                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.FileName)
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Số phiếu</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Tour</label>
                            <div class="col-md-10">
                                <select class="form-control" id="edit-tour" name="TourId" style="width: 100%">
                                    <option>-- Chọn tour --</option>
                                    @foreach (var item in LoadData.TourList())
                                    {
                                        <option value="@item.Id" @(Model.TourId == item.Id ? "selected" : "")>[@item.Code] @item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Khách hàng</label>
                            <div class="col-md-10">
                                <select class="form-control" id="edit-customer" name="CustomerId" style="width: 100%">
                                    <option>-- Chọn tour --</option>
                                    @foreach (var item in LoadData.CustomerList())
                                    {
                                        <option value="@item.Id" @(Model.CustomerId == item.Id ? "selected" : "")>[@item.Code] @item.FullName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Tổng tiền</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.TotalPrice, new { @class = "form-control" })
                            </div>
                            <label class="control-label col-md-2">Loại tiền</label>
                            <div class="col-md-4">
                                <select class="form-control" id="edit-currency" name="CurrencyId" style="width: 100%">
                                    @foreach (var item in LoadData.CurrencyList())
                                    {
                                        <option value="@item.Id" @(Model.CurrencyId == item.Id ? "selected" : "")>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Trạng thái</label>
                            <div class="col-md-4">
                                <select class="form-control" id="edit-status" name="StatusId" style="width: 100%">
                                    @foreach (var item in LoadData.BillStatusList())
                                    {
                                        <option value="@item.Id" @(Model.StatusId == item.Id ? "selected" : "")>@item.Name</option>
                                    }
                                </select>
                            </div>
                            <label class="control-label col-md-2">Chứng từ gốc</label>
                            <div class="col-md-4">
                                <a href="~/Upload/file/@Model.FileName">@Model.FileName</a>
                                @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", type = "file" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Lý do</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Reason, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Ghi chú</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Note, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>